<script>
  window._trustvox_shelf_rate = window._trustvox_shelf_rate || [];
  _trustvox_shelf_rate.push(['_storeId', '<%- options.trustvoxStoreId %>']);
  _trustvox_shelf_rate.push(['_productContainer', '.products-carousel, .retail-grid']);
  window.productCardRatingHtml = function (product) {
    return '<div data-trustvox-product-code="' + product.sku + '"></div>';
  };
</script>

<% if (_.route.resource === 'products') { %>
  <script>
    (function () {
      window._trustvox = [];
      _trustvox.push(['_storeId', '<%- options.trustvoxStoreId %>']);
      var body = window.storefront.context.body;
      _trustvox.push(['_productId', window._trustvoxProductId || body.sku]);
      _trustvox.push(['_productName', body.name]);
      if (body.pictures && body.pictures.length) {
        _trustvox.push(['_productPhotos', body.pictures.map(function (picture) {
          return ecomUtils.img(picture).url;
        })]);
      }

      storefront.on('widget:@ecomplus/widget-product', function () {
        setTimeout(function () {
          var $trustvoxScript = document.createElement('script');
          $trustvoxScript.src = 'https://rate.trustvox.com.br/widget.js';
          $trustvoxScript.async = true;
          document.body.appendChild($trustvoxScript);
        }, 800);
      });
    }());
  </script>

  <script
    async
    src="<%- options.widgetSrc || 'https://static.trustvox.com.br/assets/widget.js' %>"
  ></script>
<% } else { %>
  <script>
    (function () {
      storefront.on('widget:@ecomplus/widget-product-card', function () {
        const $searchEngine = document.getElementById('search-engine');
        const addTrustvoxScript = () => {
          setTimeout(function () {
            const $trustvoxScript = document.createElement('script');
            $trustvoxScript.src = 'https://rate.trustvox.com.br/widget.js';
            $trustvoxScript.async = true;
            document.body.appendChild($trustvoxScript);
          }, 800);
        };
        if ($searchEngine) {
          const callback = () => {
            searchEngineObserver.disconnect();
            const $retailRow = $searchEngine.querySelectorAll('.search-engine__retail > .row')[0];
            const rowObserver = new MutationObserver(() => {
              addTrustvoxScript();
              rowObserver.disconnect();
            });
            rowObserver.observe($retailRow, { childList: true, subtree: true });
          };
          const searchEngineObserver = new MutationObserver(callback);
          searchEngineObserver.observe($searchEngine, { attributes: true, childList: true });
        } else {
          addTrustvoxScript();
        }
      });
    }());
  </script>
<% } %>

<% if (!options.disable_certificate) { %>
  <script defer src="https://certificate.trustvox.com.br/widget.js"></script>
<% } %>
