<div data-slot="rating">
  <a
    class="trustvox-fluid-jump trustvox-widget-rating"
    href="#trustvox-reviews"
    title="Pergunte e veja opiniões de quem já comprou"
  >
    <div
      class="trustvox-shelf-container d-inline-block"
      data-trustvox-product-code-js="storefront.context.body.sku"
      data-trustvox-should-skip-filter="true"
      data-trustvox-display-rate-schema="true"
    ></div>
    <span style="top: -3px; display: inline-block; position: relative; color: #DAA81D;">
      Clique e veja!
    </span>
  </a>
</div>
