.account-points {
  &__entry small {
    text-transform: lowercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__entry-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
