.picture {
  display: inline-block;
  width: 100%;
  background-color: var(--gray);
  transition: opacity .15s, background-color .1s;
  overflow: hidden;

  &:not(.loaded) {
    opacity: .4;
    height: 100%;
  }

  &.loaded {
    background-color: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
