.buy-together {
  &__title {
    text-align: center;
  }

  &__row {
    justify-content: center;
    align-items: center;
  }

  &__item {
    max-width: 275px;
    margin: 0 auto;
    padding-bottom: 2rem !important;

    &::after {
      content: '+';
      position: absolute;
      right: 50%;
      font-size: 1.5rem;
    }

    &:last-child::after {
      content: '=';
    }

    @media (min-width: 767px) {
      max-width: none;
      padding-right: var(--spacer-2);
      padding-left: var(--spacer-2);

      &::after {
        top: 50%;
        right: 0;
      }
    }
  }
}
