.cart-item {
  margin-bottom: var(--spacer-3);
  overflow-x: auto;

  @media (min-width: 992px) {
    margin-bottom: var(--spacer-4);
  }

  &__container {
    width: 100%;
    min-width: 250px;
    display: flex;
    align-items: center;
  }

  &__thumb {
    width: 90px;
    margin-right: var(--spacer-2);

    @media (min-width: 576px) {
      margin-right: var(--spacer-3);
    }

    .picture:not(.loaded) {
      height: 90px;
    }
  }

  &__data {
    position: relative;
    flex: 1;
  }

  &__name {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    margin-bottom: var(--spacer-2);

    &-subtitle {
      display: block;
    }
  }

  &__quantity {
    display: inline-block;
    width: 75px;
    margin-top: var(--spacer-1);
    margin-bottom: var(--spacer-2);
  }

  &__prices {
    float: right;
    text-align: right;
    margin: var(--spacer-1) var(--spacer-2);
    line-height: var(--line-height-sm);
  }

  &__price-un {
    font-size: calc(var(--font-size-sm) * .9);
    color: var(--gray);
  }

  .close {
    padding-left: var(--spacer-2);
    color: var(--danger);
    font-size: var(--font-size);
  }

  &__freebie {
    float: right;
    padding: 0 var(--spacer-2);
    text-transform: lowercase;
    color: var(--success);
  }

  &--freebie .cart-item__prices {
    text-decoration: line-through;
    font-size: var(--font-size-sm);
  }
}
