.minicart {
  &__aside {
    position: fixed;
    width: 365px;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1100;
    border-radius: 0;
  }

  &__body {
    overflow-y: auto;
  }

  &__summary {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--spacer-3);
  }

  &__subtotal {
    text-align: right;
    color: var(--secondary);
  }
}
