.payment-option {
  > .row {
    align-items: center;
  }

  &:not(:first-of-type) {
    margin-top: var(--spacer-2);
  }

  &__icon {
    max-width: 100%;
    height: auto;
  }

  &__label {
    font-size: var(--font-size-lg);
    font-weight: var(--font-light);
  }

  &__price {
    font-weight: var(--font-bold);
  }

  &__discount {
    text-transform: lowercase;
    font-size: var(--font-size);
  }

  &__installment {
    margin-bottom: 0;
    font-size: var(--font-size-sm);

    > li {
      display: flex;
      justify-content: space-between;
    }
  }

  small {
    text-transform: lowercase;
  }
}
