.product-kit-variation {
  max-width: 350px;
  &__item {
    display: flex;
    align-items:flex-start;
    overflow-x: hidden;
    flex-direction: column;
    margin-bottom: .5rem;
    max-width: 350px;

    a {
      color: inherit;
    }

    picture {
      flex: 0 0 115px;
      width: 115px;
      height: auto;
      margin-right: .5rem;

      img {
        border-radius: var(--border-radius);
      }
    }

    small {
      line-height: 1.3;
      display: inline-block;
    }
  }

  &__info {
    h2 {
      font-size: var(--font-size-sm);
    }
  }

  &__item-head {
    display: flex;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  &__buy {
    button {
      width: 100%;
    }
  }

  &__actions {
    button {
      text-transform: uppercase;
    }
  }

  .glide__pagination {
    text-align: center;
    padding-bottom: 10px;
  }
}
