$product-card-picture-xs: 180px;
$product-card-picture-sm: 200px;
$product-card-picture-lg: 250px;

.product-card {
  position: relative;
  padding: var(--spacer-2);
  font-size: var(--font-size);
  border-radius: var(--border-radius);

  &__offer-stamp {
    background-color: var(--success);
    color: var(--success-yiq);
    min-width: 55px;
    font-size: 80%;
    line-height: 2.2;
    text-align: center;
    position: absolute;
    z-index: 9;
    top: 1rem;
    right: 0;
    border-radius: var(--border-radius);
    transition: border-radius .3s;
    opacity: .9;

    i,
    svg {
      font-size: 85%;
      opacity: .8;
    }
  }

  &__link {
    outline: none;
  }

  &__pictures {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  &__picture {
    position: absolute;
    display: block;
    border-radius: var(--border-radius);
    flex: 0 0 100%;

    &:not(:last-child) {
      opacity: 0;

      &.picture {
        background-color: none;
      }
    }

    &.loaded:last-child {
      transition: opacity .15s ease-out .1s;
      position: inherit;
      opacity: 1;
    }
  }

  @each $sel, $prop in ('__pictures': 'height', '__picture img': 'max-height') {
    &#{$sel} {
      #{$prop}: $product-card-picture-xs;

      @media (min-width: 576px) {
        #{$prop}: $product-card-picture-sm;
      }
      @media (min-width: 992px) {
        #{$prop}: $product-card-picture-lg;
      }
    }
  }

  &__name {
    padding-top: var(--spacer-1);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    height: calc(var(--line-height-sm) * var(--font-size-sm) * 3);
    box-sizing: content-box;
    overflow: hidden;
    font-weight: var(--font-normal);
    display: block;
    z-index: 1;
  }

  &__prices .prices__value:first-child {
    margin-top: calc(var(--line-height) * var(--font-size));
  }

  &__buy {
    margin-top: var(--spacer-1);
  }

  &:hover {
    box-shadow: var(--box-shadow-sm);

    .product-card__offer-stamp {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .product-card__picture.loaded {
      position: inherit;
      opacity: 1;

      + .picture {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
    }

    .product-card__buy {
      opacity: 1;
    }
  }

  &--inactive,
  &--inactive img {
    opacity: .7;
  }

  &--small {
    @each $sel, $prop in ('__pictures': 'height', '__picture img': 'max-height') {
      .product-card#{$sel} {
        #{$prop}: $product-card-picture-xs * .5;

        @media (min-width: 576px) {
          #{$prop}: $product-card-picture-sm * .5;
        }
        @media (min-width: 992px) {
          #{$prop}: $product-card-picture-lg * .5;
        }
      }
    }

    .product-card__name {
      padding-top: var(--spacer-2);
      height: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .product-card__buy {
      position: absolute;
      bottom: var(--spacer-3);
      right: var(--spacer-3);
    }
  }
}
