.gallery {
  max-width: 810px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;

  @media (min-width: 992px) {
    margin-bottom: 0;
  }

  &__thumbs {
    z-index: 2;
    position: absolute;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-flex;
    top: 100%;
    margin-top: -35px;

    @media (min-width: 992px) {
      position: static;
      display: block;
      flex-basis: 90px;
      margin: 0 20px 0 0;
      left: auto;
      bottom: auto;
      overflow-y: auto;
    }
  }

  &__item {
    opacity: .5;
    transition: opacity .15s linear;
    cursor: pointer;
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      display: block;
      content: " ";
      height: 10px;
      width: 10px;
      background: var(--gray);
      border-radius: 50%;
    }

    &--selected {
      cursor: auto;
      opacity: 1;

      &::before {
        background: var(--secondary);
      }
    }

    &--video {
      font-size: 11px;
      margin-top: -3px;

      &::before,
      > span {
        display: none;
      }
    }

    @media (min-width: 992px) {
      margin: 0 0 var(--spacer-2);

      &::before {
        display: none;
      }

      &--video {
        padding: var(--spacer-2) 0;
        font-size: var(--font-size);

        i,
        svg {
          color: var(--primary-light);
          margin-right: var(--spacer-1);
        }

        > span {
          display: inline;
        }
      }
    }
  }

  &__stage {
    flex: 1;
    overflow: hidden;
    user-select: none;
  }

  &__thumb,
  &__thumb img {
    display: none;

    @media (min-width: 992px) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__open {
    display: none;

    @media (min-width: 992px) {
      font-weight: var(--font-bold);
      font-size: var(--font-size-lg);
      padding: 0 var(--spacer-2);
      display: inline-block;
      margin-bottom: var(--spacer-2);
    }
  }

  &__big-image {
    cursor: zoom-in;
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

$pswp__assets-path: "https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/default-skin/";
$pswp__root-z-index: 1999;

@import "photoswipe/src/css/main";
@import "photoswipe/src/css/default-skin/default-skin";

.pswp {
  &__caption__center {
    @media (min-width: 992px) {
      text-align: center;
    }
  }

  .btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
