.recommended-items {
  &__title {
    text-align: center;
  }

  &__load-more {
    text-align: center;
    margin-bottom: var(--spacer-3);
  }

  .row {
    justify-content: space-around;
  }

  .product-card {
    margin-bottom: var(--spacer-2);

    &__buy {
      opacity: 1;
      position: static;
      display: block;
    }
  }
}
