.shipping-calculator {
  &__input {
    max-width: 150px;
  }

  &__services {
    max-width: 350px;
    font-size: var(--font-size-sm);

    .active {
      cursor: auto;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__free-from-value {
    margin-top: var(--spacer-2);

    .progress {
      height: 1.5rem;
      margin-top: var(--spacer-1);

      &-bar {
        background-color: var(--info);
      }
    }
  }
}
