.shipping-line {
  > strong {
    display: inline-block;
    min-width: 120px;
  }

  > span {
    display: inline-block;
  }

  > small {
    display: block;
    display: -webkit-box;
    line-height: var(--line-height-sm);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-muted);
  }
}
