
.product {
  &__sku {
    color: var(--text-muted);
    font-size: var(--font-size-sm);
  }

  &__buy {
    cursor: pointer;
    margin-bottom: var(--spacer-3);
  }

  &__unavailable,
  &__quote-product,
  &__out-of-stock {
    font-weight: var(--font-bold);
    font-size: var(--font-size-lg);
    color: var(--warning);
    margin-bottom: var(--spacer-3);
  }

  &__discount {
    color: var(--success);
  }

  &__short-stock {
    font-weight: var(--font-light);
    text-transform: lowercase;
    background: rgba(var(--info-rgb), .2);
    display: inline-block;
    padding: var(--spacer-1) var(--spacer-3);
    border-radius: var(--border-radius-sm);

    i,
    svg {
      color: var(--info);
    }
  }

  &__production {
    i,
    svg {
      color: var(--info);
    }

    strong {
      text-transform: lowercase;
    }
  }

  &__payment > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__free-shipping-from {
    font-size: var(--font-size);
    color: var(--secondary);
  }

  &__sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    padding: var(--spacer-2) var(--spacer-3);
    background: var(--body-bg);
    box-shadow: var(--box-shadow-lg);

    &-container {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      padding: var(--spacer-2) var(--spacer-5);
      margin-left: var(--spacer-3);
      white-space: nowrap
    }

    .prices {
      display: flex;
      align-items: center;
      gap: var(--spacer-2);
      white-space: nowrap;
      position: relative;
    }

    &-picture {
      width: auto;

      img {
        max-height: 70px;
        width: auto;
      }
    }

    &-info {
      display: flex;
      align-items: center;

      h5 {
        margin: 0 var(--spacer-3);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &-buy {
      display: flex;
    }
  }
  
  &__favorite i {
    opacity: 0.4;
    color: var(--red);

    &.active {
      opacity: 1;

      + span {
        color: var(--text-muted);
      }
    }
  }

  &__sale-timer {
    width: 100%;
    max-width: 300px;
    background-color: var(--secondary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-2);
    color: var(--secondary-light-yiq);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

    small {
      text-transform: lowercase;
    }
  }

  @media (max-width: 768px) {
    &__sticky-info {
      display: none;
    }
  }

  @media (max-width: 992px) {
    &__sticky {
      &-buy {
        width: 100%;
      }

      .btn {
        width: 100%;
        margin-left: 0;
      }

      .prices {
        display: none;
      }
    }
  }
}

.offers-variation-notification {
  margin: -1rem 0 1rem 0;
}
