.product {
  &__sku {
    color: var(--text-muted);
    font-size: var(--font-size-sm);
  }

  &__buy {
    cursor: pointer;
    margin-bottom: var(--spacer-3);
  }

  &__unavailable,
  &__out-of-stock {
    font-weight: var(--font-bold);
    font-size: var(--font-size-lg);
    color: var(--warning);
  }

  &__discount {
    color: var(--success);
  }

  &__short-stock {
    font-weight: var(--font-light);
    text-transform: lowercase;
    background: rgba(var(--info-rgb), .2);
    display: inline-block;
    padding: var(--spacer-1) var(--spacer-3);
    border-radius: var(--border-radius-sm);

    i,
    svg {
      color: var(--info);
    }
  }

  &__production {
    i,
    svg {
      color: var(--info);
    }

    strong {
      text-transform: lowercase;
    }
  }

  &__payment > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__free-shipping-from {
    font-size: var(--font-size);
    color: var(--secondary);
  }
}
