// Theming Bootstrap:
// https://getbootstrap.com/docs/4.3/getting-started/theming/

// Enable RFS by default
$enable-responsive-font-sizes: true !default;

// Brand colors
$primary:   #e83e8c !default;
$secondary: #333333 !default;

// Required Bootstrap SASS files
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom root with additional CSS vars for brand colors
@import "root";

// Bootstrap components and utils
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";

// Bootstrap Vue styles
@import "bootstrap-vue/src/index";

// Animate.css base styles and selected animations
// https://daneden.github.io/animate.css/
@import "animate.css/source/_base.css";
@import "animate.css/source/attention_seekers/bounce.css";
@import "animate.css/source/attention_seekers/flash.css";
@import "animate.css/source/attention_seekers/pulse.css";
@import "animate.css/source/attention_seekers/shake.css";
@import "animate.css/source/attention_seekers/wobble.css";
@import "animate.css/source/fading_entrances/fadeIn.css";
@import "animate.css/source/fading_entrances/fadeInDown.css";
@import "animate.css/source/fading_entrances/fadeInLeft.css";
@import "animate.css/source/fading_entrances/fadeInRight.css";
@import "animate.css/source/fading_entrances/fadeInUp.css";
@import "animate.css/source/fading_exits/fadeOut.css";
@import "animate.css/source/fading_exits/fadeOutDown.css";
@import "animate.css/source/fading_exits/fadeOutLeft.css";
@import "animate.css/source/fading_exits/fadeOutRight.css";
@import "animate.css/source/fading_exits/fadeOutUp.css";
@import "animate.css/source/sliding_entrances/slideInDown.css";
@import "animate.css/source/sliding_entrances/slideInLeft.css";
@import "animate.css/source/sliding_entrances/slideInRight.css";
@import "animate.css/source/sliding_entrances/slideInUp.css";
@import "animate.css/source/sliding_exits/slideOutDown.css";
@import "animate.css/source/sliding_exits/slideOutLeft.css";
@import "animate.css/source/sliding_exits/slideOutRight.css";
@import "animate.css/source/sliding_exits/slideOutUp.css";
@import "animate.css/source/zooming_entrances/zoomIn.css";
@import "animate.css/source/zooming_exits/zoomOut.css";
