<%
let items
if (!opt.items) {
  if (opt.sort) {
    opt.search.setSortOrder(opt.sort)
  }
  await opt.search.fetch()
  items = await opt.search.getItems()
} else {
  items = opt.items
}
%>

<section class="retail-grid">
  <div class="container">
    <div
      id="search-engine"
      <% if (opt.category_names) { %>
        data-categories="<%= JSON.stringify(opt.category_names) %>"
      <% } %>
      <% if (opt.brand_names) { %>
        data-brands="<%= JSON.stringify(opt.brand_names) %>"
      <% } %>
      <% if (opt.sort) { %>
        data-sort="<%= opt.sort %>"
      <% } %>
    >
      <% if (items.length) { %>
        <div id="search-engine-dock">
          <!--
            `SearchEngine` should be hydrated here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/SearchEngine.html
          -->
        </div>

        <div id="search-engine-snap">
          <article class="search-engine__retail">
            <div class="row">
              <% for (let i = 0; i < items.length; i++) { %>
                <div class="col-6 col-md-4 col-lg-3">
                  <%- await include('/@/sections/inc/product-item', {
                    _, opt: { item: items[i] }
                  }) %>
                </div>
              <% } %>
            </div>
          </article>
        </div>
      <% } %>
    </div>

    <div id="search-pagination">
      <!--
        `APagination` may be rendered here when enabled:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/APagination.html
      -->
    </div>
  </div>
</section>
