<%
const timestamp = Date.now()
if (!opt.start || timestamp > new Date(opt.start).getTime()) {
  if (timestamp < new Date(opt.end).getTime()) {
    %>
    <div
      class="timer"
      data-end="<%= opt.end %>"
      data-max-hours="<%= opt.max_hours %>"
    >
      <div class="timer__icon">
        <i class="i-stopwatch"></i>
      </div>
      <span class="timer__count">__:__:__</span>
      <% if (opt.notes) { %>
        <div class="timer__notes">
          <%= opt.notes %>
        </div>
      <% } %>
    </div>
    <%
  }
}
%>
