@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "header";
@import "product-card";
@import "product";
@import "footer";

body {
  padding-bottom: 40px!important;
}

main {
  .top-bar {
    background-color: $body-bg;

    &__nav {
      color: $body-color-secondary;
    }
  }

  .h1, .h2, .h5 {
    font-family: $playfair-display;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    letter-spacing: $character-spacing-0;
    color: $secondary;
  }
  .h1 {
    font-size: $font-size-40;
    line-height: $line-spacing-42;
  }

  .h2 {
    font-size: $font-size-32;
    line-height: $line-spacing-36;
  }

  .product__name, .h4, .h6 {
    font-family: $poppins;
    font-style: $font-style-normal;
    font-weight: $font-weight-600;
    letter-spacing: $character-spacing-0;
    color: $secondary;
  }

  .h4 {
    font-size: $font-size-24;
    line-height: $line-spacing-29;
  }

  .h5 {
    font-size: $font-size-18;
    line-height: $line-spacing-22;
  }

  .h6 {
    font-size: $font-size-16;
    line-height: $line-spacing-19;
  }

  .breadcrumb-item {
    font-size: 12px;

    .i-home {
      font-size: $font-size-16;
    }

    & + .breadcrumb-item::before {
      content: '\226B';
      color: $secondary;
      padding-right: 11px;
      padding-left: 11px;
    }
    a {
      color: $secondary;
    }
  
    &.active {
      color: $primary;
    }
  }

  .banner-slider {
    .glide {
  
      &__bullet,
      &__bullet--active {
        background-color: $body-bg;
        border-color: #505050;
        border-radius: 6px;
      }

      @media (max-width: 575.98px) {
        &__bullet {
          width: 32px;
          height: 13px;
        }
      }
    }
    
    .glide__arrow {
      display: none;
    }
  }

  .info-bar {
    background-color: $body-bg;
    box-shadow: 0px 1px 0px rgba($black, .1);
  
    &__item {
      color: $secondary;
  
      &:hover {
        color: $secondary-text;
      }

      div {
        margin-left: 0;
        font-family: $playfair-display;
        font-size: $font-size-18;
        font-weight: bold;
        font-style: italic;
        text-transform: capitalize;
      }
    }

    @media (max-width: 575.98px) {
      &__nav {
        .col-auto {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }

  .products-carousel {
    &__title {
      color: $secondary;
      font-family: $playfair-display;
      font-size: $font-size-28;
      
      &::before {
        display: none;
      }    
    }

    .glide__arrow {
      color: $primary;
    }
  }

  .search-engine__count {
    color: $secondary;
  }
}
