@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

main {
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--secondary);
  }
  
  .h1, .h2, .h3, .h5, h1, h2, h3, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }
  
  .h4, .h6, h4, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .banner-slider {
    .glide {  
      &__bullet,
      &__bullet--active {
        background-color: $white;
        border-color: $gray-900;
      }
    }
  
  }
  
  .info-bar__item div {
    font-family: 'Playfair Display';
    text-transform: capitalize;
  }
  
  .breadcrumb-item {
    a {
      color: $secondary;
    }
  
    &.active {
      color: $primary;
    }
  }
  
  .product-card {
    a {
      color: $secondary;
    }
  
    .prices {
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--spacer-2);
  
      &__value {
        color: $primary;
      }
  
      &__compare {
        color: $price-old;
      }
  
      &__installments,
      &__discount {
        display: none
      }
    }
  
    &__offer-stamp {
      background-color: $primary;
    }
  }

  .products-carousel {
    .glide__arrow {
      color: $primary;
    }
  }
  
  .product {
    &__name {
      font-family: 'Poppins', serif;
      font-size: 1.5rem;
    }
  
    .prices {
      &__value {
        color: $primary;
      }
  
      &__compare {
        color: $secondary;
      }
    }
  
    .variations {
      &__grid-title {
        font-family: 'Poppins', serif;
        font-size: 1rem;
      }
  
      &__option {
        @media (hover: hover) {
          &:hover {
            border-color: var(--primary-light);
          }
        }
  
        &--selected:not(.disabled) {
          border-color: $primary;
          box-shadow: 0 0 0 .1rem rgba(var(--primary-rgb), .6);
        }
      }
    }
  
    .share-network-whatsapp {
      color: var(--secondary);
    }
  }
  
  .shipping-calculator {
  
    label,
    strong {
      color: $secondary;
    }
  
    .btn {
      background-color: $primary;
      color: $primary-yiq;
      border-color: $primary;
  
      &:hover {
        background-color: $primary-yiq;
        color: $primary
      }
    }
  
    .i-shipping-fast::before {
      content: "OK";
      font-family: 'Poppins', serif;
      font-weight: bold;
    }
  }
  
  .footer {
    background-color: $primary;
    color: $primary-yiq;
    border: none;
  
    &__social,
    .list-unstyled {
      a {
        color: $primary-yiq!important;
      }
    }
  
    &__title {
      color: $primary-yiq;
      font-weight: 700;
    }
  
    &__links{
      a {
        color: $primary-yiq;
        font-family: 'Poppins', serif;
        font-size: 80%;
      }

      .i-chevron-right::before {
        content: "";
      }
    }
  }
}
.header__nav {
  .header {
    div>&__category {
      color: $secondary-text;
      font-weight: bold;
      text-transform: capitalize;
  
      &:hover {
        color: $salmon-pink;
        background-color: transparent;
      }
    }
  
    &__submenu {
      a {
        color: $salmon-pink;
        text-transform: capitalize;
        font-weight: bold;
      }
  
      div > &-subcategory {
        color: $secondary-text;
        font-weight: normal;
      }
    }
  }
}

