.bg-primary {
  background-image: linear-gradient(#363636, #222222 60%, #181818);
  background-repeat: no-repeat;
}

.bg-dark {
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
}

.bg-light {
  background-image: linear-gradient(white, #e9ecef 60%, #e3e7eb);
  background-repeat: no-repeat;
}

.navbar-brand,
.nav-link {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-image: linear-gradient(#363636, #222222 60%, #181818);
  background-repeat: no-repeat;
}

.btn-secondary {
  background-image: linear-gradient(#8b8b8b, #777777 60%, #6d6d6d);
  background-repeat: no-repeat;
  color: #495057;
}

.btn-success {
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
  background-repeat: no-repeat;
}

.btn-info {
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
}

.btn-warning {
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-repeat: no-repeat;
}

.btn-danger {
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-repeat: no-repeat;
}

.btn-light {
  background-image: linear-gradient(white, #f8f9fa 60%, #eceff2);
  background-repeat: no-repeat;
}

.btn-dark {
  background-image: linear-gradient(#464e57, #343a40 60%, #2b3035);
  background-repeat: no-repeat;
}

.text-secondary {
  color: #adb5bd !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-success h1,
.bg-success h2,
.bg-success h3,
.bg-success h4,
.bg-success h5,
.bg-success h6,
.bg-info h1,
.bg-info h2,
.bg-info h3,
.bg-info h4,
.bg-info h5,
.bg-info h6,
.bg-warning h1,
.bg-warning h2,
.bg-warning h3,
.bg-warning h4,
.bg-warning h5,
.bg-warning h6,
.bg-danger h1,
.bg-danger h2,
.bg-danger h3,
.bg-danger h4,
.bg-danger h5,
.bg-danger h6,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6 {
  color: #fff;
}

.dropdown-menu .dropdown-header {
  color: #868e96;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner {
  overflow: hidden;
}
main .banner img {
  transition: all 10s;
}
main .banner:hover img {
  transform: scale(1.3);
}
main .header {
  border-bottom: none;
  height: 100px;
}
main .header__nav a {
  color: #777777;
  font-weight: var(--font-bold);
}
main .header__nav a:hover {
  border-bottom-color: #868e96;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #e9ecef;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  height: 100px;
}
main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}
main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}
main .footer {
  background-image: linear-gradient(rgba(248, 249, 250, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}