.bg-primary {
  background-image: linear-gradient(rgb(21.3333333333%, 21.3333333333%, 21.3333333333%), #222222 60%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
}

.bg-dark {
  background-image: linear-gradient(rgb(1.5832502493%, 31.665004985%, 60.6912595547%), #033c73 60%, rgb(0.9730807577%, 19.4616151545%, 37.3014290462%));
  background-repeat: no-repeat;
}

.bg-light {
  background-image: linear-gradient(white, #e9ecef 60%, rgb(89.0567595459%, 90.5490196078%, 92.0412796698%));
  background-repeat: no-repeat;
}

.navbar-brand,
.nav-link {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-image: linear-gradient(rgb(21.3333333333%, 21.3333333333%, 21.3333333333%), #222222 60%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
}

.btn-secondary {
  background-image: linear-gradient(rgb(54.6666666667%, 54.6666666667%, 54.6666666667%), #777777 60%, rgb(42.6666666667%, 42.6666666667%, 42.6666666667%));
  background-repeat: no-repeat;
  color: #495057;
}

.btn-success {
  background-image: linear-gradient(rgb(53.1816993464%, 75.7396078431%, 28.4956862745%), #73a839 60%, rgb(41.0091503268%, 59.9090196078%, 20.3262745098%));
  background-repeat: no-repeat;
}

.btn-info {
  background-image: linear-gradient(rgb(1.5832502493%, 31.665004985%, 60.6912595547%), #033c73 60%, rgb(0.9730807577%, 19.4616151545%, 37.3014290462%));
  background-repeat: no-repeat;
}

.btn-warning {
  background-image: linear-gradient(rgb(100%, 40.5429864253%, 2.6666666667%), #dd5600 60%, rgb(78.6666666667%, 30.6123680241%, 0%));
  background-repeat: no-repeat;
}

.btn-danger {
  background-image: linear-gradient(rgb(88.2843569146%, 16.7352509286%, 19.2457458754%), #c71c22 60%, rgb(71.0259998272%, 9.9936080159%, 12.1350954479%));
  background-repeat: no-repeat;
}

.btn-light {
  background-image: linear-gradient(white, #f8f9fa 60%, rgb(92.5882352941%, 93.6470588235%, 94.7058823529%));
  background-repeat: no-repeat;
}

.btn-dark {
  background-image: linear-gradient(rgb(27.5645706558%, 30.7450980392%, 33.9256254226%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
}

.text-secondary {
  color: #adb5bd !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-success h1,
.bg-success h2,
.bg-success h3,
.bg-success h4,
.bg-success h5,
.bg-success h6,
.bg-info h1,
.bg-info h2,
.bg-info h3,
.bg-info h4,
.bg-info h5,
.bg-info h6,
.bg-warning h1,
.bg-warning h2,
.bg-warning h3,
.bg-warning h4,
.bg-warning h5,
.bg-warning h6,
.bg-danger h1,
.bg-danger h2,
.bg-danger h3,
.bg-danger h4,
.bg-danger h5,
.bg-danger h6,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6 {
  color: #fff;
}

.dropdown-menu .dropdown-header {
  color: #868e96;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}

#ec-user-popover {
  margin-right: 0.5rem;
}