.bg-primary {
  background-image: linear-gradient(rgb(54.4, 54.4, 54.4), #222222 60%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
}

.bg-dark {
  background-image: linear-gradient(rgb(4.0372881356, 80.7457627119, 154.7627118644), #033c73 60%, rgb(2.4813559322, 49.6271186441, 95.1186440678));
  background-repeat: no-repeat;
}

.bg-light {
  background-image: linear-gradient(white, #e9ecef 60%, rgb(227.0947368421, 230.9, 234.7052631579));
  background-repeat: no-repeat;
}

.navbar-brand,
.nav-link {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-image: linear-gradient(rgb(54.4, 54.4, 54.4), #222222 60%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
}

.btn-secondary {
  background-image: linear-gradient(white, #fff 60%, rgb(244.8, 244.8, 244.8));
  background-repeat: no-repeat;
  color: #495057;
}

.btn-success {
  background-image: linear-gradient(rgb(135.6133333333, 193.136, 72.664), #73a839 60%, rgb(104.5733333333, 152.768, 51.832));
  background-repeat: no-repeat;
}

.btn-info {
  background-image: linear-gradient(rgb(4.0372881356, 80.7457627119, 154.7627118644), #033c73 60%, rgb(2.4813559322, 49.6271186441, 95.1186440678));
  background-repeat: no-repeat;
}

.btn-warning {
  background-image: linear-gradient(rgb(255, 103.3846153846, 6.8), #dd5600 60%, rgb(200.6, 78.0615384615, 0));
  background-repeat: no-repeat;
}

.btn-danger {
  background-image: linear-gradient(rgb(225.1251101322, 42.6748898678, 49.0766519824), #c71c22 60%, rgb(181.1162995595, 25.4837004405, 30.9444933921));
  background-repeat: no-repeat;
}

.btn-light {
  background-image: linear-gradient(rgb(91.615, 100.4, 109.185), #495057 60%, rgb(63.6925, 69.8, 75.9075));
  background-repeat: no-repeat;
}

.btn-dark {
  background-image: linear-gradient(rgb(70.2896551724, 78.4, 86.5103448276), #343a40 60%, rgb(42.8551724138, 47.8, 52.7448275862));
  background-repeat: no-repeat;
}

.text-secondary {
  color: #adb5bd !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-success h1,
.bg-success h2,
.bg-success h3,
.bg-success h4,
.bg-success h5,
.bg-success h6,
.bg-info h1,
.bg-info h2,
.bg-info h3,
.bg-info h4,
.bg-info h5,
.bg-info h6,
.bg-warning h1,
.bg-warning h2,
.bg-warning h3,
.bg-warning h4,
.bg-warning h5,
.bg-warning h6,
.bg-danger h1,
.bg-danger h2,
.bg-danger h3,
.bg-danger h4,
.bg-danger h5,
.bg-danger h6,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6 {
  color: #fff;
}

.dropdown-menu .dropdown-header {
  color: #6c757d;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #e9ecef;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #6c757d;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #e9ecef;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #e9ecef;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #343a40;
}
main .search-engine__nav {
  background-color: #343a40;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #6c757d;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #343a40;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}