.bg-primary {
  background-image: linear-gradient(rgb(54.4, 54.4, 54.4), #222222 60%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
}

.bg-dark {
  background-image: linear-gradient(rgb(4.0372881356, 80.7457627119, 154.7627118644), #033c73 60%, rgb(2.4813559322, 49.6271186441, 95.1186440678));
  background-repeat: no-repeat;
}

.bg-light {
  background-image: linear-gradient(white, #e9ecef 60%, rgb(227.0947368421, 230.9, 234.7052631579));
  background-repeat: no-repeat;
}

.navbar-brand,
.nav-link {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-image: linear-gradient(rgb(54.4, 54.4, 54.4), #222222 60%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
}

.btn-secondary {
  background-image: linear-gradient(rgb(70.2896551724, 78.4, 86.5103448276), #343a40 60%, rgb(42.8551724138, 47.8, 52.7448275862));
  background-repeat: no-repeat;
  color: #495057;
}

.btn-success {
  background-image: linear-gradient(rgb(135.6133333333, 193.136, 72.664), #73a839 60%, rgb(104.5733333333, 152.768, 51.832));
  background-repeat: no-repeat;
}

.btn-info {
  background-image: linear-gradient(rgb(245.2137931034, 246.4, 247.5862068966), #dee2e6 60%, rgb(210.3931034483, 215.8, 221.2068965517));
  background-repeat: no-repeat;
}

.btn-warning {
  background-image: linear-gradient(rgb(255, 103.3846153846, 6.8), #dd5600 60%, rgb(200.6, 78.0615384615, 0));
  background-repeat: no-repeat;
}

.btn-danger {
  background-image: linear-gradient(rgb(225.1251101322, 42.6748898678, 49.0766519824), #c71c22 60%, rgb(181.1162995595, 25.4837004405, 30.9444933921));
  background-repeat: no-repeat;
}

.btn-light {
  background-image: linear-gradient(white, #f8f9fa 60%, rgb(236.1, 238.8, 241.5));
  background-repeat: no-repeat;
}

.btn-dark {
  background-image: linear-gradient(rgb(70.2896551724, 78.4, 86.5103448276), #343a40 60%, rgb(42.8551724138, 47.8, 52.7448275862));
  background-repeat: no-repeat;
}

.text-secondary {
  color: #adb5bd !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-success h1,
.bg-success h2,
.bg-success h3,
.bg-success h4,
.bg-success h5,
.bg-success h6,
.bg-info h1,
.bg-info h2,
.bg-info h3,
.bg-info h4,
.bg-info h5,
.bg-info h6,
.bg-warning h1,
.bg-warning h2,
.bg-warning h3,
.bg-warning h4,
.bg-warning h5,
.bg-warning h6,
.bg-danger h1,
.bg-danger h2,
.bg-danger h3,
.bg-danger h4,
.bg-danger h5,
.bg-danger h6,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6 {
  color: #fff;
}

.dropdown-menu .dropdown-header {
  color: #6c757d;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #343a40;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #343a40;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
}
main #search-input {
  border: solid 1px #6c757d;
}