@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
body {
  -webkit-font-smoothing: antialiased;
}

.progress .progress-bar {
  font-size: 8px;
  line-height: 8px;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(34, 34, 34, 0.1)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #777777;
}
main .header__nav a:hover {
  color: #222222;
  background-color: transparent;
}
main .header__buttons .btn {
  padding: 2px;
}
main .header__row {
  display: flex;
  flex-direction: row;
}
main .header__row .col-auto {
  order: 1;
}
main .header__row .col {
  order: 2;
}
main .header__row .d-none {
  order: 3;
}
main .header__row #search-bar {
  order: 4;
}
main .header__row .order-lg-last {
  order: 5;
}
main #search-input {
  border: solid 1px #e9ecef;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.6)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
}
main .go-to-top {
  background-color: #777777;
}