body {
  -webkit-font-smoothing: antialiased;
}

.progress .progress-bar {
  font-size: 8px;
  line-height: 8px;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #373a3c;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #373a3c;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #868e96;
}
main #search-input {
  border: solid 1px #868e96;
}