@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
body {
  -webkit-font-smoothing: antialiased;
}

.progress .progress-bar {
  font-size: 8px;
  line-height: 8px;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}
