.navbar.bg-primary {
  border: 1px solid #495057;
}
.navbar.bg-dark {
  background-color: #060606 !important;
  border: 1px solid #495057;
}
.navbar.bg-light {
  background-color: #adb5bd !important;
}
.navbar.fixed-top {
  border-width: 0 0 1px;
}
.navbar.fixed-bottom {
  border-width: 1px 0 0;
}

.btn-primary {
  background-color: #222222;
}
.btn-secondary {
  background-color: #343a40;
}
.btn-success {
  background-color: #77b300;
}
.btn-info {
  background-color: #dee2e6;
}
.btn-warning {
  background-color: #f80;
}
.btn-danger {
  background-color: #d62a2a;
}
.btn-light {
  background-color: #222;
}
.btn-dark {
  background-color: #adafae;
}

table {
  color: #fff;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #343a40;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #222;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #adafae;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #77b300;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #dee2e6;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #d62a2a;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f80;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(255, 255, 255, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: #151515;
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: #292d32;
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: #151515;
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: #a0a2a1;
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: #669a00;
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: #cfd5db;
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: #c12525;
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: #e67a00;
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(255, 255, 255, 0.075);
}

legend {
  color: #fff;
}

.form-control {
  background-clip: border-box;
}
.form-control:disabled, .form-control[readonly] {
  border-color: transparent;
}

.nav-tabs .nav-link,
.nav-pills .nav-link {
  color: #fff;
}
.nav-tabs .nav-link:hover,
.nav-pills .nav-link:hover {
  background-color: #495057;
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover,
.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  color: #6c757d;
}
.nav-tabs .nav-link.active,
.nav-pills .nav-link.active {
  background-color: #222222;
}

.breadcrumb a {
  color: #fff;
}

.pagination a:hover {
  text-decoration: none;
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background-color: #222222;
}
.alert-secondary {
  background-color: #343a40;
}
.alert-success {
  background-color: #77b300;
}
.alert-info {
  background-color: #dee2e6;
}
.alert-warning {
  background-color: #f80;
}
.alert-danger {
  background-color: #d62a2a;
}
.alert-light {
  background-color: #222;
}
.alert-dark {
  background-color: #adafae;
}

.badge-warning {
  color: #fff;
}

.close {
  opacity: 0.6;
}
.close:hover {
  opacity: 1;
}

.list-group-item:hover {
  background-color: #495057;
  color: #fff;
}
.list-group-item-action {
  color: #adb5bd;
}
.list-group-item-action .list-group-item-heading {
  color: #adb5bd;
}
.list-group-item:hover .list-group-item-heading {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

.popover-title {
  border-bottom: none;
}

.breadcrumb {
  padding-left: 1rem;
}

.menu__btn--close {
  color: var(--gray);
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #343a40;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #343a40;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
}
main #search-input {
  border: solid 1px #6c757d;
}