@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
/* Colors: */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.blockquote-footer {
  color: #888;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #777777;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #eee;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #303030;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #00bc8c;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #3498db;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #e74c3c;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f39c12;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: #151515;
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: #6a6a6a;
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: #e1e1e1;
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: #232323;
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: #00a379;
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: #258cd1;
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: #e43725;
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: #e08e0b;
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.input-group-addon {
  color: #fff;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  color: #fff;
}

.breadcrumb a {
  color: #fff;
}

.pagination a:hover {
  text-decoration: none;
}

.close {
  opacity: 0.4;
}
.close:hover, .close:focus {
  opacity: 1;
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background-color: #222222;
}
.alert-secondary {
  background-color: #777777;
}
.alert-success {
  background-color: #00bc8c;
}
.alert-info {
  background-color: #3498db;
}
.alert-warning {
  background-color: #f39c12;
}
.alert-danger {
  background-color: #e74c3c;
}
.alert-light {
  background-color: #eee;
}
.alert-dark {
  background-color: #303030;
}

.list-group-item-action {
  color: #fff;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  background-color: #444;
  color: #fff;
}
.list-group-item-action .list-group-item-heading {
  color: #fff;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

main .header {
  background-color: #222;
  border-color: #EFEDF0;
}
main .header__buttons .btn {
  font-size: 26px;
}
main .header__buttons .i-user::before {
  content: "\f2bd";
}
main .header__buttons .badge-primary {
  background-color: #C0B9DD;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 3px;
}
main .header__search {
  border-bottom: 1px solid #5F506B;
}
main .header__search .i-search {
  color: #5F506B;
}

div > .header__nav--full {
  padding-top: 43px;
}
div > .header__nav--full::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--border-width);
  margin-top: -18px;
  background: var(--border-color);
}
div > .header__nav--full a {
  padding: 0 42px;
}
div > .header__nav .header__category {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  color: #777777;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  text-align: center;
}
div > .header__nav .header__category:hover {
  color: #D88C88;
  background-color: transparent;
}
.header__nav .header__submenu {
  background-color: #222;
  border-top: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__submenu::after {
  height: 2px;
  top: 0;
}
.header__nav .header__submenu a {
  color: #D88C88;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 17px;
}
div > .header__nav .header__submenu-subcategory {
  color: #5F506B;
  font-weight: normal;
  font-size: 14px;
}

main .product-card__offer-stamp {
  min-width: 52px;
  background-color: #222222;
  border-radius: 0;
}
main .product-card__offer-stamp .i-arrow-down::before {
  content: "-";
}
main .product-card__link {
  color: #777777;
  font-family: "Playfair Display";
}
main .product-card__name {
  font-size: 18px;
  margin-bottom: 9px;
}
main .product-card .prices {
  flex-direction: row;
  justify-content: flex-start;
}
main .product-card .prices__compare {
  font-size: 16px;
  margin-right: 14px;
}
main .product-card .prices__compare s {
  color: #C0B9DD;
}
main .product-card .prices__discount, main .product-card .prices__installments {
  display: none;
}
main .product-card .prices__value {
  color: #222222;
  font-size: 16px;
}
main .product-card .prices__value small {
  display: none;
}

main .product__name {
  color: #777777;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
main .product__sku {
  margin-bottom: 1.125rem;
}
main .product__prices {
  padding-bottom: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product #product-actions > div article,
main .product #product-actions > div .mb-3:not(.product__payment) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}
main .product .prices__compare {
  color: #777777;
  font-size: 18px;
}
main .product .prices__compare small:not(.prices__discount-label) {
  text-transform: capitalize;
}
main .product .prices__compare small:last-child {
  font-size: 32px;
  color: #222222;
  font-weight: bold;
  position: absolute;
  left: 15px;
  margin-top: 21px;
  margin-left: 0;
}
main .product .prices__compare + strong {
  margin-left: 60px;
}
main .product .prices__value {
  color: #222222;
  font-weight: bold;
  font-size: 32px;
}
main .product .variations {
  padding-top: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product .variations__grid-title {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
}
main .product .variations__option {
  background-color: #F2F2F2;
}
main .product .variations__option:hover {
  border-color: #E40000;
}
main .product .variations__option--selected:not(.disabled) {
  border-color: #E40000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
main .product .variations__option:hover, main .product .variations__option:focus {
  background-color: #D4D3D3;
}
main .product__buy {
  margin-top: 24px;
}
main .product__buy button {
  padding: 8px 24px;
  font-weight: 600;
}
@media (max-width: 575.98px) {
  main .product__buy button {
    width: 100%;
  }
}
main .product .share-network-whatsapp {
  color: #777777;
  font-size: 14px;
}
main .product .shipping-calculator {
  padding-top: 16px;
}
main .product .shipping-calculator label {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}
main .product .shipping-calculator .input-group {
  border-color: #C8C8C8;
}
main .product .shipping-calculator .input-group input {
  min-height: 38px;
  color: #fff;
  font-size: 14px;
}
main .product .shipping-calculator .input-group button {
  background-color: #222222;
  border-color: #222222;
  color: #222;
}
main .product .shipping-calculator .input-group button:hover {
  background-color: #222;
  color: #222222;
}
main .product .shipping-calculator .input-group button .i-shipping-fast::before {
  content: "OK";
  font-family: "Poppins";
  font-weight: bold;
  font-size: 15px;
}
main .product .shipping-calculator .list-group-item {
  border-color: 1px solid #E8E8E8;
}
main .product .shipping-calculator__option {
  color: #707070;
}
main .product .shipping-calculator__option strong {
  color: #777777;
}
main .product .shipping-calculator__option small {
  top: 0;
}
main .product .shipping-calculator__option strong, main .product .shipping-calculator__option span, main .product .shipping-calculator__option small {
  font-size: 12px;
}
main .product__sticky .prices__compare + strong {
  margin-left: 0;
}
main .product__sticky-info h5 {
  color: #777777;
}
main .product-description .container,
main .product-specs .container {
  border: 1px solid #D9D9D9;
  background-color: #222;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .product-description .container .a-column,
main .product-specs .container .a-column {
  color: #777777 !important;
  font-family: "Poppins" !important;
}
main .product-description .container table th,
main .product-specs .container table th {
  background-color: #222 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #777777 !important;
}
main .product-description .container table td,
main .product-specs .container table td {
  font-size: 12px !important;
  color: #707070 !important;
}
main .product-description .container .lead,
main .product-specs .container .lead {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
main .product-description .container .lead a,
main .product-specs .container .lead a {
  display: none;
}
main .product-description .container .lead #text,
main .product-specs .container .lead #text {
  border-bottom: 3px solid #F7F7F7;
}
main .product-description .container dt,
main .product-specs .container dt {
  color: #777777;
  font-weight: 600 !important;
  font-size: 0.75rem;
}
main .product-description .container .table,
main .product-specs .container .table {
  height: 47px;
  border-bottom: 1px solid #E8E8E8 !important;
  border-collapse: initial !important;
}
main .product-description .container dl,
main .product-specs .container dl {
  border-top: 1px solid #E8E8E8 !important;
}
main .product-description .container .odd,
main .product-description .container .even,
main .product-specs .container .odd,
main .product-specs .container .even {
  background-color: #222 !important;
}
main .page--products .recommended-products .products-carousel__title {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

main .footer {
  background-color: #222222;
  border-color: #222222;
  color: #222;
}
main .footer p {
  font-size: 14px;
}
main .footer__title {
  color: #222;
  font-size: 20px;
  font-weight: 600;
}
main .footer__links .i-chevron-right {
  display: none;
}
main .footer__links a {
  color: #222;
  font-size: 13px;
}
main .footer__links li {
  line-height: 28px;
}
main .footer__contacts a {
  color: #222;
  font-size: 18px;
}
main .footer__contacts .list-unstyled li {
  line-height: 32px;
}
main .footer__credits button {
  background-color: #777777;
  border-color: #777777;
  color: #222;
}
main .footer__payment-methods i {
  background-color: #222;
  border-radius: 5px;
}
main .footer__social a {
  opacity: 1;
}
main .footer__social i {
  color: #222;
  font-size: 33px;
}
main .ecom-credits {
  background-color: #222222;
}
main .ecom-credits a {
  color: #222;
}

main {
  font-family: "Poppins";
}
main .page-title__head h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 42px;
}
main .top-bar {
  background-color: #222;
}
main .top-bar__nav {
  color: #A8A8A8;
}
main .breadcrumb-item {
  font-size: 12px;
}
main .breadcrumb-item .i-home {
  font-size: 16px;
}
main .breadcrumb-item + .breadcrumb-item::before {
  content: "≫";
  color: #777777;
  padding-right: 11px;
  padding-left: 11px;
}
main .breadcrumb-item a {
  color: #777777;
}
main .breadcrumb-item.active {
  color: #D4001F;
}
main .banner-slider .glide__bullet, main .banner-slider .glide__bullet--active {
  background-color: #222;
  border-color: #505050;
  border-radius: 6px;
}
@media (max-width: 575.98px) {
  main .banner-slider .glide__bullet {
    width: 32px;
    height: 13px;
  }
}
main .banner-slider .glide__arrow {
  display: none;
}
main .info-bar {
  background-color: #222;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
main .info-bar__item {
  color: #777777;
}
main .info-bar__item:hover {
  color: #5F506B;
}
main .info-bar__item div {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}
@media (max-width: 575.98px) {
  main .info-bar__nav .col-auto {
    padding-left: 12px;
    padding-right: 12px;
  }
}
main .products-carousel__title {
  color: #777777;
  font-family: "Playfair Display";
  font-size: 28px;
}
main .products-carousel__title::before {
  display: none;
}
main .products-carousel .glide__arrow {
  color: #222222;
}
main .search-engine__count {
  color: #777777;
}
main .search-engine__filter {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 20px;
}
main .search-engine__filter--price h5 {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter button {
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter .custom-control-input {
  font-size: 14px;
}
main .search-engine__filter .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #D4001F;
  border-color: #D4001F;
}
main .search-engine__filter .custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #777777;
}
main .search-engine .card-footer {
  background-color: #222;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
}
main .search-engine .card-footer button {
  height: 53px;
  border-radius: 0;
  font-size: 15px;
}