.bg-primary .navbar-nav .active > .nav-link,
.bg-primary .navbar-nav .nav-link:hover,
.bg-primary .navbar-nav .nav-link:focus,
.bg-primary .navbar-nav .show > .nav-link,
.bg-primary .navbar-nav .nav-link.show,
.bg-primary .navbar-nav .nav-link.active {
  color: #18bc9c !important;
}

.btn-secondary, .btn-secondary:hover, .btn-warning, .btn-warning:hover {
  color: #fff;
}

.table-primary, .table-secondary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #fff;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #495057;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #7b8a8b;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #18bc9c;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #3498db;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #e74c3c;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f39c12;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: rgb(21.25, 21.25, 21.25);
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: rgb(242.25, 242.25, 242.25);
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: rgb(61.365625, 67.25, 73.134375);
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: rgb(110.6209677419, 124.9254032258, 125.8790322581);
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: rgb(21.1132075472, 165.3867924528, 137.2358490566);
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: rgb(36.9790794979, 139.6987447699, 208.5209205021);
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: rgb(228.2054794521, 55.1575342466, 37.2945205479);
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: rgb(224.1506024096, 141.8674698795, 11.3493975904);
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: #222222;
}

.pagination a:hover {
  text-decoration: none;
}

.close {
  text-decoration: none;
  opacity: 0.4;
}
.close:hover, .close:focus {
  opacity: 1;
}

.badge-secondary, .badge-warning {
  color: #fff;
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background-color: #222222;
}
.alert-secondary {
  background-color: #fff;
}
.alert-success {
  background-color: #18bc9c;
}
.alert-info {
  background-color: #3498db;
}
.alert-warning {
  background-color: #f39c12;
}
.alert-danger {
  background-color: #e74c3c;
}
.alert-light {
  background-color: #495057;
}
.alert-dark {
  background-color: #7b8a8b;
}
.alert-light,
.alert-light a,
.alert-light .alert-link {
  color: #f8f9fa;
}

.modal .close,
.toast .close {
  color: #000;
}
.modal .close:not(:disabled):not(.disabled):hover, .modal .close:not(:disabled):not(.disabled):focus,
.toast .close:not(:disabled):not(.disabled):hover,
.toast .close:not(:disabled):not(.disabled):focus {
  color: #000;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #e9ecef;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #6c757d;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #e9ecef;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #e9ecef;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #343a40;
}
main .search-engine__nav {
  background-color: #343a40;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #6c757d;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #343a40;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}