.pitbar {
  background: var(--light);
  color: var(--primary); }
  .pitbar__item:after {
    background: var(--primary); }

a {
  color: var(--primary); }
  @media (hover: hover) {
    a:hover {
      color: var(--primary-lightest); } }

#ec-user-popover {
  margin-right: 0.5rem; }
