.bg-dark {
  background-color: #000 !important;
}

.bg-light {
  background-color: #fff !important;
  color: #000;
  border: 1px solid #eee;
}
.bg-light.navbar-fixed-top {
  border-width: 0 0 1px;
}
.bg-light.navbar-fixed-bottom {
  border-width: 1px 0 0;
}

.navbar {
  font-size: 18px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}

.navbar-brand {
  padding-top: 0.5rem;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}
.btn-secondary, .btn-warning {
  color: #fff;
}

.pagination a:hover {
  text-decoration: none;
}

.pitbar {
  background: var(--light);
  color: var(--primary);
}
.pitbar__item:after {
  background: var(--primary);
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar__nav {
  font-size: 80%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.7)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .info-bar {
  display: flex;
  flex-direction: column;
}
main .header {
  border-bottom: none;
}
main .header__nav {
  color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header__nav a:hover {
  border-radius: unset;
  background-color: transparent;
  border-bottom: solid 2px;
}
main #search-input {
  border: solid 1px;
}
main .cart__btn-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background: linear-gradient(#f8f9fa, rgba(255, 255, 255, 0.8)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
}

.menu__social {
  background-image: linear-gradient(#f8f9fa, rgba(255, 255, 255, 0.4)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
}

.card-header {
  font-weight: var(--font-bold);
}