@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
.navbar {
  font-size: 0.765625rem;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-nav .nav-link {
  padding-top: 0.715rem;
  padding-bottom: 0.715rem;
}
.navbar-brand {
  margin-right: 2rem;
}

.bg-primary {
  background-color: #222222 !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bg-light.navbar-fixed-top {
  border-width: 0 0 1px;
}
.bg-light.navbar-bottom-top {
  border-width: 1px 0 0;
}

.nav-item {
  margin-right: 2rem;
}

.btn {
  font-size: 0.765625rem;
  text-transform: uppercase;
}
.btn-sm {
  font-size: 10px;
}
.btn-warning, .btn-warning:hover, .btn-warning:not([disabled]):not(.disabled):active, .btn-warning:focus {
  color: #fff;
}

.btn-outline-secondary {
  border-color: #919aa1;
  color: #919aa1;
}
.btn-outline-secondary:not([disabled]):not(.disabled):hover, .btn-outline-secondary:not([disabled]):not(.disabled):focus, .btn-outline-secondary:not([disabled]):not(.disabled):active {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #fff;
}
.btn-outline-secondary:not([disabled]):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.5);
}

[class*=btn-outline-] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid #ced4da !important;
}

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: #55595c !important;
}

th {
  font-size: 0.765625rem;
  text-transform: uppercase;
}

.table th,
.table td {
  padding: 1.5rem;
}
.table-sm th,
.table-sm td {
  padding: 0.75rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.15625rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
}

.dropdown-menu {
  font-size: 0.765625rem;
  text-transform: none;
}

.badge {
  padding-top: 0.28rem;
}
.badge-pill {
  border-radius: 10rem;
}

.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6,
.list-group-item .h1,
.list-group-item .h2,
.list-group-item .h3,
.list-group-item .h4,
.list-group-item .h5,
.list-group-item .h6 {
  color: inherit;
}

.card-title, .card-header {
  color: inherit;
}

.form-control-lg {
  height: calc(0.5em + 4rem);
}

.ec-minicart__button, #ec-user-popover, .header__toggler {
  font-size: 1.1rem;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

#ec-shipping-zip {
  height: calc(2.2em + 1.5rem);
}

.btn-lg {
  padding: 1.5rem 2rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner {
  overflow: hidden;
}
main .banner img {
  transition: all 10s;
}
main .banner:hover img {
  transform: scale(1.3);
}
main .header {
  border-bottom: none;
  height: 100px;
}
main .header__nav a {
  color: #777777;
  font-weight: var(--font-bold);
}
main .header__nav a:hover {
  border-bottom-color: #919aa1;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #f7f7f9;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  height: 100px;
}
main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}
main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}
main .footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}