.navbar {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.bg-dark {
  background-color: #fff !important;
}

.border-dark {
  border-color: #fff !important;
}

.btn {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.btn, .btn:hover {
  color: #fff;
}
.btn-light, .btn-light:hover {
  color: #495057;
}
.btn-link, .btn-link:hover {
  color: #222222;
}
.btn-link.disabled:hover {
  color: #6c757d;
}
.btn-outline-primary {
  color: #222222;
}
.btn-outline-secondary {
  color: #fff;
}
.btn-outline-success {
  color: #56cc9d;
}
.btn-outline-info {
  color: #6cc3d5;
}
.btn-outline-warning {
  color: #ffce67;
}
.btn-outline-danger {
  color: #ff7851;
}
.btn-outline-dark {
  color: #343a40;
}
.btn-outline-light {
  color: #495057;
}

.table-primary, .table-secondary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #fff;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #495057;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #343a40;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #56cc9d;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #6cc3d5;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #ff7851;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffce67;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: #151515;
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: #f2f2f2;
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: #3d4349;
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: #292d32;
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: #42c692;
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: #58bbcf;
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: #ff6438;
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: #ffc64e;
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table .thead-dark th {
  background-color: #222222;
  border-color: rgba(0, 0, 0, 0.05);
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

legend {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.dropdown-menu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.breadcrumb a {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumb a:hover {
  color: #fff;
  text-decoration: none;
}

.alert {
  color: #fff;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  color: inherit;
}
.alert a,
.alert .alert-link {
  color: #fff;
}
.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #222222;
}
.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #fff;
}
.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #56cc9d;
}
.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #6cc3d5;
}
.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #ff7851;
}
.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #ffce67;
}
.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #343a40;
}
.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #495057;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #f8f9fa;
}

.badge {
  color: #fff;
}
.badge-light {
  color: #495057;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

.breadcrumb {
  padding-left: 1rem;
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #e9ecef;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #6c757d;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #e9ecef;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #e9ecef;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #343a40;
}
main .search-engine__nav {
  background-color: #343a40;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #6c757d;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #343a40;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}