main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}

main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}

main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(0, 123, 255, 0.9), rgba(0, 123, 255, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .banner {
  overflow: hidden;
}

main .banner img {
  transition: all 10s;
}

main .banner:hover img {
  transform: scale(1.3);
}

main .header {
  border-bottom: none;
  height: 100px;
}

main .header__nav a {
  color: #6c757d;
  font-weight: var(--font-bold);
}

main .header__nav a:hover {
  border-bottom-color: #6c757d;
  color: #007bff;
  background-color: transparent;
}

main #search-input {
  border: solid 1px #e9ecef;
}

main #cart-button i:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

main #cart-button .fa-shopping-bag:before {
  background-color: #6c757d;
}

@media (hover: hover) {
  main #cart-button .fa-shopping-bag:hover:before {
    background-color: #007bff;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}

main #user-button i:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

main #user-button .fa-user:before {
  background-color: #6c757d;
}

@media (hover: hover) {
  main #user-button .fa-user:hover:before {
    background-color: #007bff;
  }
}

main .info-bar {
  height: 100px;
}

main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}

main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}

main .footer {
  background-image: linear-gradient(rgba(248, 249, 250, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}
