.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
  outline: none;
}
.btn-secondary {
  background-color: #fff;
  border-color: #ccc;
  color: #17141f;
}
.btn-secondary:hover {
  background-color: #ededed;
  border-color: #adb5bd;
  color: #17141f;
}
.btn-secondary.disabled {
  background-color: #fff;
  border-color: rgb(216.75, 216.75, 216.75);
  color: rgb(34.5, 30, 46.5);
}
.btn-warning {
  color: #fff;
}
.btn-primary:focus {
  box-shadow: 0 0 5px rgb(59.5, 59.5, 59.5);
}
.btn-secondary:focus {
  box-shadow: 0 0 5px #cbc8d0;
}
.btn-success:focus {
  box-shadow: 0 0 5px rgb(23.75, 231.25, 106.25);
}
.btn-info:focus {
  box-shadow: 0 0 5px rgb(16, 185.4727272727, 255);
}
.btn-warning:focus {
  box-shadow: 0 0 5px rgb(242.3719008264, 182.3884297521, 76.6280991736);
}
.btn-danger:focus {
  box-shadow: 0 0 5px rgb(252.7611940299, 107.2388059701, 107.2388059701);
}
.btn.disabled:focus {
  box-shadow: none;
}

.table .thead-dark th {
  background-color: #777777;
  border-color: rgba(0, 0, 0, 0.05);
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(100, 65, 164, 0.4);
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
  border-width: 0 0 1px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
  border-bottom: 1px solid #222222;
}
.nav-tabs .nav-item + .nav-item {
  margin-left: 0;
}

.breadcrumb-item.active {
  color: #444;
}

.badge {
  padding-bottom: 0.4em;
}
.badge-secondary, .badge-warning {
  color: #fff;
}

.progress {
  height: 8px;
}

.list-group-item {
  color: rgba(255, 255, 255, 0.8);
}
.list-group-item.active, .list-group-item:hover, .list-group-item:focus {
  color: #fff;
}
.list-group-item.active {
  font-weight: 700;
}
.list-group-item.active:hover {
  background-color: #2e283e;
}
.list-group-item.disabled:hover {
  color: #5c507c;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner {
  overflow: hidden;
}
main .banner img {
  transition: all 10s;
}
main .banner:hover img {
  transform: scale(1.3);
}
main .header {
  border-bottom: none;
  height: 100px;
}
main .header__nav a {
  color: #777777;
  font-weight: var(--font-bold);
}
main .header__nav a:hover {
  border-bottom-color: #868e96;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #f9f8fc;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  height: 100px;
}
main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}
main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}
main .footer {
  background-image: linear-gradient(rgba(249, 248, 252, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}