.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
  outline: none;
}
.btn-secondary {
  background-color: #fff;
  border-color: #ccc;
  color: #17141f;
}
.btn-secondary:hover {
  background-color: #ededed;
  border-color: #adb5bd;
  color: #17141f;
}
.btn-secondary.disabled {
  background-color: #fff;
  border-color: #d9d9d9;
  color: #231e2f;
}
.btn-warning {
  color: #fff;
}
.btn-primary:focus {
  box-shadow: 0 0 5px #3c3c3c;
}
.btn-secondary:focus {
  box-shadow: 0 0 5px #cbc8d0;
}
.btn-success:focus {
  box-shadow: 0 0 5px #18e76a;
}
.btn-info:focus {
  box-shadow: 0 0 5px #10b9ff;
}
.btn-warning:focus {
  box-shadow: 0 0 5px #f2b64d;
}
.btn-danger:focus {
  box-shadow: 0 0 5px #fd6b6b;
}
.btn.disabled:focus {
  box-shadow: none;
}

.table .thead-dark th {
  background-color: #777777;
  border-color: rgba(0, 0, 0, 0.05);
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(100, 65, 164, 0.4);
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
  border-width: 0 0 1px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
  border-bottom: 1px solid #222222;
}
.nav-tabs .nav-item + .nav-item {
  margin-left: 0;
}

.breadcrumb-item.active {
  color: #444;
}

.badge {
  padding-bottom: 0.4em;
}
.badge-secondary, .badge-warning {
  color: #fff;
}

.progress {
  height: 8px;
}

.list-group-item {
  color: rgba(255, 255, 255, 0.8);
}
.list-group-item.active, .list-group-item:hover, .list-group-item:focus {
  color: #fff;
}
.list-group-item.active {
  font-weight: 700;
}
.list-group-item.active:hover {
  background-color: #2e283e;
}
.list-group-item.disabled:hover {
  color: #5c507c;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

main .top-bar__nav {
  font-size: 80%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.7)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .info-bar {
  display: flex;
  flex-direction: column;
}
main .header {
  border-bottom: none;
}
main .header__nav {
  color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header__nav a:hover {
  border-radius: unset;
  background-color: transparent;
  border-bottom: solid 2px;
}
main #search-input {
  border: solid 1px;
}
main .cart__btn-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background: linear-gradient(#fafafa, rgba(255, 255, 255, 0.8)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
}

.menu__social {
  background-image: linear-gradient(#fafafa, rgba(255, 255, 255, 0.4)), url("https://ecom.nyc3.digitaloceanspaces.com/storefront/baby/bg.webp");
}

.card-header {
  font-weight: var(--font-bold);
}