@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.bg-primary {
  background-color: #3e3f3a !important;
}

.bg-dark {
  background-color: #fff !important;
}

.bg-light {
  background-color: #f8f5f0 !important;
}

.sandstone, .tooltip, .dropdown-menu .dropdown-item, .pagination, .breadcrumb, .nav-pills .nav-link, .nav-tabs .nav-link, .btn, .navbar .nav-link {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-form input, .navbar-form .form-control {
  border: none;
}

.btn:hover {
  border-color: transparent;
}
.btn-success, .btn-warning {
  color: #fff;
}

.table .thead-dark th {
  background-color: #3e3f3a;
}

.nav-tabs .nav-link {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #8e8c84;
}
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
  color: #dfd7ca;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
  color: #8e8c84;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
}
.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: #dfd7ca;
}

.breadcrumb {
  border: 1px solid #dfd7ca;
}

.pagination a:hover {
  text-decoration: none;
}

.alert {
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #222222;
}
.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #fff;
}
.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #93c54b;
}
.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #29abe0;
}
.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #d9534f;
}
.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #f47c3c;
}
.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #3e3f3a;
}
.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #495057;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #f8f9fa;
}

.badge-success, .badge-warning {
  color: #fff;
}

.close {
  color: #dfd7ca;
  opacity: 1;
}
.close:hover {
  color: #b9a78a;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #f8f5f0;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #98978b);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #8e8c84;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
main #cart-button .fa-shopping-bag:before {
  background-color: #fff;
}
@media (hover: hover) {
  main #cart-button .fa-shopping-bag:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
main #user-button .fa-user:before {
  background-color: #fff;
}
@media (hover: hover) {
  main #user-button .fa-user:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #f8f5f0;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #f8f5f0;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #3e3f3a;
}
main .search-engine__nav {
  background-color: #3e3f3a;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #8e8c84;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #3e3f3a;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}