.bg-primary {
  background-color: #3e3f3a !important;
}

.bg-dark {
  background-color: #777777 !important;
}

.bg-light {
  background-color: #f8f5f0 !important;
}

.sandstone, .tooltip, .dropdown-menu .dropdown-item, .pagination, .breadcrumb, .nav-pills .nav-link, .nav-tabs .nav-link, .btn, .navbar .nav-link {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-form input, .navbar-form .form-control {
  border: none;
}

.btn:hover {
  border-color: transparent;
}
.btn-success, .btn-warning {
  color: #fff;
}

.table .thead-dark th {
  background-color: #3e3f3a;
}

.nav-tabs .nav-link {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #8e8c84;
}
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
  color: #dfd7ca;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
  color: #8e8c84;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
}
.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: #dfd7ca;
}

.breadcrumb {
  border: 1px solid #dfd7ca;
}

.pagination a:hover {
  text-decoration: none;
}

.alert {
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #222222;
}
.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #777777;
}
.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #93c54b;
}
.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #29abe0;
}
.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #d9534f;
}
.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #f47c3c;
}
.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #3e3f3a;
}
.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #f8f5f0;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #3e3f3a;
}

.badge-success, .badge-warning {
  color: #fff;
}

.close {
  color: #dfd7ca;
  opacity: 1;
}
.close:hover {
  color: #b9a78a;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(34, 34, 34, 0.1)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #777777;
}
main .header__nav a:hover {
  color: #222222;
  background-color: transparent;
}
main .header__buttons .btn {
  padding: 2px;
}
main .header__row {
  display: flex;
  flex-direction: row;
}
main .header__row .col-auto {
  order: 1;
}
main .header__row .col {
  order: 2;
}
main .header__row .d-none {
  order: 3;
}
main .header__row #search-bar {
  order: 4;
}
main .header__row .order-lg-last {
  order: 5;
}
main #search-input {
  border: solid 1px #f8f5f0;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.6)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
}
main .go-to-top {
  background-color: #777777;
}