.navbar {
  border-width: 1px;
  border-style: solid;
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-top-width: 1px 0 0 0;
  border-style: solid;
}

.bg-primary {
  background-color: #222222 !important;
  border-color: #111111 !important;
}

.bg-dark {
  border-color: #27292b !important;
}

.bg-light {
  border-color: #eeeeee;
}

.btn-primary,
.btn-primary:hover {
  background-image: linear-gradient(#2a2a2a, #222222 6%, #1a1a1a);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #111111;
}

.btn-secondary,
.btn-secondary:hover {
  background-image: linear-gradient(#3b4248, #343a40 6%, #2d3238);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #25292e;
}

.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem rgba(233, 236, 239, 0.5);
}

.btn-success,
.btn-success:hover {
  background-image: linear-gradient(#4da309, #469408 6%, #3f8507);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #377506;
}

.btn-info,
.btn-info:hover {
  background-image: linear-gradient(#e7eaed, #dee2e6 6%, #d5dadf);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #cbd1d8;
}

.btn-warning,
.btn-warning:hover {
  background-image: linear-gradient(#e08b27, #d9831f 6%, #cc7b1d);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #bc711b;
}

.btn-danger,
.btn-danger:hover {
  background-image: linear-gradient(#a54caa, #9b479f 6%, #914294);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #853d88;
}

.btn-dark,
.btn-dark:hover {
  background-image: linear-gradient(#3e4244, #373a3c 6%, #303234);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #27292b;
}

.btn-light,
.btn-light:hover {
  background-image: linear-gradient(white, #fff 6%, #f7f7f7);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #eeeeee;
}

.btn-outline-secondary {
  border-color: #ced4da;
  color: #ced4da;
}
.btn-outline-secondary:hover {
  background-color: #ced4da;
  color: #fff;
}

.text-secondary {
  color: #6c757d !important;
}

.breadcrumb {
  border: 1px solid #eeeeee;
}

.pagination .page-link:hover {
  text-decoration: none;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.2rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #343a40;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #343a40;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
}
main #search-input {
  border: solid 1px #6c757d;
}