.navbar {
  border-width: 1px;
  border-style: solid;
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-top-width: 1px 0 0 0;
  border-style: solid;
}

.bg-primary {
  background-color: #222222 !important;
  border-color: rgb(6.8333333333%, 6.8333333333%, 6.8333333333%) !important;
}

.bg-dark {
  border-color: rgb(15.3512361466%, 16.1885763001%, 16.7468030691%) !important;
}

.bg-light {
  border-color: rgb(93.5%, 93.5%, 93.5%);
}

.btn-primary,
.btn-primary:hover {
  background-image: linear-gradient(rgb(16.3333333333%, 16.3333333333%, 16.3333333333%), #222222 6%, rgb(10.3333333333%, 10.3333333333%, 10.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(6.8333333333%, 6.8333333333%, 6.8333333333%);
}

.btn-secondary,
.btn-secondary:hover {
  background-image: linear-gradient(rgb(49.6666666667%, 49.6666666667%, 49.6666666667%), #777777 6%, rgb(43.6666666667%, 43.6666666667%, 43.6666666667%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(40.1666666667%, 40.1666666667%, 40.1666666667%);
}

.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-success,
.btn-success:hover {
  background-image: linear-gradient(rgb(30.1432880845%, 63.7315233786%, 3.4449472097%), #469408 6%, rgb(24.7586726998%, 52.346907994%, 2.8295625943%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(21.6176470588%, 45.7058823529%, 2.4705882353%);
}

.btn-info,
.btn-info:hover {
  background-image: linear-gradient(rgb(0.8417299934%, 64.8132094943%, 87.1190543203%), #029acf 6%, rgb(0.7268974575%, 55.9711042312%, 75.2338868562%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(0.6599118116%, 50.8132094943%, 68.3008725021%);
}

.btn-warning,
.btn-warning:hover {
  background-image: linear-gradient(rgb(87.9068627451%, 54.3581593928%, 15.3480392157%), #d9831f 6%, rgb(79.8480392157%, 48.2031941809%, 11.4068627451%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(73.7230392157%, 44.5056135357%, 10.5318627451%);
}

.btn-danger,
.btn-danger:hover {
  background-image: linear-gradient(rgb(64.8277919864%, 29.6953111679%, 66.5007672634%), #9b479f 6%, rgb(56.7408354646%, 25.9909633419%, 58.2051150895%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(52.0234441603%, 23.8300937766%, 53.3659846547%);
}

.btn-dark,
.btn-dark:hover {
  background-image: linear-gradient(rgb(24.4381926684%, 25.7711849957%, 26.6598465473%), #373a3c 6%, rgb(18.6990622336%, 19.7190110827%, 20.3989769821%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.3512361466%, 16.1885763001%, 16.7468030691%);
}

.btn-light,
.btn-light:hover {
  background-image: linear-gradient(white, #fff 6%, rgb(97%, 97%, 97%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(93.5%, 93.5%, 93.5%);
}

.btn-outline-secondary {
  border-color: #bbb;
  color: #bbb;
}
.btn-outline-secondary:hover {
  background-color: #bbb;
  color: #fff;
}

.text-secondary {
  color: #777 !important;
}

.breadcrumb {
  border: 1px solid rgb(93.5%, 93.5%, 93.5%);
}

.pagination .page-link:hover {
  text-decoration: none;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.2rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner {
  overflow: hidden;
}
main .banner img {
  transition: all 10s;
}
main .banner:hover img {
  transform: scale(1.3);
}
main .header {
  border-bottom: none;
  height: 100px;
}
main .header__nav a {
  color: #777777;
  font-weight: var(--font-bold);
}
main .header__nav a:hover {
  border-bottom-color: #777;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #ddd;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  height: 100px;
}
main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}
main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}
main .footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}