.navbar {
  border-width: 1px;
  border-style: solid;
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-top-width: 1px 0 0 0;
  border-style: solid;
}

.bg-primary {
  background-color: #222222 !important;
  border-color: rgb(17.425, 17.425, 17.425) !important;
}

.bg-dark {
  border-color: rgb(39.1456521739, 41.2808695652, 42.7043478261) !important;
}

.bg-light {
  border-color: rgb(238.425, 238.425, 238.425);
}

.btn-primary,
.btn-primary:hover {
  background-image: linear-gradient(rgb(41.65, 41.65, 41.65), #222222 6%, rgb(26.35, 26.35, 26.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(17.425, 17.425, 17.425);
}

.btn-secondary,
.btn-secondary:hover {
  background-image: linear-gradient(rgb(126.65, 126.65, 126.65), #777777 6%, rgb(111.35, 111.35, 111.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(102.425, 102.425, 102.425);
}

.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-success,
.btn-success:hover {
  background-image: linear-gradient(rgb(76.8653846154, 162.5153846154, 8.7846153846), #469408 6%, rgb(63.1346153846, 133.4846153846, 7.2153846154));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(55.125, 116.55, 6.3);
}

.btn-info,
.btn-info:hover {
  background-image: linear-gradient(rgb(2.1464114833, 165.2736842105, 222.1535885167), #029acf 6%, rgb(1.8535885167, 142.7263157895, 191.8464114833));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(1.6827751196, 129.5736842105, 174.1672248804);
}

.btn-warning,
.btn-warning:hover {
  background-image: linear-gradient(rgb(224.1625, 138.6133064516, 39.1375), #d9831f 6%, rgb(203.6125, 122.9181451613, 29.0875));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(187.99375, 113.4893145161, 26.85625);
}

.btn-danger,
.btn-danger:hover {
  background-image: linear-gradient(rgb(165.3108695652, 75.7230434783, 169.5769565217), #9b479f 6%, rgb(144.6891304348, 66.2769565217, 148.4230434783));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(132.6597826087, 60.7667391304, 136.0832608696);
}

.btn-dark,
.btn-dark:hover {
  background-image: linear-gradient(rgb(62.3173913043, 65.7165217391, 67.9826086957), #373a3c 6%, rgb(47.6826086957, 50.2834782609, 52.0173913043));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(39.1456521739, 41.2808695652, 42.7043478261);
}

.btn-light,
.btn-light:hover {
  background-image: linear-gradient(white, #fff 6%, rgb(247.35, 247.35, 247.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(238.425, 238.425, 238.425);
}

.btn-outline-secondary {
  border-color: #bbb;
  color: #bbb;
}
.btn-outline-secondary:hover {
  background-color: #bbb;
  color: #fff;
}

.text-secondary {
  color: #777 !important;
}

.breadcrumb {
  border: 1px solid rgb(238.425, 238.425, 238.425);
}

.pagination .page-link:hover {
  text-decoration: none;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.2rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.8)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner {
  overflow: hidden;
}
main .banner img {
  transition: all 10s;
}
main .banner:hover img {
  transform: scale(1.3);
}
main .header {
  border-bottom: none;
  height: 100px;
}
main .header__nav a {
  color: #777777;
  font-weight: var(--font-bold);
}
main .header__nav a:hover {
  border-bottom-color: #777;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #ddd;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bag.png") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
    filter: drop-shadow(24px 11px 16px #000000);
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/user.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  height: 100px;
}
main .info-bar__item {
  font-weight: var(--font-bold);
  font-size: 90%;
}
main #content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg.png");
}
main .footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), white), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/game/bg-simple.svg");
}