@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
/* Colors: */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.navbar {
  border-width: 1px;
  border-style: solid;
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-top-width: 1px 0 0 0;
  border-style: solid;
}

.bg-primary {
  background-color: #222222 !important;
  border-color: rgb(17.425, 17.425, 17.425) !important;
}

.bg-dark {
  border-color: rgb(39.1456521739, 41.2808695652, 42.7043478261) !important;
}

.bg-light {
  border-color: rgb(238.425, 238.425, 238.425);
}

.btn-primary,
.btn-primary:hover {
  background-image: linear-gradient(rgb(41.65, 41.65, 41.65), #222222 6%, rgb(26.35, 26.35, 26.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(17.425, 17.425, 17.425);
}

.btn-secondary,
.btn-secondary:hover {
  background-image: linear-gradient(rgb(126.65, 126.65, 126.65), #777777 6%, rgb(111.35, 111.35, 111.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(102.425, 102.425, 102.425);
}

.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-success,
.btn-success:hover {
  background-image: linear-gradient(rgb(76.8653846154, 162.5153846154, 8.7846153846), #469408 6%, rgb(63.1346153846, 133.4846153846, 7.2153846154));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(55.125, 116.55, 6.3);
}

.btn-info,
.btn-info:hover {
  background-image: linear-gradient(rgb(2.1464114833, 165.2736842105, 222.1535885167), #029acf 6%, rgb(1.8535885167, 142.7263157895, 191.8464114833));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(1.6827751196, 129.5736842105, 174.1672248804);
}

.btn-warning,
.btn-warning:hover {
  background-image: linear-gradient(rgb(224.1625, 138.6133064516, 39.1375), #d9831f 6%, rgb(203.6125, 122.9181451613, 29.0875));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(187.99375, 113.4893145161, 26.85625);
}

.btn-danger,
.btn-danger:hover {
  background-image: linear-gradient(rgb(165.3108695652, 75.7230434783, 169.5769565217), #9b479f 6%, rgb(144.6891304348, 66.2769565217, 148.4230434783));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(132.6597826087, 60.7667391304, 136.0832608696);
}

.btn-dark,
.btn-dark:hover {
  background-image: linear-gradient(rgb(62.3173913043, 65.7165217391, 67.9826086957), #373a3c 6%, rgb(47.6826086957, 50.2834782609, 52.0173913043));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(39.1456521739, 41.2808695652, 42.7043478261);
}

.btn-light,
.btn-light:hover {
  background-image: linear-gradient(white, #fff 6%, rgb(247.35, 247.35, 247.35));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(238.425, 238.425, 238.425);
}

.btn-outline-secondary {
  border-color: #bbb;
  color: #bbb;
}
.btn-outline-secondary:hover {
  background-color: #bbb;
  color: #fff;
}

.text-secondary {
  color: #777 !important;
}

.breadcrumb {
  border: 1px solid rgb(238.425, 238.425, 238.425);
}

.pagination .page-link:hover {
  text-decoration: none;
}

.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

#ec-user-popover {
  margin-right: 0.2rem;
}

main .header {
  background-color: #fcfcfc;
  border-color: #EFEDF0;
}
main .header__row {
  padding: 0 16px;
}
main .header__buttons .btn {
  font-size: 26px;
  margin-left: 0;
}
main .header__buttons .i-user::before {
  content: "\f2bd";
}
main .header__buttons .badge-primary {
  background-color: #C0B9DD;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 3px;
}
main .header__search {
  border-bottom: 1px solid #5F506B;
}
main .header__search .i-search {
  color: #5F506B;
}
main .header__page-links a {
  color: #707070;
  font-weight: 500;
  font-size: 13px;
}
@media (min-width: 992px) {
  main .header__page-links a {
    margin-right: 30px;
  }
}

div > .header__nav--full {
  padding-top: 43px;
}
div > .header__nav--full::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--border-width);
  margin-top: -18px;
  background: var(--border-color);
}
div > .header__nav--full a {
  padding: 0 42px;
}
div > .header__nav .header__category {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  color: #777777;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  text-align: center;
}
div > .header__nav .header__category:hover {
  color: #D88C88;
  background-color: transparent;
}
.header__nav .header__submenu {
  background-color: #fcfcfc;
  border-top: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__submenu::after {
  height: 2px;
  top: 0;
}
.header__nav .header__submenu a {
  color: #D88C88;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 17px;
}
div > .header__nav .header__submenu-subcategory {
  color: #5F506B;
  font-weight: normal;
  font-size: 14px;
}

main .product-card__offer-stamp {
  min-width: 52px;
  background-color: #222222;
  border-radius: 0;
}
main .product-card__offer-stamp .i-arrow-down::before {
  content: "-";
}
main .product-card__link {
  color: #777777;
  font-family: "Playfair Display";
}
main .product-card__name {
  font-size: 18px;
  margin-bottom: 9px;
}
main .product-card .prices {
  display: block;
}
main .product-card .prices__compare, main .product-card .prices__value {
  font-size: 16px;
  display: inline-block;
  width: auto;
}
main .product-card .prices__compare {
  margin-right: 14px;
}
main .product-card .prices__compare s {
  color: #C0B9DD;
}
main .product-card .prices__value {
  color: #222222;
}
main .product-card .prices__value small {
  display: none;
}

main .product__name {
  color: #777777;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
main .product__sku {
  margin-bottom: 1.125rem;
}
main .product__prices {
  padding-bottom: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product #product-actions > div article,
main .product #product-actions > div .mb-3:not(.product__payment) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}
main .product .prices__compare {
  color: #777777;
  font-size: 18px;
}
main .product .prices__compare small:not(.prices__discount-label) {
  text-transform: capitalize;
}
main .product .prices__compare small:last-child {
  font-size: 32px;
  color: #222222;
  font-weight: bold;
  position: absolute;
  left: 15px;
  margin-top: 21px;
  margin-left: 0;
}
main .product .prices__compare + strong {
  margin-left: 60px;
}
main .product .prices__value {
  color: #222222;
  font-weight: bold;
  font-size: 32px;
}
main .product .variations {
  padding-top: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product .variations__grid-title {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
}
main .product .variations__option {
  background-color: #F2F2F2;
}
main .product .variations__option:hover {
  border-color: #E40000;
}
main .product .variations__option--selected:not(.disabled) {
  border-color: #E40000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
main .product .variations__option:hover, main .product .variations__option:focus {
  background-color: #D4D3D3;
}
main .product__buy {
  margin-top: 24px;
}
main .product__buy .btn-lg {
  padding: 8px 24px;
  font-weight: 600;
  box-sizing: border-box;
  height: 44px;
  width: 173px;
}
@media (max-width: 575.98px) {
  main .product__buy .btn-lg {
    width: 100%;
  }
}
main .product__buy .quantity-selector__btn-container {
  height: 44px;
  width: 135px;
  margin-right: calc(var(--spacer-3) + var(--spacer-1));
  justify-content: center;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
}
main .product__buy .quantity-selector__btn-container button {
  padding: var(--spacer-2) var(--spacer-1);
}
@media (max-width: 575.98px) {
  main .product__buy .quantity-selector__btn-container {
    display: none;
  }
}
main .product__buy .quantity-selector__input {
  border: none;
}
@media (max-width: 575.98px) {
  main .product__buy .quantity-selector__label {
    width: 100%;
  }
}
main .product__buy .i-chevron-up::before,
main .product__buy .i-chevron-down::before {
  display: flex;
  border: 1px solid #222222;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 21px;
  font-size: 18px;
}
main .product__buy .i-chevron-up::before {
  content: "+";
}
main .product__buy .i-chevron-down::before {
  content: "-";
}
@media (max-width: 575.98px) {
  main .product .quantity-selector__buy button {
    width: 100%;
  }
}
main .product .share-network-whatsapp {
  color: #777777;
  font-size: 14px;
}
main .product .shipping-calculator {
  padding-top: 16px;
}
main .product .shipping-calculator label {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}
main .product .shipping-calculator .input-group {
  border-color: #C8C8C8;
}
main .product .shipping-calculator .input-group input {
  min-height: 38px;
  color: #9A9A9A;
  font-size: 14px;
}
main .product .shipping-calculator .input-group button {
  background-color: #222222;
  border-color: #222222;
  color: #fcfcfc;
}
main .product .shipping-calculator .input-group button:hover {
  background-color: #fcfcfc;
  color: #222222;
}
main .product .shipping-calculator .input-group button .i-shipping-fast::before {
  content: "OK";
  font-family: "Poppins";
  font-weight: bold;
  font-size: 15px;
}
main .product .shipping-calculator .list-group-item {
  border-color: 1px solid #E8E8E8;
}
main .product .shipping-calculator__option {
  color: #707070;
}
main .product .shipping-calculator__option strong {
  color: #777777;
}
main .product .shipping-calculator__option small {
  top: 0;
}
main .product .shipping-calculator__option strong, main .product .shipping-calculator__option span, main .product .shipping-calculator__option small {
  font-size: 12px;
}
main .product__sticky .prices__compare + strong {
  margin-left: 0;
}
main .product__sticky-info h5 {
  color: #777777;
}
main .product-description .container,
main .product-specs .container {
  border: 1px solid #D9D9D9;
  background-color: #fcfcfc;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .product-description .container .a-column,
main .product-specs .container .a-column {
  color: #777777 !important;
  font-family: "Poppins" !important;
}
main .product-description .container table th,
main .product-specs .container table th {
  background-color: #fcfcfc !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #777777 !important;
}
main .product-description .container table td,
main .product-specs .container table td {
  font-size: 12px !important;
  color: #707070 !important;
}
main .product-description .container .lead,
main .product-specs .container .lead {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
main .product-description .container .lead a,
main .product-specs .container .lead a {
  display: none;
}
main .product-description .container .lead #text,
main .product-specs .container .lead #text {
  border-bottom: 3px solid #F7F7F7;
}
main .product-description .container dt,
main .product-specs .container dt {
  color: #777777;
  font-weight: 600 !important;
  font-size: 0.75rem;
}
main .product-description .container .table,
main .product-specs .container .table {
  height: 47px;
  border-bottom: 1px solid #E8E8E8 !important;
  border-collapse: initial !important;
}
main .product-description .container dl,
main .product-specs .container dl {
  border-top: 1px solid #E8E8E8 !important;
}
main .product-description .container .odd,
main .product-description .container .even,
main .product-specs .container .odd,
main .product-specs .container .even {
  background-color: #fcfcfc !important;
}
main .page--products .recommended-products .products-carousel__title {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

main .footer {
  background-color: #222222;
  border-color: #222222;
  color: #fcfcfc;
}
main .footer p {
  font-size: 14px;
}
main .footer__title {
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 600;
}
main .footer__links .i-chevron-right {
  display: none;
}
main .footer__links a {
  color: #fcfcfc;
  font-size: 13px;
}
main .footer__links li {
  line-height: 28px;
}
main .footer__contacts a {
  color: #fcfcfc;
  font-size: 18px;
}
main .footer__contacts .list-unstyled li {
  line-height: 32px;
}
main .footer__credits button {
  background-color: #777777;
  border-color: #777777;
  color: #fcfcfc;
}
@media (max-width: 575.98px) {
  main .footer__credits {
    flex-direction: column;
  }
}
main .footer__payment-methods i {
  background-color: #fcfcfc;
  border-radius: 5px;
}
main .footer__social a {
  opacity: 1;
}
main .footer__social i {
  color: #fcfcfc;
  font-size: 33px;
}
main .ecom-credits-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
main .ecom-credits {
  background-color: #222222;
  padding-right: 6px;
}
main .ecom-credits a {
  color: #fcfcfc;
}
main .ecom-credits img {
  max-width: initial;
}

main {
  font-family: "Poppins";
}
main .page-title__head h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 42px;
}
main .top-bar {
  background-color: #fcfcfc;
}
main .top-bar__nav {
  color: #A8A8A8;
}
main .top-bar__nav a {
  color: #A8A8A8;
  font-size: 12px;
}
main .top-bar__countdown {
  font-size: 12px;
}
main .top-bar__page-links a {
  color: #707070;
  font-size: 13px;
  font-weight: 500;
}
main .top-bar__contacts-container {
  margin-right: 0;
  margin-left: auto;
}
main .top-bar .i-facebook,
main .top-bar .i-youtube,
main .top-bar .i-instagram {
  color: #5F506B;
  font-size: 18px;
}
main .breadcrumb-item {
  font-size: 12px;
}
main .breadcrumb-item .i-home {
  font-size: 16px;
}
main .breadcrumb-item + .breadcrumb-item::before {
  content: "≫";
  color: #777777;
  padding-right: 11px;
  padding-left: 11px;
}
main .breadcrumb-item a {
  color: #777777;
}
main .breadcrumb-item.active {
  color: #D4001F;
}
main .banner-slider .glide__bullet, main .banner-slider .glide__bullet--active {
  background-color: #fcfcfc;
  border-color: #505050;
  border-radius: 6px;
}
@media (max-width: 575.98px) {
  main .banner-slider .glide__bullet {
    width: 32px;
    height: 13px;
  }
}
main .banner-slider .glide__arrow {
  display: none;
}
main .info-bar {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
main .info-bar__item {
  color: #5F506B;
}
main .info-bar__item:hover {
  color: #5F506B;
}
main .info-bar__item div {
  margin-left: 0;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}
main .info-bar__item div .info-bar__title {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
main .info-bar__item::after {
  background-color: #5F506B;
}
@media (max-width: 575.98px) {
  main .info-bar__nav .col-auto {
    padding-left: 12px;
    padding-right: 12px;
  }
}
main .products-carousel__title {
  color: #777777;
  font-family: "Playfair Display";
  font-size: 28px;
}
main .products-carousel__title::before {
  display: none;
}
main .products-carousel .glide__arrow {
  color: #222222;
}
main .search-engine__count {
  color: #777777;
}
main .search-engine__filter {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 20px;
}
main .search-engine__filter--price h5 {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter button {
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter .custom-control-input {
  font-size: 14px;
}
main .search-engine__filter .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #D4001F;
  border-color: #D4001F;
}
main .search-engine__filter .custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #777777;
}
main .search-engine .card-footer {
  background-color: #fcfcfc;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
}
main .search-engine .card-footer button {
  height: 53px;
  border-radius: 0;
  font-size: 15px;
}
main .blog .card {
  border: none;
}
main .blog .card-title a {
  color: #777777;
  font-family: "Playfair Display", "Regular Roman", sans-serif;
}
main .blog .card-title::after {
  content: " ";
  display: block;
  width: 60px;
  height: 1px;
  margin-top: 25px;
  background-color: #9B9B9B;
}
main .blog .blog-post-link {
  color: #777777;
  font-size: 14px;
}
main .blog .blog-post-date {
  color: #222222;
  font-size: 13px;
}
main form .form-control {
  color: #3D414A;
}
main form .form-control:focus {
  border: 1px solid #158DF6;
}
main form .custom-select:focus {
  border: 1px solid #158DF6;
}
main form .custom-select option {
  background-color: var(--body-bg);
  color: #60688B;
}