@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap");
.navbar {
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.navbar.bg-light {
  border-color: #333;
}
.navbar.fixed-top {
  border-radius: 0 25px 225px 0/25px 0 25px 255px;
  border-width: 0 0 2px;
}
.navbar.fixed-bottom {
  border-radius: 255px 25px 0 25px/25px 225px 25px 0;
  border-width: 2px 0 0;
}
.navbar-brand {
  font-family: "Cabin Sketch", cursive;
  font-weight: 400;
  text-decoration: none;
}

.btn {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  text-decoration: none;
}
.btn-lg {
  border-radius: 55px 225px 15px 25px/25px 25px 35px 355px;
}
.btn-sm {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

blockquote {
  border-radius: 15px 27px 25px 25px/25px 25px 305px 635px;
}

table th,
table td {
  background-color: #fff;
}

.table-bordered {
  background-color: #333;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px 25px 5px 25px/25px 5px 25px 5px;
  overflow: hidden;
}
.table-bordered th,
.table-bordered td {
  border-radius: 5px 5px 25px 4px/5px 4px 3px 5px;
}
.table-bordered .table-success td,
.table-bordered .table-success th,
.table-bordered .table-success:hover td,
.table-bordered .table-success:hover th {
  background-color: #28a745;
  color: #fff;
}
.table-bordered .table-info td,
.table-bordered .table-info th,
.table-bordered .table-info:hover td,
.table-bordered .table-info:hover th {
  background-color: #dee2e6;
  color: #fff;
}
.table-bordered .table-warning td,
.table-bordered .table-warning th,
.table-bordered .table-warning:hover td,
.table-bordered .table-warning:hover th {
  background-color: #ffc107;
  color: #fff;
}
.table-bordered .table-danger td,
.table-bordered .table-danger th,
.table-bordered .table-danger:hover td,
.table-bordered .table-danger:hover th {
  background-color: #dc3545;
  color: #fff;
}

.table-dark th,
.table-dark td, .table-dark.table-hover .table-active:hover > th, .table-dark.table-hover .table-active:hover > td {
  background-color: #333;
}

input,
.form-control,
.input-group-text,
.custom-file-label {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

textarea,
textarea.form-control,
select,
select.form-control {
  border-radius: 55px 225px 15px 25px/25px 25px 35px 355px !important;
}

[type=checkbox] {
  position: relative;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
  cursor: pointer;
}
[type=checkbox]::before {
  content: "";
  position: absolute;
  left: -1.2em;
  top: -0.9em;
  display: inline-block;
  width: 15px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 2px 8px 2px 4px/5px 3px 5px 3px;
}
[type=checkbox]:checked::after {
  content: "x";
  position: absolute;
  left: -0.64em;
  top: -0.48em;
  font-size: 1.5rem;
  line-height: 0.5;
  color: #333;
}
[type=checkbox]:disabled::before {
  border: 2px solid #aaa;
}

[type=radio] {
  position: relative;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
  cursor: pointer;
}
[type=radio]::before {
  content: "";
  position: absolute;
  left: -1.2em;
  top: -0.9em;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 50% 45% 40% 50%/40% 50% 50% 45%;
}
[type=radio]:checked::before {
  background-color: #333;
}
[type=radio]:disabled::before {
  border: 2px solid #aaa;
}

.form-check-label {
  padding-left: 2.5rem;
}

.form-check-inline [type=checkbox]::before {
  left: 0;
  top: 0;
}
.form-check-inline [type=checkbox]::after {
  left: 0.14em;
  top: 0.12em;
}
.form-check-inline [type=radio]::before {
  left: 0;
  top: 0;
}
.form-check-inline .form-check-label {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-menu {
  border-radius: 555px 25px 25px 25px/25px 25px 25px 555px;
  overflow: hidden;
}

.dropdown-divider {
  border-top-width: 2px;
}

.list-group {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 45px 15px 35px 5px/15px 5px 15px 65px;
  overflow: hidden;
}
.list-group-item {
  border-left: none;
  border-right: none;
  border-top: 2px solid #333;
  border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;
}
.list-group-item:first-child {
  border-top: none;
}
.list-group-item:last-child {
  border-bottom: none;
}

.nav-pills .nav-link {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.nav-link,
.page-link,
.list-group-item,
.dropdown-item {
  text-decoration: none;
}

.nav-tabs .nav-link {
  border-radius: 45px 15px 225px 5px/25px 225px 25px 255px;
}

.breadcrumb {
  border: 2px solid #333;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.pagination .page-link {
  border-radius: 425px 255px 25px 25px/25px 25px 5px 25px;
}

.badge {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}
.badge-pill {
  border-radius: 7rem 8rem 8rem 8rem/4rem 5rem 6rem 6rem;
}
.badge-warning {
  color: #fff;
}

.alert {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}
.alert-dismissible .close {
  color: transparent;
}
.alert-dismissible .close::before {
  right: 1rem;
  top: 0.8rem;
}
.alert-dismissible.alert-success {
  border-color: #28a745;
}
.alert-dismissible.alert-success,
.alert-dismissible.alert-success .alert-link,
.alert-dismissible.alert-success .close::before {
  color: #28a745;
}
.alert-dismissible.alert-info {
  border-color: #dee2e6;
}
.alert-dismissible.alert-info,
.alert-dismissible.alert-info .alert-link,
.alert-dismissible.alert-info .close::before {
  color: #dee2e6;
}
.alert-dismissible.alert-warning {
  border-color: #ffc107;
}
.alert-dismissible.alert-warning,
.alert-dismissible.alert-warning .alert-link,
.alert-dismissible.alert-warning .close::before {
  color: #ffc107;
}
.alert-dismissible.alert-danger {
  border-color: #dc3545;
}
.alert-dismissible.alert-danger,
.alert-dismissible.alert-danger .alert-link,
.alert-dismissible.alert-danger .close::before {
  color: #dc3545;
}

.progress {
  border: 2px solid #333;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}
.card-outline-primary, .card-outline-success, .card-outline-info, .card-outline-warning, .card-outline-danger {
  border-width: 2px;
}
.card-header {
  border-bottom-width: 2px;
  border-color: inherit;
}
.card-header:first-child {
  border-radius: 3px 3px 0 0/23px 23px 0 0;
}
.card-footer {
  border-top-width: 2px;
}

.jumbotron {
  border: 2px solid #333;
  border-radius: 55px 225px 15px 25px/25px 25px 35px 355px;
}

.toast {
  border-radius: 10px 10px 15px 5px/5px 15px 5px 15px;
}
.toast-header {
  font-family: "Cabin Sketch", cursive;
}

.modal-content {
  border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
}

.popover {
  padding: 0;
  border-radius: 45px 85px 15px 25px/15px 10px 35px 555px;
}
.popover-title {
  border-bottom: 2px solid #333;
}
.popover.popover-left::before, .popover.bs-tether-element-attached-right::before {
  right: -13px;
}
.popover.popover-top::before, .popover.bs-tether-element-attached-bottom::before {
  bottom: -13px;
}
.popover.popover-bottom::before, .popover.bs-tether-element-attached-top::before {
  top: -13px;
}
.popover.popover-right::before, .popover.bs-tether-element-attached-left::before {
  left: -13px;
}

.tooltip-inner {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

pre {
  border: 2px solid #333;
  border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
}

.close,
.close:hover,
.close:focus,
.close:active {
  opacity: 1;
}
.close::before,
.close:hover::before,
.close:focus::before,
.close:active::before {
  position: absolute;
  content: "X";
  color: #333;
}

.img-thumbnail {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.badge {
  padding: 0.4em;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

.breadcrumb {
  padding-left: 1rem;
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #333;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #333;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #868e96;
}
main #search-input {
  border: solid 1px #868e96;
}