.navbar {
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.navbar .container {
  padding: 0;
}
.navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.6);
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-width: 1px 0 0;
}
.navbar .nav-link {
  padding: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  padding: 0.75rem 1rem calc(24px - 0.75rem);
  margin-right: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .nav-item.active .nav-link {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}
.navbar.bg-light {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar.bg-light .nav-link:hover, .navbar.bg-light .nav-link:focus {
  background-image: linear-gradient(rgb(25.6662458975%, 27.8050997223%, 29.7063031221%), rgb(28.4473617773%, 30.8179752588%, 32.9251872423%) 40%, rgb(30.3014390305%, 32.8265589498%, 35.0711099891%));
  background-repeat: no-repeat;
  filter: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .navbar-expand-sm .navbar-brand,
  .navbar-expand-sm .nav-link {
    border: none !important;
  }
}
@media (max-width: 768px) {
  .navbar-expand-md .navbar-brand,
  .navbar-expand-md .nav-link {
    border: none !important;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-brand,
  .navbar-expand-lg .nav-link {
    border: none !important;
  }
}
.btn {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn:not([disabled]):not(.disabled).active, .btn.disabled {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}
.btn:hover, .btn:focus, .btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled):active:hover, .btn:not([disabled]):not(.disabled).active:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.btn-primary {
  background-image: linear-gradient(rgb(19.3333333333%, 19.3333333333%, 19.3333333333%), #222222 60%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
}
.btn-primary:not([disabled]):not(.disabled):hover, .btn-primary:not([disabled]):not(.disabled):focus, .btn-primary:not([disabled]):not(.disabled):active:hover, .btn-primary:not([disabled]):not(.disabled).active:hover {
  background-image: linear-gradient(black, black 40%, rgb(0.3333333333%, 0.3333333333%, 0.3333333333%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-secondary {
  background-image: linear-gradient(rgb(27.3801391524%, 29.8247944339%, 33.247311828%), #383d44 60%, rgb(18.3478810879%, 19.9860847565%, 22.2795698925%));
  background-repeat: no-repeat;
  filter: none;
}
.btn-secondary:not([disabled]):not(.disabled):hover, .btn-secondary:not([disabled]):not(.disabled):focus, .btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(5.7027197976%, 6.2118912081%, 6.9247311828%), rgb(8.412397217%, 9.1635041113%, 10.2150537634%) 40%, rgb(10.2188488299%, 11.1312460468%, 12.4086021505%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-success {
  background-image: linear-gradient(rgb(47.1535947712%, 80.1405228758%, 47.1535947712%), #62c462 60%, rgb(32.6165577342%, 74.6775599129%, 32.6165577342%));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-success:not([disabled]):not(.disabled):hover, .btn-success:not([disabled]):not(.disabled):focus, .btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(21.6590413943%, 57.6350762527%, 21.6590413943%), rgb(23.2979302832%, 61.9961873638%, 23.2979302832%) 40%, rgb(24.3905228758%, 64.9035947712%, 24.3905228758%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-info {
  background-image: linear-gradient(rgb(45.6761222255%, 79.1316810988%, 89.0689758137%), #5bc0de 60%, rgb(29.0263760326%, 72.7357420125%, 85.7187220066%));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-info:not([disabled]):not(.disabled):hover, .btn-info:not([disabled]):not(.disabled):focus, .btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(14.5309047477%, 59.0042798845%, 72.2141932915%), rgb(15.5359808898%, 63.0854981587%, 77.2091171494%) 40%, rgb(16.2060316512%, 65.8063103414%, 80.539066388%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-warning {
  background-image: linear-gradient(rgb(97.9119962946%, 63.1119345376%, 13.6958468427%), #f89406 60%, rgb(89.4438783387%, 53.3777983634%, 2.1639647985%));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-warning:not([disabled]):not(.disabled):hover, .btn-warning:not([disabled]):not(.disabled):focus, .btn-warning:not([disabled]):not(.disabled):active, .btn-warning:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(62.1052956616%, 37.0628377335%, 1.5025474757%), rgb(67.9635633781%, 40.5589007256%, 1.6442797591%) 40%, rgb(71.8690751891%, 42.8896093871%, 1.7387679481%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-danger {
  background-image: linear-gradient(rgb(94.4604051565%, 47.8626367674%, 46.5592026866%), #ee5f5b 60%, rgb(92.5819521179%, 30.1830787564%, 28.4376557253%));
  background-repeat: no-repeat;
  filter: none;
}
.btn-danger:not([disabled]):not(.disabled):hover, .btn-danger:not([disabled]):not(.disabled):focus, .btn-danger:not([disabled]):not(.disabled):active, .btn-danger:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(84.2829595927%, 10.7923301917%, 8.7366482505%), rgb(89.7194236811%, 11.4884627884%, 9.3001841621%) 40%, rgb(90.8913443831%, 14.2714765464%, 12.1282634601%));
  background-repeat: no-repeat;
  filter: none;
}

.btn-outline-primary {
  color: #fff;
}

.btn-link,
.btn-link:hover {
  border-color: transparent;
}

.btn-group .btn.active,
.btn-group-vertical .btn.active {
  border-color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.table-primary, .table-secondary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #383d44;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #e9ecef;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #272b30;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #62c462;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #5bc0de;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #ee5f5b;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f89406;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(255, 255, 255, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: rgb(8.3333333333%, 8.3333333333%, 8.3333333333%);
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: rgb(17.4446552815%, 19.0022137887%, 21.1827956989%);
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: rgb(85.5830753354%, 87.5490196078%, 89.5149638803%);
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: rgb(10.8113590264%, 11.9202163624%, 13.3062880325%);
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: rgb(31.1628540305%, 74.1312636166%, 31.1628540305%);
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: rgb(27.3614014134%, 72.0961481039%, 85.3836966259%);
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: rgb(92.394106814%, 28.4151229553%, 26.6255010291%);
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: rgb(87.4911224332%, 52.2124440327%, 2.116720704%);
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(255, 255, 255, 0.075);
}

legend {
  color: #fff;
}

.input-group-addon {
  background-image: linear-gradient(rgb(27.3801391524%, 29.8247944339%, 33.247311828%), #383d44 60%, rgb(18.3478810879%, 19.9860847565%, 22.2795698925%));
  background-repeat: no-repeat;
  filter: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.nav-tabs .nav-link {
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-tabs .nav-link:not([disabled]):not(.disabled):hover, .nav-tabs .nav-link:not([disabled]):not(.disabled):focus, .nav-tabs .nav-link:not([disabled]):not(.disabled):active, .nav-tabs .nav-link:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
}
.nav-tabs .nav-link.disabled {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
  color: #fff;
}

.nav-pills .nav-link {
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.nav-pills .nav-link:hover {
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: transparent;
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
  color: #6c757d;
}

.pagination .page-link {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
}
.pagination .page-link:hover {
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
  text-decoration: none;
}
.pagination .page-item.active .page-link {
  background-image: linear-gradient(rgb(4.2542258283%, 4.7450980392%, 5.2359702502%), rgb(6.9438810007%, 7.7450980392%, 8.5463150778%) 40%, rgb(8.736984449%, 9.7450980392%, 10.7532116295%));
  background-repeat: no-repeat;
  filter: none;
}
.pagination .page-item.disabled .page-link {
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
}

.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  background-image: linear-gradient(rgb(25.7714672076%, 28.7450980392%, 31.7187288709%), #343a40 60%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
}
.breadcrumb a,
.breadcrumb a:hover {
  color: #fff;
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background-color: #222222;
}
.alert-secondary {
  background-color: #383d44;
}
.alert-success {
  background-color: #62c462;
}
.alert-info {
  background-color: #5bc0de;
}
.alert-warning {
  background-color: #f89406;
}
.alert-danger {
  background-color: #ee5f5b;
}
.alert-light {
  background-color: #e9ecef;
}
.alert-dark {
  background-color: #272b30;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #272b30;
}
.alert .close {
  color: #383d44;
  text-decoration: none;
}

.badge-success, .badge-warning, .badge-info {
  color: #fff;
}

.jumbotron {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.list-group-item-action:hover {
  background-color: rgb(8.4817170111%, 9.5098039216%, 10.537890832%);
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

.header__toggler {
  padding: 0.15rem;
}

.menu__btn--close {
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
}

.menu__btn {
  color: var(--light);
}

main .top-bar {
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #fff;
  color: #495057;
  filter: drop-shadow(8px 8px 10px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #fff;
}
main .header__nav a {
  color: #383d44;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
  color: #adb5bd;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #e9ecef;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #383d44;
}
main .footer {
  background-color: #fff;
}
main .go-to-top {
  background-color: #383d44;
}