@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
/* Colors: */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.navbar {
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.navbar .container {
  padding: 0;
}
.navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.6);
}
.navbar-fixed-top {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  border-width: 1px 0 0;
}
.navbar .nav-link {
  padding: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  padding: 0.75rem 1rem calc(24px - 0.75rem);
  margin-right: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .nav-item.active .nav-link {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}
.navbar.bg-light {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar.bg-light .nav-link:hover, .navbar.bg-light .nav-link:focus {
  background-image: linear-gradient(rgb(78.4833333333, 83.7595238095, 87.7166666667), rgb(85.7083333333, 91.4702380952, 95.7916666667) 40%, rgb(90.525, 96.6107142857, 101.175));
  background-repeat: no-repeat;
  filter: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .navbar-expand-sm .navbar-brand,
  .navbar-expand-sm .nav-link {
    border: none !important;
  }
}
@media (max-width: 768px) {
  .navbar-expand-md .navbar-brand,
  .navbar-expand-md .nav-link {
    border: none !important;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-brand,
  .navbar-expand-lg .nav-link {
    border: none !important;
  }
}
.btn {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn:not([disabled]):not(.disabled).active, .btn.disabled {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}
.btn:hover, .btn:focus, .btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled):active:hover, .btn:not([disabled]):not(.disabled).active:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.btn-primary {
  background-image: linear-gradient(rgb(49.3, 49.3, 49.3), #222222 60%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
  filter: none;
}
.btn-primary:not([disabled]):not(.disabled):hover, .btn-primary:not([disabled]):not(.disabled):focus, .btn-primary:not([disabled]):not(.disabled):active:hover, .btn-primary:not([disabled]):not(.disabled).active:hover {
  background-image: linear-gradient(black, black 40%, rgb(0.85, 0.85, 0.85));
  background-repeat: no-repeat;
  filter: none;
}

.btn-secondary {
  background-image: linear-gradient(rgb(134.3, 134.3, 134.3), #777777 60%, rgb(108.8, 108.8, 108.8));
  background-repeat: no-repeat;
  filter: none;
}
.btn-secondary:not([disabled]):not(.disabled):hover, .btn-secondary:not([disabled]):not(.disabled):focus, .btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(73.1, 73.1, 73.1), rgb(80.75, 80.75, 80.75) 40%, rgb(85.85, 85.85, 85.85));
  background-repeat: no-repeat;
  filter: none;
}

.btn-success {
  background-image: linear-gradient(rgb(120.2416666667, 204.3583333333, 120.2416666667), #62c462 60%, rgb(83.1722222222, 190.4277777778, 83.1722222222));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-success:not([disabled]):not(.disabled):hover, .btn-success:not([disabled]):not(.disabled):focus, .btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(55.2305555556, 146.9694444444, 55.2305555556), rgb(59.4097222222, 158.0902777778, 59.4097222222) 40%, rgb(62.1958333333, 165.5041666667, 62.1958333333));
  background-repeat: no-repeat;
  filter: none;
}

.btn-info {
  background-image: linear-gradient(rgb(116.4741116751, 201.785786802, 227.1258883249), #5bc0de 60%, rgb(74.0172588832, 185.476142132, 218.5827411168));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-info:not([disabled]):not(.disabled):hover, .btn-info:not([disabled]):not(.disabled):focus, .btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(37.0538071066, 150.4609137056, 184.1461928934), rgb(39.616751269, 160.8680203046, 196.883248731) 40%, rgb(41.3253807107, 167.8060913706, 205.3746192893));
  background-repeat: no-repeat;
  filter: none;
}

.btn-warning {
  background-image: linear-gradient(rgb(249.6755905512, 160.9354330709, 34.9244094488), #f89406 60%, rgb(228.0818897638, 136.1133858268, 5.5181102362));
  background-repeat: no-repeat;
  filter: none;
  color: #fff;
}
.btn-warning:not([disabled]):not(.disabled):hover, .btn-warning:not([disabled]):not(.disabled):focus, .btn-warning:not([disabled]):not(.disabled):active, .btn-warning:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(158.368503937, 94.5102362205, 3.831496063), rgb(173.3070866142, 103.4251968504, 4.1929133858) 40%, rgb(183.2661417323, 109.368503937, 4.4338582677));
  background-repeat: no-repeat;
  filter: none;
}

.btn-danger {
  background-image: linear-gradient(rgb(240.8740331492, 122.0497237569, 118.7259668508), #ee5f5b 60%, rgb(236.0839779006, 76.9668508287, 72.5160220994));
  background-repeat: no-repeat;
  filter: none;
}
.btn-danger:not([disabled]):not(.disabled):hover, .btn-danger:not([disabled]):not(.disabled):focus, .btn-danger:not([disabled]):not(.disabled):active, .btn-danger:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(214.9215469613, 27.520441989, 22.2784530387), rgb(228.7845303867, 29.2955801105, 23.7154696133) 40%, rgb(231.7729281768, 36.3922651934, 30.9270718232));
  background-repeat: no-repeat;
  filter: none;
}

.btn-outline-primary {
  color: #fff;
}

.btn-link,
.btn-link:hover {
  border-color: transparent;
}

.btn-group .btn.active,
.btn-group-vertical .btn.active {
  border-color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.table-primary, .table-secondary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #777777;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #e9ecef;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #272b30;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #62c462;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #5bc0de;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #ee5f5b;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f89406;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(255, 255, 255, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: rgb(21.25, 21.25, 21.25);
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: rgb(106.25, 106.25, 106.25);
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: rgb(218.2368421053, 223.25, 228.2631578947);
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: rgb(27.5689655172, 30.3965517241, 33.9310344828);
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: rgb(79.4652777778, 189.0347222222, 79.4652777778);
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: rgb(69.7715736041, 183.845177665, 217.7284263959);
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: rgb(235.6049723757, 72.4585635359, 67.8950276243);
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: rgb(223.1023622047, 133.1417322835, 5.3976377953);
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(255, 255, 255, 0.075);
}

legend {
  color: #fff;
}

.input-group-addon {
  background-image: linear-gradient(rgb(134.3, 134.3, 134.3), #777777 60%, rgb(108.8, 108.8, 108.8));
  background-repeat: no-repeat;
  filter: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.nav-tabs .nav-link {
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-tabs .nav-link:not([disabled]):not(.disabled):hover, .nav-tabs .nav-link:not([disabled]):not(.disabled):focus, .nav-tabs .nav-link:not([disabled]):not(.disabled):active, .nav-tabs .nav-link:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
}
.nav-tabs .nav-link.disabled {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
  color: #fff;
}

.nav-pills .nav-link {
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.nav-pills .nav-link:hover {
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: transparent;
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
  color: #7a8288;
}

.pagination .page-link {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
}
.pagination .page-link:hover {
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
  text-decoration: none;
}
.pagination .page-item.active .page-link {
  background-image: linear-gradient(rgb(15.7428571429, 17.1, 18.4571428571), rgb(22.7857142857, 24.75, 26.7142857143) 40%, rgb(27.480952381, 29.85, 32.219047619));
  background-repeat: no-repeat;
  filter: none;
}
.pagination .page-item.disabled .page-link {
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
}

.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  background-image: linear-gradient(rgb(72.0857142857, 78.3, 84.5142857143), #3a3f44 60%, rgb(48.6095238095, 52.8, 56.9904761905));
  background-repeat: no-repeat;
  filter: none;
}
.breadcrumb a,
.breadcrumb a:hover {
  color: #fff;
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background-color: #222222;
}
.alert-secondary {
  background-color: #777777;
}
.alert-success {
  background-color: #62c462;
}
.alert-info {
  background-color: #5bc0de;
}
.alert-warning {
  background-color: #f89406;
}
.alert-danger {
  background-color: #ee5f5b;
}
.alert-light {
  background-color: #e9ecef;
}
.alert-dark {
  background-color: #272b30;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #272b30;
}
.alert .close {
  color: #000;
  text-decoration: none;
}

.badge-success, .badge-warning, .badge-info {
  color: #fff;
}

.jumbotron {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.list-group-item-action:hover {
  background-color: rgb(27.5689655172, 30.3965517241, 33.9310344828);
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

.header__toggler {
  padding: 0.15rem;
}

.menu__btn--close {
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
}

.menu__btn {
  color: var(--light);
}

main .header {
  background-color: #272b30;
  border-color: #EFEDF0;
}
main .header__row {
  padding: 0 16px;
}
main .header__buttons .btn {
  font-size: 26px;
  margin-left: 0;
}
main .header__buttons .i-user::before {
  content: "\f2bd";
}
main .header__buttons .badge-primary {
  background-color: #C0B9DD;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 3px;
}
main .header__search {
  border-bottom: 1px solid #5F506B;
}
main .header__search .i-search {
  color: #5F506B;
}
main .header__page-links a {
  color: #707070;
  font-weight: 500;
  font-size: 13px;
}
@media (min-width: 992px) {
  main .header__page-links a {
    margin-right: 30px;
  }
}

div > .header__nav--full {
  padding-top: 43px;
}
div > .header__nav--full::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--border-width);
  margin-top: -18px;
  background: var(--border-color);
}
div > .header__nav--full a {
  padding: 0 42px;
}
div > .header__nav .header__category {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  color: #777777;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  text-align: center;
}
div > .header__nav .header__category:hover {
  color: #D88C88;
  background-color: transparent;
}
.header__nav .header__submenu {
  background-color: #272b30;
  border-top: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.header__nav .header__submenu::after {
  height: 2px;
  top: 0;
}
.header__nav .header__submenu a {
  color: #D88C88;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 17px;
}
div > .header__nav .header__submenu-subcategory {
  color: #5F506B;
  font-weight: normal;
  font-size: 14px;
}

main .product-card__offer-stamp {
  min-width: 52px;
  background-color: #222222;
  border-radius: 0;
}
main .product-card__offer-stamp .i-arrow-down::before {
  content: "-";
}
main .product-card__link {
  color: #777777;
  font-family: "Playfair Display";
}
main .product-card__name {
  font-size: 18px;
  margin-bottom: 9px;
}
main .product-card .prices {
  display: block;
}
main .product-card .prices__compare, main .product-card .prices__value {
  font-size: 16px;
  display: inline-block;
  width: auto;
}
main .product-card .prices__compare {
  margin-right: 14px;
}
main .product-card .prices__compare s {
  color: #C0B9DD;
}
main .product-card .prices__value {
  color: #222222;
}
main .product-card .prices__value small {
  display: none;
}

main .product__name {
  color: #777777;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
main .product__sku {
  margin-bottom: 1.125rem;
}
main .product__prices {
  padding-bottom: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product #product-actions > div article,
main .product #product-actions > div .mb-3:not(.product__payment) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}
main .product .prices__compare {
  color: #777777;
  font-size: 18px;
}
main .product .prices__compare small:not(.prices__discount-label) {
  text-transform: capitalize;
}
main .product .prices__compare small:last-child {
  font-size: 32px;
  color: #222222;
  font-weight: bold;
  position: absolute;
  left: 15px;
  margin-top: 21px;
  margin-left: 0;
}
main .product .prices__compare + strong {
  margin-left: 60px;
}
main .product .prices__value {
  color: #222222;
  font-weight: bold;
  font-size: 32px;
}
main .product .variations {
  padding-top: 1rem;
  border-bottom: 1px solid #E8E8E8;
}
main .product .variations__grid-title {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
}
main .product .variations__option {
  background-color: #F2F2F2;
}
main .product .variations__option:hover {
  border-color: #E40000;
}
main .product .variations__option--selected:not(.disabled) {
  border-color: #E40000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
main .product .variations__option:hover, main .product .variations__option:focus {
  background-color: #D4D3D3;
}
main .product__buy {
  margin-top: 24px;
}
main .product__buy .btn-lg {
  padding: 8px 24px;
  font-weight: 600;
  box-sizing: border-box;
  height: 44px;
  width: 173px;
}
@media (max-width: 575.98px) {
  main .product__buy .btn-lg {
    width: 100%;
  }
}
main .product__buy .quantity-selector__btn-container {
  height: 44px;
  width: 135px;
  margin-right: calc(var(--spacer-3) + var(--spacer-1));
  justify-content: center;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
}
main .product__buy .quantity-selector__btn-container button {
  padding: var(--spacer-2) var(--spacer-1);
}
@media (max-width: 575.98px) {
  main .product__buy .quantity-selector__btn-container {
    display: none;
  }
}
main .product__buy .quantity-selector__input {
  border: none;
}
@media (max-width: 575.98px) {
  main .product__buy .quantity-selector__label {
    width: 100%;
  }
}
main .product__buy .i-chevron-up::before,
main .product__buy .i-chevron-down::before {
  display: flex;
  border: 1px solid #222222;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 21px;
  font-size: 18px;
}
main .product__buy .i-chevron-up::before {
  content: "+";
}
main .product__buy .i-chevron-down::before {
  content: "-";
}
@media (max-width: 575.98px) {
  main .product .quantity-selector__buy button {
    width: 100%;
  }
}
main .product .share-network-whatsapp {
  color: #777777;
  font-size: 14px;
}
main .product .shipping-calculator {
  padding-top: 16px;
}
main .product .shipping-calculator label {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}
main .product .shipping-calculator .input-group {
  border-color: #C8C8C8;
}
main .product .shipping-calculator .input-group input {
  min-height: 38px;
  color: #aaa;
  font-size: 14px;
}
main .product .shipping-calculator .input-group button {
  background-color: #222222;
  border-color: #222222;
  color: #272b30;
}
main .product .shipping-calculator .input-group button:hover {
  background-color: #272b30;
  color: #222222;
}
main .product .shipping-calculator .input-group button .i-shipping-fast::before {
  content: "OK";
  font-family: "Poppins";
  font-weight: bold;
  font-size: 15px;
}
main .product .shipping-calculator .list-group-item {
  border-color: 1px solid #E8E8E8;
}
main .product .shipping-calculator__option {
  color: #707070;
}
main .product .shipping-calculator__option strong {
  color: #777777;
}
main .product .shipping-calculator__option small {
  top: 0;
}
main .product .shipping-calculator__option strong, main .product .shipping-calculator__option span, main .product .shipping-calculator__option small {
  font-size: 12px;
}
main .product__sticky .prices__compare + strong {
  margin-left: 0;
}
main .product__sticky-info h5 {
  color: #777777;
}
main .product-description .container,
main .product-specs .container {
  border: 1px solid #D9D9D9;
  background-color: #272b30;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .product-description .container .a-column,
main .product-specs .container .a-column {
  color: #777777 !important;
  font-family: "Poppins" !important;
}
main .product-description .container table th,
main .product-specs .container table th {
  background-color: #272b30 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #777777 !important;
}
main .product-description .container table td,
main .product-specs .container table td {
  font-size: 12px !important;
  color: #707070 !important;
}
main .product-description .container .lead,
main .product-specs .container .lead {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
main .product-description .container .lead a,
main .product-specs .container .lead a {
  display: none;
}
main .product-description .container .lead #text,
main .product-specs .container .lead #text {
  border-bottom: 3px solid #F7F7F7;
}
main .product-description .container dt,
main .product-specs .container dt {
  color: #777777;
  font-weight: 600 !important;
  font-size: 0.75rem;
}
main .product-description .container .table,
main .product-specs .container .table {
  height: 47px;
  border-bottom: 1px solid #E8E8E8 !important;
  border-collapse: initial !important;
}
main .product-description .container dl,
main .product-specs .container dl {
  border-top: 1px solid #E8E8E8 !important;
}
main .product-description .container .odd,
main .product-description .container .even,
main .product-specs .container .odd,
main .product-specs .container .even {
  background-color: #272b30 !important;
}
main .page--products .recommended-products .products-carousel__title {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

main .footer {
  background-color: #222222;
  border-color: #222222;
  color: #272b30;
}
main .footer p {
  font-size: 14px;
}
main .footer__title {
  color: #272b30;
  font-size: 20px;
  font-weight: 600;
}
main .footer__links .i-chevron-right {
  display: none;
}
main .footer__links a {
  color: #272b30;
  font-size: 13px;
}
main .footer__links li {
  line-height: 28px;
}
main .footer__contacts a {
  color: #272b30;
  font-size: 18px;
}
main .footer__contacts .list-unstyled li {
  line-height: 32px;
}
main .footer__credits button {
  background-color: #777777;
  border-color: #777777;
  color: #272b30;
}
@media (max-width: 575.98px) {
  main .footer__credits {
    flex-direction: column;
  }
}
main .footer__payment-methods i {
  background-color: #272b30;
  border-radius: 5px;
}
main .footer__social a {
  opacity: 1;
}
main .footer__social i {
  color: #272b30;
  font-size: 33px;
}
main .ecom-credits-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
main .ecom-credits {
  background-color: #222222;
  padding-right: 6px;
}
main .ecom-credits a {
  color: #272b30;
}
main .ecom-credits img {
  max-width: initial;
}

main {
  font-family: "Poppins";
}
main .page-title__head h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 42px;
}
main .top-bar {
  background-color: #272b30;
}
main .top-bar__nav {
  color: #A8A8A8;
}
main .top-bar__nav a {
  color: #A8A8A8;
  font-size: 12px;
}
main .top-bar__countdown {
  font-size: 12px;
}
main .top-bar__page-links a {
  color: #707070;
  font-size: 13px;
  font-weight: 500;
}
main .top-bar__contacts-container {
  margin-right: 0;
  margin-left: auto;
}
main .top-bar .i-facebook,
main .top-bar .i-youtube,
main .top-bar .i-instagram {
  color: #5F506B;
  font-size: 18px;
}
main .breadcrumb-item {
  font-size: 12px;
}
main .breadcrumb-item .i-home {
  font-size: 16px;
}
main .breadcrumb-item + .breadcrumb-item::before {
  content: "≫";
  color: #777777;
  padding-right: 11px;
  padding-left: 11px;
}
main .breadcrumb-item a {
  color: #777777;
}
main .breadcrumb-item.active {
  color: #D4001F;
}
main .banner-slider .glide__bullet, main .banner-slider .glide__bullet--active {
  background-color: #272b30;
  border-color: #505050;
  border-radius: 6px;
}
@media (max-width: 575.98px) {
  main .banner-slider .glide__bullet {
    width: 32px;
    height: 13px;
  }
}
main .banner-slider .glide__arrow {
  display: none;
}
main .info-bar {
  background-color: #272b30;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
main .info-bar__item {
  color: #5F506B;
}
main .info-bar__item:hover {
  color: #5F506B;
}
main .info-bar__item div .info-bar__title {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
main .info-bar__item div {
  margin-left: 0;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}
main .info-bar__item::after {
  background-color: #5F506B;
}
@media (max-width: 575.98px) {
  main .info-bar__nav .col-auto {
    padding-left: 12px;
    padding-right: 12px;
  }
}
main .products-carousel__title {
  color: #777777;
  font-family: "Playfair Display";
  font-size: 28px;
}
main .products-carousel__title::before {
  display: none;
}
main .products-carousel .glide__arrow {
  color: #222222;
}
main .search-engine__count {
  color: #777777;
}
main .search-engine__filter {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 20px;
}
main .search-engine__filter--price h5 {
  color: #777777;
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter button {
  font-size: 15px;
  font-weight: 600;
}
main .search-engine__filter .custom-control-input {
  font-size: 14px;
}
main .search-engine__filter .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #D4001F;
  border-color: #D4001F;
}
main .search-engine__filter .custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #777777;
}
main .search-engine .card-footer {
  background-color: #272b30;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
}
main .search-engine .card-footer button {
  height: 53px;
  border-radius: 0;
  font-size: 15px;
}
main .blog .card {
  border: none;
}
main .blog .card-title a {
  color: #777777;
  font-family: "Playfair Display", "Regular Roman", sans-serif;
}
main .blog .card-title::after {
  content: " ";
  display: block;
  width: 60px;
  height: 1px;
  margin-top: 25px;
  background-color: #9B9B9B;
}
main .blog .blog-post-link {
  color: #777777;
  font-size: 14px;
}
main .blog .blog-post-date {
  color: #222222;
  font-size: 13px;
}
main form .form-control {
  color: #3D414A;
}
main form .form-control:focus {
  border: 1px solid #158DF6;
}
main form .custom-select:focus {
  border: 1px solid #158DF6;
}
main form .custom-select option {
  background-color: var(--body-bg);
  color: #60688B;
}