.btn-primary {
  background: #222222 linear-gradient(180deg, #434343, #222222) repeat-x;
}
.btn-secondary {
  background: #777777 linear-gradient(180deg, #8b8b8b, #777777) repeat-x;
}
.btn-success {
  background: #2aa198 linear-gradient(180deg, #4aafa7, #2aa198) repeat-x;
}
.btn-info {
  background: #268bd2 linear-gradient(180deg, #479cd9, #268bd2) repeat-x;
}
.btn-warning {
  background: #cb4b16 linear-gradient(180deg, #d36639, #cb4b16) repeat-x;
}
.btn-danger {
  background: #d33682 linear-gradient(180deg, #da5495, #d33682) repeat-x;
}
.btn-light {
  background: #fdf6e3 linear-gradient(180deg, #fdf7e7, #fdf6e3) repeat-x;
}
.btn-dark {
  background: #073642 linear-gradient(180deg, #2c545e, #073642) repeat-x;
}

.table-primary, .table-secondary, .table-dark, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #777777;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdf6e3;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #073642;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #2aa198;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #268bd2;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #d33682;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #cb4b16;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(255, 255, 255, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: #151515;
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: #6a6a6a;
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: #fbeecb;
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: #05232b;
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: #258d85;
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: #227dbc;
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: #c42b75;
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: #b44314;
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(255, 255, 255, 0.075);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #222222;
  background-image: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #222222;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #222222;
  background-image: none;
  border-color: #222222;
}

.custom-switch .custom-control-label::after {
  background-color: white;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: rgba(255, 255, 255, 0.75);
}

.alert {
  border: none;
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.alert-primary {
  background: #222222 linear-gradient(180deg, #434343, #222222) repeat-x;
}
.alert-secondary {
  background: #777777 linear-gradient(180deg, #8b8b8b, #777777) repeat-x;
}
.alert-success {
  background: #2aa198 linear-gradient(180deg, #4aafa7, #2aa198) repeat-x;
}
.alert-info {
  background: #268bd2 linear-gradient(180deg, #479cd9, #268bd2) repeat-x;
}
.alert-warning {
  background: #cb4b16 linear-gradient(180deg, #d36639, #cb4b16) repeat-x;
}
.alert-danger {
  background: #d33682 linear-gradient(180deg, #da5495, #d33682) repeat-x;
}
.alert-light {
  background: #fdf6e3 linear-gradient(180deg, #fdf7e7, #fdf6e3) repeat-x;
}
.alert-dark {
  background: #073642 linear-gradient(180deg, #2c545e, #073642) repeat-x;
}
.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #002b36;
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

.header__toggler {
  margin: 1.5rem;
}

.ec-minicart__sidebar {
  background-color: var(--light);
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(34, 34, 34, 0.1)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #777777;
}
main .header__nav a:hover {
  color: #222222;
  background-color: transparent;
}
main .header__buttons .btn {
  padding: 2px;
}
main .header__row {
  display: flex;
  flex-direction: row;
}
main .header__row .col-auto {
  order: 1;
}
main .header__row .col {
  order: 2;
}
main .header__row .d-none {
  order: 3;
}
main .header__row #search-bar {
  order: 4;
}
main .header__row .order-lg-last {
  order: 5;
}
main #search-input {
  border: solid 1px #eee8d5;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.6)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
}
main .go-to-top {
  background-color: #777777;
}