@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.navbar .nav-link,
.navbar .navbar-brand {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  transition: color ease-in-out 0.2s;
}
.navbar.bg-primary {
  background-image: linear-gradient(#484848, #222222 50%, #181818);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #090909;
}
.navbar.bg-dark {
  background-image: linear-gradient(#9d9d9d, #777777 50%, #6d6d6d);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #5e5e5e;
}
.navbar.bg-light {
  background-image: linear-gradient(white, #eee 50%, #e4e4e4);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #d5d5d5;
}
.navbar.bg-light .nav-link,
.navbar.bg-light .navbar-brand {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.bg-light .navbar-brand {
  color: rgba(0, 0, 0, 0.4);
}
.navbar.bg-light .navbar-brand:hover {
  color: #3399f3;
}

.btn {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.btn-link {
  text-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(#484848, #222222 50%, #181818);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #090909;
}

.btn-primary:not(.disabled):hover {
  background-image: linear-gradient(#3e3e3e, #181818 50%, #0e0e0e);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid black;
}

.btn-secondary {
  background-image: linear-gradient(#9d9d9d, #777777 50%, #6d6d6d);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #5e5e5e;
}

.btn-secondary:not(.disabled):hover {
  background-image: linear-gradient(#939393, #6d6d6d 50%, #636363);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #535353;
}

.btn-success {
  background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #2e8a19;
}

.btn-success:not(.disabled):hover {
  background-image: linear-gradient(#52da34, #36a41e 50%, #31921b);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #287916;
}

.btn-info {
  background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #0e80e6;
}

.btn-info:not(.disabled):hover {
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #0c75d2;
}

.btn-warning {
  background-image: linear-gradient(#ff9c22, #d47500 50%, #c06a00);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #a15900;
}

.btn-warning:not(.disabled):hover {
  background-image: linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #8d4e00;
}

.btn-danger {
  background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #9a0200;
}

.btn-danger:not(.disabled):hover {
  background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #860100;
}

.btn-light {
  background-image: linear-gradient(white, #eee 50%, #e4e4e4);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #d5d5d5;
}

.btn-light:not(.disabled):hover {
  background-image: linear-gradient(white, #e4e4e4 50%, #dadada);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #cacaca;
}

.btn-dark {
  background-image: linear-gradient(#595959, #333 50%, #292929);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #1a1a1a;
}

.btn-dark:not(.disabled):hover {
  background-image: linear-gradient(#4f4f4f, #292929 50%, #1f1f1f);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #0f0f0f;
}

[class*=btn-outline-] {
  text-shadow: none;
}

.badge-secondary {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
  width: 100%;
}
main .top-bar a.top-bar__countdown {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(34, 34, 34, 0.1)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
  font-weight: var(--font-bold);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #777777;
}
main .header__nav a:hover {
  color: #222222;
  background-color: transparent;
}
main .header__buttons .btn {
  padding: 2px;
}
main .header__row {
  display: flex;
  flex-direction: row;
}
main .header__row .col-auto {
  order: 1;
}
main .header__row .col {
  order: 2;
}
main .header__row .d-none {
  order: 3;
}
main .header__row #search-bar {
  order: 4;
}
main .header__row .order-lg-last {
  order: 5;
}
main #search-input {
  border: solid 1px #eee;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bag.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #777777;
  width: 32px;
  height: 32px;
  -webkit-mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/assignment.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .footer {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.6)), url("https://ecom.nyc3.cdn.digitaloceanspaces.com/storefront/flowers/bg.png");
}
main .go-to-top {
  background-color: #777777;
}