.navbar .nav-link,
.navbar .navbar-brand {
  text-shadow: -1px -1px 0 rgba(56, 61, 68, 0.1);
  transition: color ease-in-out 0.2s;
}
.navbar.bg-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}
.navbar.bg-dark {
  background-image: linear-gradient(rgb(35.5091714105%, 38.6796331436%, 43.1182795699%), #383d44 50%, rgb(18.3478810879%, 19.9860847565%, 22.2795698925%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(12.9285262492%, 14.08285895%, 15.6989247312%);
}
.navbar.bg-light {
  background-image: linear-gradient(white, #eee 50%, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(83.3333333333%, 83.3333333333%, 83.3333333333%);
}
.navbar.bg-light .nav-link,
.navbar.bg-light .navbar-brand {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.bg-light .navbar-brand {
  color: rgba(0, 0, 0, 0.4);
}
.navbar.bg-light .navbar-brand:hover {
  color: #3399f3;
}

.btn {
  text-shadow: -1px -1px 0 rgba(56, 61, 68, 0.1);
}
.btn-link {
  text-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}

.btn-primary:not(.disabled):hover {
  background-image: linear-gradient(rgb(24.3333333333%, 24.3333333333%, 24.3333333333%), rgb(9.3333333333%, 9.3333333333%, 9.3333333333%) 50%, rgb(5.3333333333%, 5.3333333333%, 5.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid black;
}

.btn-secondary {
  background-image: linear-gradient(rgb(35.5091714105%, 38.6796331436%, 43.1182795699%), #383d44 50%, rgb(18.3478810879%, 19.9860847565%, 22.2795698925%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(12.9285262492%, 14.08285895%, 15.6989247312%);
}

.btn-secondary:not(.disabled):hover {
  background-image: linear-gradient(rgb(31.8962681847%, 34.7441492726%, 38.7311827957%), rgb(18.3478810879%, 19.9860847565%, 22.2795698925%) 50%, rgb(14.7349778621%, 16.0506008855%, 17.8924731183%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(9.3156230234%, 10.1473750791%, 11.311827957%);
}

.btn-success {
  background-image: linear-gradient(rgb(38.0557082646%, 86.7262231996%, 27.1953454279%), #3cb521 50%, rgb(21.2864211105%, 64.2140370167%, 11.7075316108%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(17.9219351292%, 54.0645043064%, 9.8570643211%);
}

.btn-success:not(.disabled):hover {
  background-image: linear-gradient(rgb(32.2986989188%, 85.4925783397%, 20.4289902877%), rgb(21.2864211105%, 64.2140370167%, 11.7075316108%) 50%, rgb(19.0434304563%, 57.4476818765%, 10.473886751%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.678944475%, 47.2981491662%, 8.6234194612%);
}

.btn-info {
  background-image: linear-gradient(rgb(48.3333333333%, 74.1666666667%, 96.9607843137%), #3399f3 50%, rgb(12.4444444444%, 56.2222222222%, 94.8496732026%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(5.2941176471%, 50.2941176471%, 90%);
}

.btn-info:not(.disabled):hover {
  background-image: linear-gradient(rgb(40.7777777778%, 70.3888888889%, 96.5163398693%), rgb(12.4444444444%, 56.2222222222%, 94.8496732026%) 50%, rgb(5.5163398693%, 52.4052287582%, 93.7777777778%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(4.8496732026%, 46.0718954248%, 82.4444444444%);
}

.btn-warning {
  background-image: linear-gradient(rgb(100%, 61.0756566778%, 13.137254902%), #d47500 50%, rgb(75.137254902%, 41.4672586016%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(63.137254902%, 34.8446170921%, 0%);
}

.btn-warning:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 57.4907510174%, 5.137254902%), rgb(75.137254902%, 41.4672586016%, 0%) 50%, rgb(67.137254902%, 37.0521642619%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(55.137254902%, 30.4295227525%, 0%);
}

.btn-danger {
  background-image: linear-gradient(rgb(100%, 11.2663797226%, 10.3921568627%), #cd0200 50%, rgb(72.3921568627%, 0.706264945%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(60.3921568627%, 0.5891917743%, 0%);
}

.btn-danger:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 3.3444285031%, 2.3921568627%), rgb(72.3921568627%, 0.706264945%, 0%) 50%, rgb(64.3921568627%, 0.6282161645%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(52.3921568627%, 0.5111429938%, 0%);
}

.btn-light {
  background-image: linear-gradient(white, #eee 50%, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(83.3333333333%, 83.3333333333%, 83.3333333333%);
}

.btn-light:not(.disabled):hover {
  background-image: linear-gradient(white, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%) 50%, rgb(85.3333333333%, 85.3333333333%, 85.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(79.3333333333%, 79.3333333333%, 79.3333333333%);
}

.btn-dark {
  background-image: linear-gradient(rgb(35%, 35%, 35%), #333 50%, rgb(16%, 16%, 16%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(10%, 10%, 10%);
}

.btn-dark:not(.disabled):hover {
  background-image: linear-gradient(rgb(31%, 31%, 31%), rgb(16%, 16%, 16%) 50%, rgb(12%, 12%, 12%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(6%, 6%, 6%);
}

[class*=btn-outline-] {
  text-shadow: none;
}

.badge-secondary {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #fff;
  color: #495057;
  filter: drop-shadow(8px 8px 10px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #fff;
}
main .header__nav a {
  color: #383d44;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
  color: #adb5bd;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #e9ecef;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #383d44;
}
main .footer {
  background-color: #fff;
}
main .go-to-top {
  background-color: #383d44;
}