.navbar .nav-link,
.navbar .navbar-brand {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  transition: color ease-in-out 0.2s;
}
.navbar.bg-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}
.navbar.bg-dark {
  background-image: linear-gradient(white, #fff 50%, rgb(96%, 96%, 96%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(90%, 90%, 90%);
}
.navbar.bg-light {
  background-image: linear-gradient(rgb(42.3149509804%, 46.3725490196%, 50.4301470588%), #495057 50%, rgb(24.9774509804%, 27.3725490196%, 29.7676470588%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(19.5024509804%, 21.3725490196%, 23.2426470588%);
}
.navbar.bg-light .nav-link,
.navbar.bg-light .navbar-brand {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.bg-light .navbar-brand {
  color: rgba(0, 0, 0, 0.4);
}
.navbar.bg-light .navbar-brand:hover {
  color: #3399f3;
}

.btn {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.btn-link {
  text-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}

.btn-primary:not(.disabled):hover {
  background-image: linear-gradient(rgb(24.3333333333%, 24.3333333333%, 24.3333333333%), rgb(9.3333333333%, 9.3333333333%, 9.3333333333%) 50%, rgb(5.3333333333%, 5.3333333333%, 5.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid black;
}

.btn-secondary {
  background-image: linear-gradient(white, #fff 50%, rgb(96%, 96%, 96%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(90%, 90%, 90%);
}

.btn-secondary:not(.disabled):hover {
  background-image: linear-gradient(white, rgb(96%, 96%, 96%) 50%, rgb(92%, 92%, 92%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(86%, 86%, 86%);
}

.btn-success {
  background-image: linear-gradient(rgb(38.0557082646%, 86.7262231996%, 27.1953454279%), #3cb521 50%, rgb(21.2864211105%, 64.2140370167%, 11.7075316108%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(17.9219351292%, 54.0645043064%, 9.8570643211%);
}

.btn-success:not(.disabled):hover {
  background-image: linear-gradient(rgb(32.2986989188%, 85.4925783397%, 20.4289902877%), rgb(21.2864211105%, 64.2140370167%, 11.7075316108%) 50%, rgb(19.0434304563%, 57.4476818765%, 10.473886751%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.678944475%, 47.2981491662%, 8.6234194612%);
}

.btn-info {
  background-image: linear-gradient(rgb(48.3333333333%, 74.1666666667%, 96.9607843137%), #3399f3 50%, rgb(12.4444444444%, 56.2222222222%, 94.8496732026%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(5.2941176471%, 50.2941176471%, 90%);
}

.btn-info:not(.disabled):hover {
  background-image: linear-gradient(rgb(40.7777777778%, 70.3888888889%, 96.5163398693%), rgb(12.4444444444%, 56.2222222222%, 94.8496732026%) 50%, rgb(5.5163398693%, 52.4052287582%, 93.7777777778%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(4.8496732026%, 46.0718954248%, 82.4444444444%);
}

.btn-warning {
  background-image: linear-gradient(rgb(100%, 61.0756566778%, 13.137254902%), #d47500 50%, rgb(75.137254902%, 41.4672586016%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(63.137254902%, 34.8446170921%, 0%);
}

.btn-warning:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 57.4907510174%, 5.137254902%), rgb(75.137254902%, 41.4672586016%, 0%) 50%, rgb(67.137254902%, 37.0521642619%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(55.137254902%, 30.4295227525%, 0%);
}

.btn-danger {
  background-image: linear-gradient(rgb(100%, 11.2663797226%, 10.3921568627%), #cd0200 50%, rgb(72.3921568627%, 0.706264945%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(60.3921568627%, 0.5891917743%, 0%);
}

.btn-danger:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 3.3444285031%, 2.3921568627%), rgb(72.3921568627%, 0.706264945%, 0%) 50%, rgb(64.3921568627%, 0.6282161645%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(52.3921568627%, 0.5111429938%, 0%);
}

.btn-light {
  background-image: linear-gradient(rgb(42.3149509804%, 46.3725490196%, 50.4301470588%), #495057 50%, rgb(24.9774509804%, 27.3725490196%, 29.7676470588%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(19.5024509804%, 21.3725490196%, 23.2426470588%);
}

.btn-light:not(.disabled):hover {
  background-image: linear-gradient(rgb(38.6649509804%, 42.3725490196%, 46.0801470588%), rgb(24.9774509804%, 27.3725490196%, 29.7676470588%) 50%, rgb(21.3274509804%, 23.3725490196%, 25.4176470588%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.8524509804%, 17.3725490196%, 18.8926470588%);
}

.btn-dark {
  background-image: linear-gradient(rgb(35%, 35%, 35%), #333 50%, rgb(16%, 16%, 16%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(10%, 10%, 10%);
}

.btn-dark:not(.disabled):hover {
  background-image: linear-gradient(rgb(31%, 31%, 31%), rgb(16%, 16%, 16%) 50%, rgb(12%, 12%, 12%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(6%, 6%, 6%);
}

[class*=btn-outline-] {
  text-shadow: none;
}

.badge-secondary {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #e9ecef;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #6c757d;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #e9ecef;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #e9ecef;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #343a40;
}
main .search-engine__nav {
  background-color: #343a40;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #6c757d;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #343a40;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}