.navbar .nav-link,
.navbar .navbar-brand {
  text-shadow: -1px -1px 0 rgba(56, 61, 68, 0.1);
  transition: color ease-in-out 0.2s;
}
.navbar.bg-primary {
  background-image: linear-gradient(rgb(72.25, 72.25, 72.25), #222222 50%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(8.5, 8.5, 8.5);
}
.navbar.bg-dark {
  background-image: linear-gradient(rgb(90.5483870968, 98.6330645161, 109.9516129032), #383d44 50%, rgb(46.7870967742, 50.964516129, 56.8129032258));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(32.9677419355, 35.9112903226, 40.0322580645);
}
.navbar.bg-light {
  background-image: linear-gradient(white, #eee 50%, rgb(227.8, 227.8, 227.8));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(212.5, 212.5, 212.5);
}
.navbar.bg-light .nav-link,
.navbar.bg-light .navbar-brand {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.bg-light .navbar-brand {
  color: rgba(0, 0, 0, 0.4);
}
.navbar.bg-light .navbar-brand:hover {
  color: #3399f3;
}

.btn {
  text-shadow: -1px -1px 0 rgba(56, 61, 68, 0.1);
}
.btn-link {
  text-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(rgb(72.25, 72.25, 72.25), #222222 50%, rgb(23.8, 23.8, 23.8));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(8.5, 8.5, 8.5);
}

.btn-primary:not(.disabled):hover {
  background-image: linear-gradient(rgb(62.05, 62.05, 62.05), rgb(23.8, 23.8, 23.8) 50%, rgb(13.6, 13.6, 13.6));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid black;
}

.btn-secondary {
  background-image: linear-gradient(rgb(90.5483870968, 98.6330645161, 109.9516129032), #383d44 50%, rgb(46.7870967742, 50.964516129, 56.8129032258));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(32.9677419355, 35.9112903226, 40.0322580645);
}

.btn-secondary:not(.disabled):hover {
  background-image: linear-gradient(rgb(81.335483871, 88.5975806452, 98.764516129), rgb(46.7870967742, 50.964516129, 56.8129032258) 50%, rgb(37.5741935484, 40.9290322581, 45.6258064516));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(23.7548387097, 25.8758064516, 28.8451612903);
}

.btn-success {
  background-image: linear-gradient(rgb(97.0420560748, 221.1518691589, 69.3481308411), #3cb521 50%, rgb(54.2803738318, 163.7457943925, 29.8542056075));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(45.7009345794, 137.8644859813, 25.1355140187);
}

.btn-success:not(.disabled):hover {
  background-image: linear-gradient(rgb(82.361682243, 218.0060747664, 52.0939252336), rgb(54.2803738318, 163.7457943925, 29.8542056075) 50%, rgb(48.5607476636, 146.491588785, 26.708411215));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(39.9813084112, 120.6102803738, 21.9897196262);
}

.btn-info {
  background-image: linear-gradient(rgb(123.25, 189.125, 247.25), #3399f3 50%, rgb(31.7333333333, 143.3666666667, 241.8666666667));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(13.5, 128.25, 229.5);
}

.btn-info:not(.disabled):hover {
  background-image: linear-gradient(rgb(103.9833333333, 179.4916666667, 246.1166666667), rgb(31.7333333333, 143.3666666667, 241.8666666667) 50%, rgb(14.0666666667, 133.6333333333, 239.1333333333));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(12.3666666667, 117.4833333333, 210.2333333333);
}

.btn-warning {
  background-image: linear-gradient(rgb(255, 155.7429245283, 33.5), #d47500 50%, rgb(191.6, 105.741509434, 0));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(161, 88.8537735849, 0);
}

.btn-warning:not(.disabled):hover {
  background-image: linear-gradient(rgb(255, 146.6014150943, 13.1), rgb(191.6, 105.741509434, 0) 50%, rgb(171.2, 94.4830188679, 0));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(140.6, 77.5952830189, 0);
}

.btn-danger {
  background-image: linear-gradient(rgb(255, 28.7292682927, 26.5), #cd0200 50%, rgb(184.6, 1.8009756098, 0));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(154, 1.5024390244, 0);
}

.btn-danger:not(.disabled):hover {
  background-image: linear-gradient(rgb(255, 8.5282926829, 6.1), rgb(184.6, 1.8009756098, 0) 50%, rgb(164.2, 1.6019512195, 0));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(133.6, 1.3034146341, 0);
}

.btn-light {
  background-image: linear-gradient(white, #eee 50%, rgb(227.8, 227.8, 227.8));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(212.5, 212.5, 212.5);
}

.btn-light:not(.disabled):hover {
  background-image: linear-gradient(white, rgb(227.8, 227.8, 227.8) 50%, rgb(217.6, 217.6, 217.6));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(202.3, 202.3, 202.3);
}

.btn-dark {
  background-image: linear-gradient(rgb(89.25, 89.25, 89.25), #333 50%, rgb(40.8, 40.8, 40.8));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(25.5, 25.5, 25.5);
}

.btn-dark:not(.disabled):hover {
  background-image: linear-gradient(rgb(79.05, 79.05, 79.05), rgb(40.8, 40.8, 40.8) 50%, rgb(30.6, 30.6, 30.6));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.3, 15.3, 15.3);
}

[class*=btn-outline-] {
  text-shadow: none;
}

.badge-secondary {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #fff;
  color: #495057;
  filter: drop-shadow(8px 8px 10px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #fff;
}
main .header__nav a {
  color: #383d44;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
  color: #adb5bd;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #e9ecef;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: #383d44;
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #383d44;
}
main .footer {
  background-color: #fff;
}
main .go-to-top {
  background-color: #383d44;
}