.navbar .nav-link,
.navbar .navbar-brand {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  transition: color ease-in-out 0.2s;
}
.navbar.bg-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}
.navbar.bg-dark {
  background-image: linear-gradient(rgb(33.8404327248%, 37.7450980392%, 41.6497633536%), #343a40 50%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(11.4266396214%, 12.7450980392%, 14.0635564571%);
}
.navbar.bg-light {
  background-image: linear-gradient(white, #eee 50%, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(83.3333333333%, 83.3333333333%, 83.3333333333%);
}
.navbar.bg-light .nav-link,
.navbar.bg-light .navbar-brand {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.bg-light .navbar-brand {
  color: rgba(0, 0, 0, 0.4);
}
.navbar.bg-light .navbar-brand:hover {
  color: #dee2e6;
}

.btn {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.btn-link {
  text-shadow: none;
}

.btn-primary {
  background-image: linear-gradient(rgb(28.3333333333%, 28.3333333333%, 28.3333333333%), #222222 50%, rgb(9.3333333333%, 9.3333333333%, 9.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(3.3333333333%, 3.3333333333%, 3.3333333333%);
}

.btn-primary:not(.disabled):hover {
  background-image: linear-gradient(rgb(24.3333333333%, 24.3333333333%, 24.3333333333%), rgb(9.3333333333%, 9.3333333333%, 9.3333333333%) 50%, rgb(5.3333333333%, 5.3333333333%, 5.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid black;
}

.btn-secondary {
  background-image: linear-gradient(rgb(33.8404327248%, 37.7450980392%, 41.6497633536%), #343a40 50%, rgb(16.8059499662%, 18.7450980392%, 20.6842461122%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(11.4266396214%, 12.7450980392%, 14.0635564571%);
}

.btn-secondary:not(.disabled):hover {
  background-image: linear-gradient(rgb(30.2542258283%, 33.7450980392%, 37.2359702502%), rgb(16.8059499662%, 18.7450980392%, 20.6842461122%) 50%, rgb(13.2197430696%, 14.7450980392%, 16.2704530088%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(7.8404327248%, 8.7450980392%, 9.6497633536%);
}

.btn-success {
  background-image: linear-gradient(rgb(38.0557082646%, 86.7262231996%, 27.1953454279%), #3cb521 50%, rgb(21.2864211105%, 64.2140370167%, 11.7075316108%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(17.9219351292%, 54.0645043064%, 9.8570643211%);
}

.btn-success:not(.disabled):hover {
  background-image: linear-gradient(rgb(32.2986989188%, 85.4925783397%, 20.4289902877%), rgb(21.2864211105%, 64.2140370167%, 11.7075316108%) 50%, rgb(19.0434304563%, 57.4476818765%, 10.473886751%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(15.678944475%, 47.2981491662%, 8.6234194612%);
}

.btn-info {
  background-image: linear-gradient(white, #dee2e6 50%, rgb(82.5070993915%, 84.6274509804%, 86.7478025693%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(75.6795131846%, 78.6274509804%, 81.5753887762%);
}

.btn-info:not(.disabled):hover {
  background-image: linear-gradient(rgb(99.5760649087%, 99.6274509804%, 99.6788370521%), rgb(82.5070993915%, 84.6274509804%, 86.7478025693%) 50%, rgb(77.9553752535%, 80.6274509804%, 83.2995267072%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(71.1277890467%, 74.6274509804%, 78.1271129141%);
}

.btn-warning {
  background-image: linear-gradient(rgb(100%, 61.0756566778%, 13.137254902%), #d47500 50%, rgb(75.137254902%, 41.4672586016%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(63.137254902%, 34.8446170921%, 0%);
}

.btn-warning:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 57.4907510174%, 5.137254902%), rgb(75.137254902%, 41.4672586016%, 0%) 50%, rgb(67.137254902%, 37.0521642619%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(55.137254902%, 30.4295227525%, 0%);
}

.btn-danger {
  background-image: linear-gradient(rgb(100%, 11.2663797226%, 10.3921568627%), #cd0200 50%, rgb(72.3921568627%, 0.706264945%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(60.3921568627%, 0.5891917743%, 0%);
}

.btn-danger:not(.disabled):hover {
  background-image: linear-gradient(rgb(100%, 3.3444285031%, 2.3921568627%), rgb(72.3921568627%, 0.706264945%, 0%) 50%, rgb(64.3921568627%, 0.6282161645%, 0%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(52.3921568627%, 0.5111429938%, 0%);
}

.btn-light {
  background-image: linear-gradient(white, #eee 50%, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(83.3333333333%, 83.3333333333%, 83.3333333333%);
}

.btn-light:not(.disabled):hover {
  background-image: linear-gradient(white, rgb(89.3333333333%, 89.3333333333%, 89.3333333333%) 50%, rgb(85.3333333333%, 85.3333333333%, 85.3333333333%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(79.3333333333%, 79.3333333333%, 79.3333333333%);
}

.btn-dark {
  background-image: linear-gradient(rgb(35%, 35%, 35%), #333 50%, rgb(16%, 16%, 16%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(10%, 10%, 10%);
}

.btn-dark:not(.disabled):hover {
  background-image: linear-gradient(rgb(31%, 31%, 31%), rgb(16%, 16%, 16%) 50%, rgb(12%, 12%, 12%));
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgb(6%, 6%, 6%);
}

[class*=btn-outline-] {
  text-shadow: none;
}

.badge-secondary {
  color: #fff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: inherit;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

a {
  color: var(--primary);
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-lightest);
  }
}

.menu__btn--close {
  color: var(--primary);
}

main .top-bar {
  display: flex;
  flex-direction: column-reverse;
}
main .top-bar__nav {
  font-size: 85%;
}
main .top-bar a.top-bar__countdown {
  background-color: #343a40;
}
main .header {
  border-bottom: none;
}
main .header__nav a {
  color: #343a40;
  border-bottom: solid 2px transparent;
}
main .header__nav a:hover {
  border-bottom-color: #6c757d;
}
main #search-input {
  border: solid 1px #6c757d;
}