.navbar {
  font-size: 0.825rem;
  font-weight: 300;
}

.bg-primary .dropdown-menu {
  background-color: #222222;
}
.bg-primary .dropdown-menu .dropdown-item,
.bg-primary .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}
.bg-primary .dropdown-menu .dropdown-item.active,
.bg-primary .dropdown-menu .dropdown-item:hover,
.bg-primary .dropdown-menu .dropdown-item:focus {
  background-color: rgb(21.25, 21.25, 21.25);
  color: #fff;
}

.bg-dark {
  background-color: #343a40 !important;
}
.bg-dark .dropdown-menu {
  background-color: #343a40;
}
.bg-dark .dropdown-menu .dropdown-item,
.bg-dark .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}
.bg-dark .dropdown-menu .dropdown-item.active,
.bg-dark .dropdown-menu .dropdown-item:hover,
.bg-dark .dropdown-menu .dropdown-item:focus {
  background-color: rgb(40.5689655172, 45.25, 49.9310344828);
  color: #fff;
}

.bg-light .dropdown-menu {
  background-color: #e9ecef;
}
.bg-light .dropdown-menu .dropdown-item,
.bg-light .dropdown-menu .dropdown-item:focus {
  color: rgba(0, 0, 0, 0.5);
}
.bg-light .dropdown-menu .dropdown-item.active,
.bg-light .dropdown-menu .dropdown-item:hover,
.bg-light .dropdown-menu .dropdown-item:focus {
  background-color: rgb(247.7631578947, 248.75, 249.7368421053);
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  border-color: rgb(21.25, 21.25, 21.25);
}
.btn-secondary {
  border-color: rgb(242.25, 242.25, 242.25);
}
.btn-success {
  border-color: rgb(59.8514644351, 153.6485355649, 94.690376569);
}
.btn-info {
  border-color: rgb(69.7715736041, 183.845177665, 217.7284263959);
  color: #fff;
}
.btn-danger {
  border-color: rgb(234.4423076923, 47.1025641026, 16.0576923077);
}
.btn-warning {
  border-color: rgb(207.7170212766, 128.3744680851, 1.7829787234);
  color: #fff;
}
.btn-light {
  border-color: rgb(61.365625, 67.25, 73.134375);
}
.btn-dark {
  border-color: rgb(21.25, 21.25, 21.25);
}

.btn-group .dropdown-menu {
  border-top-width: 0;
}
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu {
  background-color: #222222;
  border-color: rgb(21.25, 21.25, 21.25);
}
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item {
  color: #fff;
}
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(13.6, 13.6, 13.6);
}
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu {
  background-color: #fff;
  border-color: rgb(242.25, 242.25, 242.25);
}
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item {
  color: #f8f9fa;
}
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(234.6, 234.6, 234.6);
}
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu {
  background-color: #43ac6a;
  border-color: rgb(59.8514644351, 153.6485355649, 94.690376569);
}
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item {
  color: #fff;
}
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(55.5623430962, 142.6376569038, 87.9046025105);
}
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu {
  background-color: #5bc0de;
  border-color: rgb(69.7715736041, 183.845177665, 217.7284263959);
}
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item {
  color: #fff;
}
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(57.0345177665, 178.952284264, 215.1654822335);
}
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu {
  background-color: #e99002;
  border-color: rgb(207.7170212766, 128.3744680851, 1.7829787234);
}
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item {
  color: #fff;
}
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(192.5472340426, 118.9991489362, 1.6527659574);
}
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu {
  background-color: #f04124;
  border-color: rgb(234.4423076923, 47.1025641026, 16.0576923077);
}
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item {
  color: #fff;
}
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:focus {
  background-color: rgb(220.1230769231, 44.2256410256, 15.0769230769);
}

.text-secondary {
  color: #495057 !important;
}

.blockquote-footer {
  color: #6c757d;
}

table {
  font-size: 0.825rem;
}

.table-primary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #222222;
}
.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #fff;
}
.table-light,
.table-light > th,
.table-light > td {
  background-color: #495057;
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #222;
}
.table-success,
.table-success > th,
.table-success > td {
  background-color: #43ac6a;
}
.table-info,
.table-info > th,
.table-info > td {
  background-color: #5bc0de;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f04124;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #e99002;
}
.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > th,
.table-hover .table-primary:hover > td {
  background-color: rgb(21.25, 21.25, 21.25);
}
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > th,
.table-hover .table-secondary:hover > td {
  background-color: rgb(242.25, 242.25, 242.25);
}
.table-hover .table-light:hover,
.table-hover .table-light:hover > th,
.table-hover .table-light:hover > td {
  background-color: rgb(61.365625, 67.25, 73.134375);
}
.table-hover .table-dark:hover,
.table-hover .table-dark:hover > th,
.table-hover .table-dark:hover > td {
  background-color: rgb(21.25, 21.25, 21.25);
}
.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: rgb(59.8514644351, 153.6485355649, 94.690376569);
}
.table-hover .table-info:hover,
.table-hover .table-info:hover > th,
.table-hover .table-info:hover > td {
  background-color: rgb(69.7715736041, 183.845177665, 217.7284263959);
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: rgb(234.4423076923, 47.1025641026, 16.0576923077);
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: rgb(207.7170212766, 128.3744680851, 1.7829787234);
}
.table-hover .table-active:hover,
.table-hover .table-active:hover > th,
.table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}

label,
.control-label,
.help-block,
.checkbox,
.radio,
.form-control-feedback {
  font-size: 0.825rem;
}

.dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.825rem;
  font-weight: 300;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #e9ecef;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  background-color: rgb(247.7631578947, 248.75, 249.7368421053);
}

.nav-pills .active {
  border: 1px solid rgb(21.25, 21.25, 21.25);
}

.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.825rem;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-weight: 300;
}
.pagination .page-link {
  border-color: transparent;
  border-radius: 3px;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.pagination .page-link:hover, .pagination .page-link:focus {
  text-decoration: none;
}
.pagination .page-item.disabled .page-link {
  border-color: transparent;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
.pagination-lg .page-item:first-child .page-link,
.pagination-lg .page-item:last-child .page-link,
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 3px;
}

.list-group {
  font-size: 0.825rem;
  font-weight: 300;
}

.close {
  opacity: 0.6;
  text-shadow: none;
}
.close:hover, .close:focus {
  opacity: 1;
}

.alert {
  font-size: 0.825rem;
  font-weight: 300;
  color: #fff;
}
.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #222222;
}
.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #fff;
}
.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #43ac6a;
}
.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #5bc0de;
}
.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #f04124;
}
.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #e99002;
}
.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #222;
}
.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #495057;
}
.alert .alert-link {
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}
.alert-secondary,
.alert-secondary a:not(.btn),
.alert-secondary .alert-link, .alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #f8f9fa;
}

.badge {
  padding-bottom: 0.3em;
}
.badge-warning, .badge-info {
  color: #fff;
}

.progress[value] {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

.popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#ec-user-popover {
  margin-right: 0.2rem;
}

.badge-primary {
  padding: 0.2rem 0.4rem;
}

.breadcrumb {
  padding-left: 1rem;
}

main .top-bar {
  background-color: #000;
}
main .top-bar a {
  color: #e9ecef;
}
main .top-bar__nav {
  font-size: 75%;
}
main .top-bar a.top-bar__countdown {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(1px 1px 2px #adb5bd);
}
main .header {
  border-bottom: none;
  background-color: #000;
}
main .header__nav a {
  color: #fff;
}
main .header__nav a:hover {
  border-bottom-color: #f8f9fa;
  color: #222222;
  background-color: transparent;
}
main #search-input {
  border: solid 1px #6c757d;
}
main #cart-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/cart.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #cart-button i:hover:before {
    background-color: #222222;
  }
}
main #user-button i:before {
  content: "";
  display: inline-block;
  background-color: var(--white);
  width: 36px;
  height: 36px;
  -webkit-mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  mask: url("https://ecom.nyc3.digitaloceanspaces.com/storefront/clean/login.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (hover: hover) {
  main #user-button i:hover:before {
    background-color: #222222;
  }
}
main .info-bar {
  background-color: #000;
  color: #e9ecef;
}
main .account-addresses__card {
  background-color: #212529;
}
main .footer {
  background-color: #000;
}
main .footer__title {
  color: #e9ecef;
}
main .footer__payment-methods i {
  filter: contrast(60%);
}
main .close {
  color: #fff;
}
main .search__box {
  background-color: #343a40;
}
main .search-engine__nav {
  background-color: #343a40;
}
main .checkout__info {
  background-color: #212529;
}
main .minicart__aside {
  background-color: #000;
}
main .cart__info {
  background-color: #000;
  border: solid 1px #6c757d;
}
main .login__info {
  background-color: #212529;
}
main .card-body {
  background-color: #212529;
}
main .html-clearfix {
  background-color: #343a40;
}

.app .app__header {
  background-color: #000;
}
.app .app__footer {
  border-top: var(--spacer-1) solid #fff;
  background: #fff;
}
.app .app__credits.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}