.pitbar__item:after{
  background: var(--primary);
}
.pitbar {
  background: var(--light);
  color: var(--primary);
}
.rounded-icon {
a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-lightest);
}
#ec-user-popover {
  margin-right: 0.5rem;
}
