.ec-checkout {
  &__steps {
    display: flex;
    margin-bottom: .5rem;
  }

  &__step {
    padding: .35rem;
    flex-grow: 1;
    color: var(--primary-light);
    text-align: center;
    font-size: .85rem;
    position: relative;
    text-transform: uppercase;

    > small {
      border-radius: 50%;
      background: var(--light);
      width: 1rem;
      display: inline-block;
      border-right: 1px solid var(--primary);
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        right: 0;
        content: '/';
        color: var(--gray);
        font-weight: bold;
      }
    }

    &--current {
      font-weight: bold;
      color: var(--secondary);
      pointer-events: none;
    }

    &--past {
      color: var(--success);

      &:hover {
        color: var(--success);
      }
    }

    &--disabled {
      color: var(--gray);
      pointer-events: none;
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__app {
    min-height: 300px;
    max-width: 90rem;
    margin: 0 auto 2rem;
  }

  &__info {
    @media (max-width: 991.98px) {
      margin-top: 2.5rem;
    }

    @media (min-width: 992px) {
      border-left: .3rem solid var(--secondary);
      border-radius: .25rem 0 0 .25rem;
    }

    background: var(--light);
  }

  &__back {
    margin-top: 2rem;
    text-align: right;

    @media (max-width: 575.98px) {
      > .btn {
        display: block;
      }
    }
  }

  &__col {
    padding-top: 1rem;
  }

  &__shipping {
    margin-bottom: 1.5rem;

    &-method {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-radius: .25rem;
      padding: .75rem 1rem;
      background: var(--light);
      border-left: 3px solid var(--success);

      small {
        color: var(--gray);
      }
    }
  }

  .ec-shipping__services {
    max-width: 100%;
  }

  &__overlay {
    background: var(--body-bg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &.show {
      z-index: 10;
      opacity: .5;
    }
  }

  &__summary {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__user {
    margin-bottom: 1rem;

    small {
      color: var(--gray);
    }
  }

  &__item {
    display: flex;
    align-items:flex-start;
    overflow-x: hidden;
    margin-bottom: .5rem;

    img {
      flex: 0 0 50px;
      height: auto;
      margin-right: .5rem;
    }

    small {
      line-height: 1.3;
      display: inline-block;
    }
  }

  &__amount {
    margin: 1.5rem 0;
    padding: .75rem 0;
    border-top: 1px dotted var(--gray);

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: .25rem;

      > span {
        font-weight: 300;

        small {
          display: block;
          line-height: 1.15;
          color: var(--gray);
        }
      }

      &--total {
        margin-top: .5rem;
        font-size: 1.25rem;

        > div {
          font-weight: bold;
        }

        strong {
          color: var(--secondary);
        }
      }
    }
  }
}
