.ec-order-steps {
  border-right: 1px dotted var(--gray);
  padding-bottom: 50px;
}

.ec-order-steps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ec-order-steps ul>li {
  display: block;
  position: relative;
  min-height: 66px;
}

.ec-order-steps ul>li> .order__step {
  display: block;
  padding: 10px 10px 10px 40px;
  color: #333c4e;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: .8px;
}

.ec-order-steps ul>li> .order__step:before {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 25px);
  background-color: #bdc2ce;
  left: 13px;
  bottom: -9px;
  z-index: 3;
}

.ec-order-steps ul>li> .order__step .ico {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 2;
}

.ec-order-steps ul>li> .order__step:after {
  content: '';
  position: absolute;
  border: 2px solid #bdc2ce;
  border-radius: 50%;
  top: 14px;
  left: 6px;
  width: 16px;
  height: 16px;
  z-index: 3;
}

.ec-order-steps ul>li>.order__step .desc {
  display: block;
  color: #bdc2ce;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .8px;
}

.ec-order-steps ul>li.complete>.order__step:before {
  background-color: #5cb85c;
  opacity: 1;
  height: calc(100% - 25px);
  bottom: -9px;
}

.ec-order-steps ul>li.complete>.order__step:after {display:none;}
.ec-order-steps ul>li.locked>.order__step:after {display:none;}
.ec-order-steps ul>li:last-child>.order__step:before {display:none;}

.ec-order-steps ul>li.complete>.order__step .ico {
  left: 8px;
}

.ec-order-steps ul>li>.order__step .ico.ico-green {
  color: #5cb85c;
}

.ec-order-steps ul>li>.order__step .ico.ico-muted {
  color: #bdc2ce;
}

.ec-order-steps ul>li.current {
  background-color: #fff;
}

.ec-order-steps ul>li.current>a:before {
  background-color: #ffe357;
  opacity: 1;
}

.ec-order-steps ul>li.current>.order__step:after {
  border-color: #ffe357;
  background-color: #ffe357;
  opacity: 1;
}

.ec-order-steps ul>li.current:after, .ec-order-steps ul>li.current:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ec-order-steps ul>li.current:after {
  border-color: rgba(255,255,255,0);
  border-left-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}

.ec-order-steps ul>li.current:before {
  border-color: rgba(234,236,241,0);
  border-left-color: #eaecf1;
  border-width: 11px;
  margin-top: -11px;
}
