.ec-order-info {
  &__new {
    text-align: center;
    color: var(--success);
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__orders-link {
    margin-top: 1.5rem;
  }

  &__number {
    color: var(--gray);

    span {
      display: block;
      color: var(--secondary);
    }
  }

  &__status {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.4rem;

    &--open {
      color: var(--info);
    }

    &--cancelled {
      color: var(--danger);
    }

    &--closed {
      color: var(--success);
    }
  }

  &__summary {
    background: var(--light);
  }
}
