.ec-orders-list {
  max-width: 700px;
  margin: 0 auto;

  &__item {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;

      > div {
        flex: 1.4 1 0;
      }

      > span {
        flex: 1 1 0;
        text-align: right;
      }
    }

    &:hover {
      .ec-orders-list__number {
        text-decoration: underline;
      }
    }
  }

  &__number {
    padding: 0 1rem;
    border-left: .5rem solid var(--primary-lightest);
    color: var(--primary);

    &--open {
      border-left-color: var(--warning);
    }
    &--closed {
      border-left-color: var(--success);
    }
    &--cancelled {
      border-left-color: var(--danger);
    }
  }

  &__status {
    font-weight: bold;

    @media (max-width: 767.98px) {
      float: right;
    }

    &--open {
      color: var(--warning);
    }
    &--closed {
      color: var(--success);
    }
    &--cancelled {
      color: var(--danger);
    }
  }
}
