.ec-prices {
  margin-top: 1rem;
  line-height: 1.2;

  &:not(.ec-prices--big) {
    font-size: .95rem;
    font-weight: 400;

    .ec-prices__compare {
      line-height: 1.1;
    }
  }

  &__value {
    display: block;
    font-size: 1.25rem;
  }

  &--big .ec-prices__value {
    font-size: 250%;
    margin-bottom: .25rem;
  }

  &:not(.ec-prices--literal) {
    .ec-prices__compare {
      color: var(--gray);
    }
  }
}
