.ec-prices {
  line-height: 1.2;

  &:not(.ec-prices--big) {
    font-size: .95rem;
  }

  &__value {
    display: block;
    font-size: 1.25rem;
  }

  &--big .ec-prices__value {
    font-size: 250%;
    margin-bottom: .25rem;
  }

  &--literal {
    .ec-prices__installments,
    .ec-prices__discount {
      span {
        font-weight: bold;
      }
    }

    small {
      font-size: 100%;
    }
  }

  &:not(.ec-prices--literal) {
    .ec-prices__compare {
      color: var(--gray);
    }
  }
}
