.ec-variations {
  &__grid {
    margin-bottom: 1rem;

    &--colors button {
      font-size: 0;
    }
  }

  &__option {
    min-height: 2.3rem;
    min-width: 2.3rem;
    border: 2px solid transparent;

    &:not(:last-of-type) {
      margin-right: .4rem;
    }

    &--selected {
      border-color: var(--secondary);
    }
  }

  &__select {
    width: 100%;
    padding: .5rem;
    margin-bottom: .4rem;
    border: 1px solid var(--light);
    border-radius: 4px;

    @media (min-width: 767px) {
      min-width: 50%;
      width: 50%;
    }
  }
}
