<%
// load current page content
const { slug, content } = await _.resolveRoute()
const breadcrumbs = [{
  name: content.title,
  link: `/pages/${slug}`
}]
%>

<% if (content.pitbar) { %>
  <%- await include('/@/views/components/pitbar', { _ }) %>
<% } %>

<div class="extra-page container py-1 py-sm-2 py-lg-4">
  <%- await include('/@/views/components/breadcrumbs', { _, opt: { breadcrumbs } }) %>

  <h1 class="page-title">
    <%= content.title %>
  </h1>

  <% if (content.body) { %>
    <section class="md-content">
      <%- _.md.render(content.body) %>
    </section>
  <% } %>
</div>
