<%
const url = 'https://us-central1-ecom-offers-notification.cloudfunctions.net/app/offers/notification' +
  `?store_id=${_.state.store_id}&productId=${_.state._id}`
%>

<script>
  function hideSpinner () {
    setTimeout(() => (document.getElementById('loading_offers_inframe').style.display = 'none'), 2000)
  }
 </script>
<div class="d-none">
  <div data-slot="out-of-stock">
    <% if (options.enableOutOfStock) { %>
      <button
        type="button"
        class="btn btn-lg btn-primary mt-3 offers-notification"
        data-toggle="collapse" 
        href="#iframe-collapse" 
      >
        <i class="fas fa-bell mr-1"></i>
        <%= _.ecomUtils.i18n({
          en_us: 'Notify me when available',
          pt_br: 'Avise-me quando chegar'
        }) %>
      </button>

      <div class="collapse mt-4" id="iframe-collapse">
        <div class="card card-body">
          <div class="spinner-border spinner-border-sm position-absolute" role="status" id="loading_offers_inframe">
            <span class="sr-only">Carregando...</span>
          </div>

          <iframe 
            style="min-height: 165px;border:none;width: 100%;"
            id="offers_inframe" 
            class="border-0"
            name="offers_inframe" 
            src="<%- url %>&criterias=out_of_stock"
            onload="hideSpinner();" 
          >
          </iframe>
        </div>
      </div>
    <% } %>
  </div>
</div>

<div class="d-none">
  <div data-slot="track-price">
    <% if (options.enablePriceChange) { %>
      <button
        type="button"
        class="btn btn-sm btn-light mt-3 offers-notification"
        data-toggle="collapse" 
        href="#iframe-collapse" 
      >
        <i class="fas fa-bell mr-1"></i>
        <%= _.ecomUtils.i18n({
          en_us: 'Notify me if the price drops',
          pt_br: 'Avise-me se o preço baixar'
        }) %>
      </button>

      <div class="collapse mt-4" id="iframe-collapse">
        <div class="card card-body">
          <div class="spinner-border spinner-border-sm position-absolute" role="status" id="loading_offers_inframe">
            <span class="sr-only">Carregando...</span>
          </div>
  
          <iframe 
            style="min-height: 165px;border:none;width: 100%;"
            id="offers_inframe" 
            class="border-0"
            name="offers_inframe" 
            src="<%- url %>&criterias=price_change"
            onload="hideSpinner();"
          >
          </iframe>
        </div>
      </div>
    <% } %>
  </div>
</div>