<% if(options.btnOutStock){ %>
<button class="btn btn-primary offers-notification" data-criterias="out_of_stock" data-slot="">Me Avise</button>
<% }%>

<% if(options.btnPriceChange){ %>
<button class="btn btn-primary offers-notification" data-criterias="price_change" data-slot="">Acompanhar preço</button>
<% }%>
