<% const { settings } = _ %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
<link rel="icon" href="<%= settings.favicon %>">
<link rel="apple-touch-icon" href="<%= settings.icon %>">
<title><%= title %></title>
<meta name="author" content="<%= settings.name %>">
<link rel="preload" href="/storefront.css" as="style">
<link rel="preload" href="/storefront.js" as="script">
<link rel="stylesheet" type="text/css" href="/storefront.css">
