<% if (Array.isArray(items) && items.length) { %>
  <section class="pitbar">
    <div class="container">
      <div class="row align-items-center pitbar-nav">
        <% items.forEach(({ link, icon, text }) => { %>
          <div class="col-auto col-sm-6 col-lg">
            <a class="pitbar-item" href="<%= link || 'javascript:;' %>">
              <span class="rounded-icon">
                <i class="fas fa-<%= icon %>"></i>
              </span>
              <div class="ml-3">
                <%= text %>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </section>
<% } %>
