.credit-card {
  &__bin {
    .pay-icon {
      margin: -2px 0;
    }
  }

  &__name {
    input {
      text-transform: uppercase;
    }
  }

  &-loading {
    position: absolute;
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    opacity: .8;
    z-index: 1;
  }
}

