.checkout {
  &__account {
    max-width: 600px;
    margin: 0 auto;
    > .lead {
      text-align: center;
    }
  }

  &__app {
    min-height: 300px;
    max-width: 90rem;
    margin: 0 auto 1rem;
  }

  &__steps {
    display: flex;
    margin-bottom: .5rem;
  }

  &__step {
    padding: .35rem;
    flex-grow: 1;
    color: var(--primary-light);
    text-align: center;
    font-size: .85rem;
    position: relative;
    text-transform: uppercase;

    > small {
      border-radius: 50%;
      background: var(--light);
      width: 1rem;
      display: inline-block;
      border-right: 1px solid var(--primary);
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        right: 0;
        content: '/';
        color: var(--gray);
        font-weight: bold;
      }
    }

    &--current {
      font-weight: bold;
      color: var(--secondary);
      pointer-events: none;
    }

    &--past {
      color: var(--success);

      &:hover {
        color: var(--success);
      }
    }

    &--disabled {
      color: var(--gray);
      pointer-events: none;
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }

    .fa-arrow-left {
      opacity: .75;
    }

    .fa-shopping-cart {
      color: var(--success);
      opacity: .5;
    }
  }

  &__info {
    background: var(--light);

    @media (max-width: 991.98px) {
      margin-top: 2.5rem;
    }

    @media (min-width: 992px) {
      border-left: .3rem solid var(--secondary);
      border-radius: .25rem 0 0 .25rem;
    }
  }

  &__back {
    margin-top: 2rem;
    text-align: right;

    @media (max-width: 575.98px) {
      > .btn {
        display: block;
      }
    }
  }

  &__col {
    padding-top: 1rem;
  }

  &__shipping {
    margin-bottom: 1.5rem;

    &-method {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-radius: .25rem;
      padding: .75rem 1rem;
      background: var(--light);
      border-left: 3px solid var(--success);

      small {
        color: var(--gray);
      }
    }
  }

  .shipping-calculator__services {
    max-width: 100%;
  }

  &__overlay {
    background: var(--body-bg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &.show {
      z-index: 10;
      opacity: .5;
    }
  }

  &__summary {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__discount {
    margin-bottom: 1.5rem;
  }

  &__user {
    margin-bottom: 1rem;

    small {
      color: var(--gray);
    }
  }

  &__btn-top {
    margin: var(--spacer-5) auto 0;
    display: block;
  }

  .product-card__buy {
    opacity: 1;
  }
}
