main {
  .top-bar {
    &__nav {
      font-size: 80%;
    }

    a.top-bar__countdown {
      background-image: linear-gradient(rgba($primary, 0.5), rgba($primary, 0.7)), url("/img/uploads/theme_baby.webp");
      font-weight: var(--font-bold);
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .info-bar {
    display: flex;
    flex-direction: column;
  }

  .header {
    border-bottom: none;
    &__nav {
      color: $secondary;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__nav a {
      &:hover {
        border-radius: unset;
        background-color: transparent;
        border-bottom: solid 2px;
      }
    }
  }

  #search-input {
    border: solid 1px;
  }

  .footer {
    background: linear-gradient(rgba($gray-100, 1), rgba($white, 0.8)), url("/img/uploads/theme_baby.webp");
  }
}

.menu__social {
  background-image: linear-gradient(rgba($gray-100, 1), rgba($white, 0.4)), url("/img/uploads/theme_baby.webp");
}

.card-header {
  font-weight: var(--font-bold);
}

.fa-shopping-bag:before {
  content: "___";
  background-image: url("/img/uploads/carro.png");
  background-repeat: no-repeat;
  width: 20px !important;
  height: 20px !important;
}
