<div class="banner">
  <a
    href="<%= opt.link || 'javascript:;' %>"
    class="d-block"
  >
    <img
      class="lozad fade img-fluid"
      data-src="<%= opt.img %>"
      alt="<%= opt.alt %>"
    >
  </a>
</div>
