@mixin button-color($bg, $color, $border-color) {
    background-color: var(#{$bg}) !important;
    color: var(#{$color}) !important;
    border-color: var(#{$border-color}) !important;
  }
  
  .base-shadow {
    box-shadow: 0 0 0 0.2rem rgba(var(--white), 0.25) !important;
  }
  
  #ec-user-popover {
    margin-right: 0.5rem;
  }
  
  .top-bar {
    display: flex !important;
    flex-flow: row wrap !important;
    flex-direction: column-reverse !important;
  
    background-color: var(--light) !important;
    &__nav {
      background-color: var(--white) !important;
      color: var(--dark) !important;
    }
    &__countdown {
      @include button-color(--light, --dark, --red);
      font-weight: var(--font-bold) !important;
    }
    &__page-links {
      a {
        color: black !important;
      }
    }
  }
  
  .header {
    &__row {
      display: flex !important;
    }
    @include button-color(--light, --dark, --light);
    &__toggler {
      svg {
        color: var(--dark);
      }
    }
    &__search-btn {
      svg {
        color: var(--gray) !important;
      }
    }
    &__search-input {
      @include button-color(--white,--dark ,--gray);
      &::placeholder {
        color: var(--gray);
      }
    }
    &__nav {
      display: flex;
      justify-content: space-around;
      a {
        color: var(--dark);
        //background-color: var(--dark);
        font-weight: var(--font-bold) !important;
      }
      a:hover {
        background-color: transparent !important;
        border-bottom: solid 2px var(--gray);
        // color: var(--white);
      }
    }
  }
  
  #user-button {
    color: var(--gray);
  }
  #user-button:hover {
    color: var(--dark);
  }
  
  #cart-button {
    color: var(--gray);
  }
  #cart-button:hover {
    color: var(--dark);
  }
  
  .breadcrumb {
    padding-left: 1rem;
  }
  
  .breadcrumb-item {
    a {
      color: var(--gray-dark);
    }
  }
  
  .product-card {
    a {
      text-decoration: none !important;
    }
    &__name {
      color: var(--dark);
      &:hover {
        color: var(--gray);
      }
    }
    &__buy {
      button {
        @include button-color(--dark, --white, --light);
      }
      button:hover {
        @include button-color(--gray, --white, --dark);
      }
      button:focus {
        @include button-color(--dark, --light, --dark);
        @extend .base-shadow;
      }
    }
  }
  
  .product {
    &__buy {
      button {
        @include button-color(--white, --dark, --dark);
      }
      button:hover {
        @include button-color(--dark, --white, --light);
        @extend .base-shadow;
      }
      button:focus {
        @include button-color(--gray, --white, --dark);
      }
    }
  }
  
  .cart-item {
    &__name {
      a {
        color: var(--gray);
        font-weight: var(--font-bold);
      }
    }
    &__data {
      color: var(--dark) !important;
      svg {
        color: var(--dark);
      }
    }
  }
  
  #cart-count {
    background-color: var(--gray);
  }
  
  .card-header {
    background-color: var(--dark);
    color: var(--white);
    button {
      color: var(--white);
    }
  }
  
  .card-footer {
    background-color: var(--dark) !important;
    .minicart {
      &__summary {
        font-weight: var(--font-bold);
        color: var(--light);
      }
      &__btn-checkout {
        @include button-color(--white, --dark, --light);
      }
      &__btn-checkout:hover {
        border-color: var(--gray) !important;
        @extend .base-shadow;
        font-weight: var(--font-bold) !important;
      }
      &__btn-checkout:focus {
        @extend .base-shadow;
        @include button-color(--blue, --white, --gray-dark);
      }
      &__btn-checkout:active {
        @extend .base-shadow;
        @include button-color(--blue, --white, --gray-dark);
      }
      &__btn-cart {
        @include button-color(--gray-dark, --light, --light);
      }
      &__btn-cart:hover {
        border-color: var(--gray) !important;
        font-weight: var(--font-bold) !important;
      }
    }
  }
  
  .container {
    h1 {
      font-weight: var(--font-bold);
      @include button-color(--light, --dark, --light);
      @extend .base-shadow;
    }
  }
  
  #discount-applier-coupon {
    border-color: var(--gray);
    @extend .base-shadow;
  }
  
  #shipping-calculator-zip {
    border-color: var(--gray);
    @extend .base-shadow;
  }
  
  .search {
    &__input-group {
      input:focus {
        border-color: var(--gray) !important;
        @extend .base-shadow;
      }
      button {
        svg:hover {
          color: var(--dark);
        }
        svg {
          color: var(--gray);
        }
      }
    }
    &__count {
      button {
        @include button-color(--dark, --white, --dark);
      }
      button:hover {
        @include button-color(--gray, --white, --dark);
      }
    }
  }
  
  .footer {
    &__social {
      a {
        svg {
          color: var(--white);
        }
      }
    }
    &__links {
      li {
        color: var(--gray) !important;
        a {
          color: var(--white);
        }
      }
    }
    &__title {
      color: var(--white) !important;
      font-weight: var(--font-bold) !important;
    }
    &__list-icon {
      svg {
        color: var(--white);
      }
      a {
        color: var(--white) !important;
      }
    }
    background-color: var(--dark) !important;
  }
  
  .menu {
    &__footer {
      a {
        color: var(--dark) !important;
      }
    }
    &__list {
      a {
        color: var(--gray);
      }
    }
    &__social {
      a {
        svg {
          color: var(--gray);
        }
      }
    }
  }
  
  .list-unstyled {
    li {
      a {
        color: var(--white);
      }
    }
    color: var(--gray-dark);
  }
  
  #go-to-top {
    @include button-color(--light, --dark, --dark);
  }
  
  #go-to-top:hover {
    @include button-color(--gray, --white, --light);
  }
  

