<div data-slot="rating" class="d-none">
  <div id="martan-rating" style="margin-bottom: 1rem;">
    <a
      class="martan-widget-rating"
      href="#<%- options.martanReviewsTarget || 'martan_reviews_widget' %>"
      title="Pergunte e veja opiniões de quem já comprou"
    >
      <div
        data-martan_product_id="<%- _.state._id %>"
        class="mt-review-averange d-inline-block"
      ></div>
    </a>
  </div>
</div>
