<section id="widget-martan">
  <div class="container" id="<%- options.martanReviewsTarget || 'reviews_widget' %>" data-product="<%- _.state._id %>"></div>
  <div id="<%- options.martanQuestionsTarget || 'martan_questions_widget' %>" data-product="<%- _.state._id  %>"></div>
</div>
