<div data-slot="rating">
  <div data-total="0" data-martan-display="<%- options && options.widget_rating && options.widget_rating.display %>" data-martan-product-id="<%- opt.item && opt.item.sku %>" class="mt-review-average"></div>
</div>
