<div class="container my-4 my-lg-5">
  <div id="<%- options.martanReviewsTarget || 'martan_reviews_widget' %>" data-product="<%- _.state._id %>" ></div>
  <div id="<%- options.martanQuestionsTarget || 'martan_questions_widget' %>" data-product="<%- _.state._id  %>" ></div>
</div>
