<div data-slot="rating" class="d-none">
  <div
    id="martan-rating__action"
    style="margin-bottom: 1rem"
    onclick="typeof window.goToReviews === 'function' && window.goToReviews();"
  >
    <a
      class="martan-widget-rating"
      title="Pergunte e veja opiniões de quem já comprou"
    >
      <div
        data-martan-style="completed"
        data-martan-product-id="<%- _.state.sku %>"
        class="mt-review-average d-inline-block"
      ></div>
    </a>
  </div>
</div>
