// Overriding default Bootstrap variables:
// https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults

// Set starter colors palette
$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;

// Main colors
// Generally should be overrided by store brand colors defined by merchant
$primary:   $indigo !default;
$secondary: $pink !default;

// Base border radius
$border-radius:    .10rem;
$border-radius-lg: .15rem;
$border-radius-sm: .05rem;

// Default border width and color
$border-width:     2px;
$border-color:     #e9ecef;

// Control spacing
// $spacer:        1rem;

// Custom fonts
// $font-family-sans-serif: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// To setup custom fonts you must also import the font files:
// 1. Add the files to `theme/assets` folder;
// 2. Create a new file `theme/_fonts.scss` and import with SASS;
// @import "fonts";

// You can edit any of Bootstrap 4 variables
// All variables reference:
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

// For more customizations edit the `_components.scss` file
