.product-card {
  padding: 1rem;

  a {
    text-decoration: none;
  }

  &__name {
    margin-top: .5rem;
    font-size: .88rem;
    line-height: 1.2;
    font-weight: 400;
  }

  &__pictures {
    overflow: hidden;
  }

  &__picture,
  &__picture img {
    max-height: 250px;

    @media (max-width: 575.98px) {
      max-height: 180px;
    }
  }

  &__info .spinner-border {
    color: var(--gray);
    opacity: .85;
  }
}

.col > .product-card {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
