.ec-product {
  &__sku {
    color: var(--gray);
    font-size: .85rem;
  }

  &__buy {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &__unavailable,
  &__out-of-stock {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--warning);
  }
  
  &__discount {
    color: var(--success);
  }
}
