<!doctype html>
<html>

<head>
  <%- await include('@/meta') %>
  <link rel="stylesheet" href="/assets/cms.css">
</head>

<body>
  <div id="cms"></div>

  <script src="https://unpkg.com/@ecomplus/i18n@1/dist/i18n.min.js"></script>
  <script src="https://unpkg.com/ejs@3/ejs.min.js"></script>
  <script src="https://unpkg.com/lodash@4/lodash.min.js"></script>
  <script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@^16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/markdown-it@11/dist/markdown-it.min.js"></script>
  <script>
    window.h = React.createElement;
    window.lodash = _;
    if (!window.MarkdownIt) {
      window.MarkdownIt = markdownit;
    }
  </script>

  <script>
    window.CMS_MANUAL_INIT = true;
    window.CMS_LOAD_CONFIG_FILE = false;
    window.CMS_CUSTOM_CONFIG = {};
    window.PKG_BASE_DIR = '<%= process.env.PKG_BASE_DIR || '' %>';
  </script>
  <% if (!_.settings.repository || !_.settings.repository.startsWith('ecomplus-stores/')) { %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <% } %>
  <script src="https://unpkg.com/netlify-cms-app/dist/netlify-cms-app.js"></script>
  <script>
    window.CMS = NetlifyCmsApp;
  </script>

  <%- await include('@/json', { _ }) %>
  <script src="/admin.js"></script>
</body>

</html>
