<!doctype html>
<html>

<head>
  <%- await include('/@/head', { _ }) %>
</head>

<body>
  <%- await include('/@/views/cms', { _ }) %>
  <%- await include('/@/json', { _ }) %>
  <script src="/admin.js"></script>
</body>

</html>
