<%
// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<div class="app">
  <header class="app__header">
    <div class="container">
      <div class="app__logo-position d-flex justify-content-start">
        <a href="/">
          <% if (logo && logo.url) { %>
                <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
          <% } else { %>
            <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>
      <div class="app__safe-icon d-flex justify-content-end">
        <span class="rounded-icon">
          <i class="fas fa-shield-alt"></i>
        </span>
        <span class="app_safe-icon-text">Dados 100%<br> seguros</span>
      </div>
    </div>
  </header>

  <div id="spa">
    <div id="storefront-app"></div>
  </div>
</div>
