<div id="cms"></div>

<script
  src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"
></script>
<script
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>

<script>
  window.CMS_MANUAL_INIT = true;
  window.CMS_CUSTOM_CONFIG = {};
  if (!window.MarkdownIt && markdownit) {
    window.MarkdownIt = markdownit
  }
</script>

<script
  src="https://cdn.jsdelivr.net/gh/ecomclub/netlify-cms@pt-stable/packages/netlify-cms/dist/netlify-cms.js"
></script>
<script
  src="https://cdn.jsdelivr.net/gh/ecomclub/netlify-cms-widgets@1/dist/main.js"
></script>
