<div id="cms"></div>

<script
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script
  src="https://cdn.jsdelivr.net/gh/ecomclub/netlify-cms@pt-stable/packages/netlify-cms/dist/netlify-cms.js"
></script>
<script
  src="https://cdn.jsdelivr.net/gh/ecomclub/netlify-cms-widgets@1/dist/main.js"
></script>
