<%
// load home and general info content
const home = _.cms('home')
const info = _.cms('info')

// mount pitbar options object
const pitbar = {
  cols: []
}
if (home.pitbar) {
  // possible pitbar col names and icons
  ;[
    ['shipping', 'shipping-fast'],
    ['installments', 'credit-card'],
    ['exchange', 'exchange-alt'],
    ['promo', 'percent']
  ].forEach(([prop, icon]) => {
    if (home.pitbar[prop]) {
      const { link, text } = info[prop]
      pitbar.cols.push({ link, text, icon })
    }
  })
}
%>

<%- await include('components/banner-slider', { _, opt: home.slider }) %>
<%- await include('components/pitbar', { _, opt: pitbar }) %>

<div class="container py-1 py-sm-2 py-lg-4">
  <%- await include('components/products-carousel', { _, opt: { items: _.items } }) %>
</div>
