.ec-search-engine {
  &__nav {
    background: rgba(128, 128, 128, .1);
    color: var(--gray);
  }

  &__count {
    padding-left: .5rem;
    position: relative;
    line-height: 2.5;
  }

  &__spinner {
    position: absolute;
    top: .4rem;
    right: -3rem;
    color: var(--secondary);
    margin-left: 1.5rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  &__toggle {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    transition: opacity .15s, color .2s;
    padding: 0 .5rem;
    opacity: .75;
    line-height: 2.5;
    border: none;

    i,
    svg {
      font-size: .825rem;
      color: var(--gray-dark);
      margin-right: .15rem;
    }

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
      color: inherit;
      box-shadow: none;
    }

    &[aria-expanded="true"] {
      color: var(--gray-dark);
      opacity: 1;
    }
  }

  &__results {
    transition: opacity .25s;
  }

  &__info {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
  }

  &__terms {
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      font-size: .95rem;
      color: var(--gray);
    }
  }

  &__retail {
    padding-top: .5rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__sidebar {
    position: fixed;
    width: 280px;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1100;
    border-radius: 0;

    .card {
      &-body {
        overflow-y: auto;
      }
    }
  }

  &__filter {
    &:not(:first-child) {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1.5rem;
    }

    &__btn {
      padding-left: 0;
      color: var(--secondary);
      font-size: 1.2rem;
      font-weight: 300;

      i,
      svg {
        margin-right: .25rem;
        color: var(--gray);
        opacity: .6;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__option {
    small {
      color: var(--gray);
    }
  }
}
