.top-bar {
    display: flex !important;
    flex-flow: row wrap !important;
    flex-direction: column-reverse !important;

    &__countdown {
        background-color: $dark !important;
    }
}


#search-input{
    border: solid .2px $gray-600;
}

.header {
        &__nav {
        display: flex;
        justify-content: space-around;
        a {
            color: $black;
            
        }
        a:hover {
            background-color: transparent ;
            border-bottom: solid 2px $gray-600;
        }
    }
}
