.top-bar {
    display: flex !important;
    flex-flow: row wrap !important;
    flex-direction: column-reverse !important;

    &__countdown {
        background-color: $dark !important;
    }
}

.header {
    &__nav {
        display: flex;
        justify-content: space-around;
        a {
            color: $black;
            font-weight: var(--font-bold) !important;
        }
        a:hover {
            background-color: transparent !important;
            border-bottom: solid 2px $gray-600;
        }
    }
}
