#ec-user-popover {
  margin-right: 0.5rem;
}

.top-bar {
  background-color: var(--dark) !important;
  &__countdown {
    background-color: black !important;
    color: var(--white) !important;
    font-weight: var(--font-bold) !important;
  }
  &__page-links {
    a {
      color: var(--white) !important;
    }
    
  }
}

.col{
  color: var(--white);
}

.header {
  align-self: center !important; 
  justify-content: space-between !important;
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
  &__toggler {
    svg {
      color: var(--white);
    }
  }
  &__search-btn {
    svg {
      color: var(--white) !important;
    }
  }
  &__search-input{
    background-color: var(--gray);
    border-color: var(--blue) !important;
    &::placeholder {
      color: var(--light);
    }
  }
  &__nav {
    a {
      color: var(--light);
      background-color: var(--dark);
      font-weight: var(--font-bold) !important;
    }
    a:hover {
      background-color: var(--gray) !important;
    }
  }
}

#user-button {
  color: var(--gray);
}
#user-button:hover {
  color: var(--white);
}

#cart-button {
  color: var(--gray);
}
#cart-button:hover {
  color: var(--white);
}

.breadcrumb {
  padding-left: 1rem;
}

.breadcrumb-item {
  a {
    color: var(--gray-dark);
  }
}

.product-card {
  a {
    text-decoration: none !important;
  }
  &__name {
    color: var(--dark);
    &:hover {
      color: var(--gray);
    }
  }
  &__buy {
    button {
      background-color: var(--light);
      color: var(--dark);
      border-color: var(--dark);
    }
    button:hover {
      color: var(--white);
      background-color: var(--gray);
      border-color: var(--dark);
    }
    button:focus {
      background-color: var(--dark) !important;
      color: var(--white) !important;
      border-color: var(--light) !important;
      box-shadow: 0 0 0 0.2rem rgba(#6c757d, 0.25) !important;
    }
  }
}

.product {
  &__buy {
    button {
      background-color: var(--white) !important;
      color: var(--dark) !important;
      border-color: var(--dark) !important;
    }
    button:hover {
      background-color: var(--dark) !important;
      color: var(--white) !important;
      border-color: var(--light) !important;
      box-shadow: 0 0 0 0.2rem rgba(#6c757d, 0.25) !important;
    }
    button:focus {
      color: var(--white) !important;
      background-color: var(--gray) !important;
      border-color: var(--dark) !important;
    }
  }
}

.cart-item {
  &__data {
    color: var(--dark) !important;
    svg {
      color: var(--dark);
    }
  }
}

#cart-count {
  background-color: var(--gray);
}

.card-header {
  background-color: var(--dark);
  color: var(--white);
  button {
    color: var(--white);
  }
}

.card-footer {
  background-color: var(--dark) !important;
  .minicart {
    &__summary {
      font-weight: var(--font-bold);
      color: var(--light);
    }
    &__btn-checkout {
      background-color: var(--white);
      color: var(--dark);
      border-color: var(--light);
    }
    &__btn-checkout:hover {
      border-color: var(--gray) !important;
      box-shadow: 0 0 0 0.2rem rgba(var(--white), 0.25);
      font-weight: var(--font-bold) !important;
    }
    &__btn-cart {
      background-color: var(--gray-dark);
      border-color: var(--light);
      color: var(--light);
    }
    &__btn-cart:hover {
      border-color: var(--gray) !important;
      font-weight: var(--font-bold) !important;
    }
  }
}

.search {
  &__input-group {
    input:focus {
      border-color: var(--gray) !important;
      box-shadow: 0 0 0 0.2rem rgba(#6c757d, 0.25);
    }
    button {
      svg:hover {
        color: var(--dark);
      }
      svg {
        color: var(--gray);
      }
    }
  }
  &__count {
    button {
      background-color: var(--dark);
      color: var(--white);
      border-color: var(--dark);
    }
    button:hover {
      color: var(--white);
      background-color: var(--gray);
      border-color: var(--dark);
    }
  }
}

.footer {
  &__social {
    a {
      svg {
        color: var(--white);
      }
    }
  }
  &__links {
    li {
      color: var(--gray) !important;
      a {
        color: var(--white);
      }
    }
  }
  &__title {
    color: var(--white) !important;
    font-weight: var(--font-bold) !important;
  }
  &__list-icon {
    svg {
      color: var(--white);
    }
    a {
      color: var(--white) !important;
    }
  }
  background-color: var(--dark) !important;
}

.menu {
  &__footer {
    a {
      color: var(--dark) !important;
    }
  }
  &__list {
    a {
      color: var(--gray);
    }
  }
  &__social {
    a {
      svg {
        color: var(--gray);
      }
    }
  }
}

.list-unstyled {
  li {
    a {
      color: var(--white);
    }
  }
  color: var(--gray-dark);
}

.whatsapp-link {
  color: var(--white);
}

#go-to-top {
  background-color: var(--light);
  color: var(--dark);
  border-color: var(--dark);
}

#go-to-top:hover {
  color: var(--white);
  background-color: var(--gray);
}
