$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$border-radius: 0.1rem !default;
$border-radius-lg: 0rem !default;

$card-bg: $gray-100 !default;

$info: $gray-200 ;
$secondary: $gray-900;

$list-group-color: $black;
$list-group-bg: $gray-100;
$list-group-border-color: rgba($black, 1) !default;

$breadcrumb-padding-y: 0.9rem;
$breadcrumb-bg: $white;
$breadcrumb-divider-color: $gray-500;
$breadcrumb-active-color: $black;
$breadcrumb-divider: quote("-");
