$blue: #9cdaef !default;
$purple: #d2bddc !default;
$pink: #f8c9d3 !default;
$orange: #eba594 !default;
$yellow: #fbf6bc !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;

$success: #b3f6ca !default;
$info: #dce2e7 !default;

$border-radius: 1.05rem !default;
$border-radius-sm: 3rem !default;
$border-radius-lg: 3rem !default;

$list-group-color: $secondary;
$list-group-bg: $gray-100;
$list-group-border-color: $secondary;

$breadcrumb-active-color: $secondary;
$breadcrumb-divider: quote(".");

$icons-font: "line-awesome" !default;
