<% if (options.enableWidgetProduct && options.allySlug) {
const price = _.state.price
%>
  <div data-slot="payment-info-126439" class="d-none">
    <addi-widget-br price="<%= price %> " ally-slug="<%= options.allySlug %>"></addi-widget-br>
  </div>
<% } %>

