<!doctype html>
<html>
<head>
  <%- await include('@/head', { title: 'Home', settings }) %>
</head>
<body>
  <h1 class="link">Hello <%= store.name %> !</h1>
  <%- await include('@/scripts') %>
</body>
</html>
