<%
const social = cms('social')
const home = cms('home') || {}
%>

<!doctype html>
<html lang="<%= lang.replace('_', '-') %>" dir="ltr">

<head>
  <%-
  await include('@/head', {
    title: home.meta_title || settings.name,
    description: home.meta_description || settings.description,
    lang,
    settings,
    cms,
    social,
    canonical: null,
    url: (settings.domain && settings.domain + '/') || store.homepage || (store.domain && store.domain + '/')
  })
  %>
</head>

<body>
  <script src="/storefront.js"></script>
</body>

</html>
