<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head', { _ }) %>
</head>

<body>
  <%- await include('@/components/header', { _ }) %>
  <main role="main" id="main">
  </main>
  <%- await include('@/scripts', { _ }) %>
</body>

</html>
