<!doctype html>
<html>
<head>
  <%- await include('@/head', { title: 'Home', settings }) %>
</head>
<body>
  <h1 class="link">Hello <%= store.name %> !</h1>
  <h2><%- cms('pages/home').title %></h2>
  <h3 class="text-secondary">Olá !</h3>
  <%- await include('@/scripts') %>
</body>
</html>
