<% const { body } = await _.resolveRoute() %>
<!doctype html>
<html>
<head>
  <%- await include('@/head', { title: 'Products', _ }) %>
</head>
<body>
  <h1>Product: <%= body.name %></h1>
</body>
</html>
