
.fa-tiktok:before { content: '\e800'; } /* '' */
.fa-search:before { content: '\f002'; } /* '' */
.fa-heart:before { content: '\f004'; } /* '' */
.fa-user:before { content: '\f007'; } /* '' */
.fa-check:before { content: '\f00c'; } /* '' */
.fa-times:before { content: '\f00d'; } /* '' */
.fa-home:before { content: '\f015'; } /* '' */
.fa-lock:before { content: '\f023'; } /* '' */
.fa-barcode:before { content: '\f02a'; } /* '' */
.fa-tag:before { content: '\f02b'; } /* '' */
.fa-print:before { content: '\f02f'; } /* '' */
.fa-edit:before { content: '\f044'; } /* '' */
.fa-play:before { content: '\f04b'; } /* '' */
.fa-forward:before { content: '\f04e'; } /* '' */
.fa-chevron-left:before { content: '\f053'; } /* '' */
.fa-chevron-right:before { content: '\f054'; } /* '' */
.fa-times-circle:before { content: '\f057'; } /* '' */
.fa-check-circle:before { content: '\f058'; } /* '' */
.fa-question-circle:before { content: '\f059'; } /* '' */
.fa-info-circle:before { content: '\f05a'; } /* '' */
.fa-arrow-left:before { content: '\f060'; } /* '' */
.fa-arrow-right:before { content: '\f061'; } /* '' */
.fa-arrow-up:before { content: '\f062'; } /* '' */
.fa-arrow-down:before { content: '\f063'; } /* '' */
.fa-plus:before { content: '\f067'; } /* '' */
.fa-gift:before { content: '\f06b'; } /* '' */
.fa-exclamation-triangle:before { content: '\f071'; } /* '' */
.fa-chevron-up:before { content: '\f077'; } /* '' */
.fa-chevron-down:before { content: '\f078'; } /* '' */
.fa-shopping-cart:before { content: '\f07a'; } /* '' */
.fa-linkedin:before { content: '\f08c'; } /* '' */
.fa-phone:before { content: '\f095'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-credit-card:before { content: '\f09d'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-copy:before { content: '\f0c5'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-truck:before { content: '\f0d1'; } /* '' */
.fa-pinterest:before { content: '\f0d2'; } /* '' */
.fa-sort:before { content: '\f0dc'; } /* '' */
.fa-envelope:before { content: '\f0e0'; } /* '' */
.fa-bell:before { content: '\f0f3'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-windows:before { content: '\f17a'; } /* '' */
.fa-google:before { content: '\f1a0'; } /* '' */
.fa-history:before { content: '\f1da'; } /* '' */
.fa-wifi:before { content: '\f1eb'; } /* '' */
.fa-cart-arrow-down:before { content: '\f218'; } /* '' */
.fa-whatsapp:before { content: '\f232'; } /* '' */
.fa-shopping-bag:before { content: '\f290'; } /* '' */
.fa-shopping-basket:before { content: '\f291'; } /* '' */
.fa-hashtag:before { content: '\f292'; } /* '' */
.fa-percent:before { content: '\f295'; } /* '' */
.fa-user-circle:before { content: '\f2bd'; } /* '' */
.fa-telegram:before { content: '\f2c6'; } /* '' */
.fa-trash-alt:before { content: '\f2ed'; } /* '' */
.fa-stopwatch:before { content: '\f2f2'; } /* '' */
.fa-sign-out-alt:before { content: '\f2f5'; } /* '' */
.fa-pencil-alt:before { content: '\f303'; } /* '' */
.fa-exchange-alt:before { content: '\f362'; } /* '' */
.fa-facebook-f:before { content: '\f39e'; } /* '' */
.fa-facebook-messenger:before { content: '\f39f'; } /* '' */
.fa-shield-alt:before { content: '\f3ed'; } /* '' */
.fa-shipping-fast:before { content: '\f48b'; } /* '' */
.fa-comment-dots:before { content: '\f4ad'; } /* '' */
.fa-money-check:before { content: '\f53c'; } /* '' */
.fa-receipt:before { content: '\f543'; } /* '' */
.fa-store:before { content: '\f54e'; } /* '' */
.fa-map-marked-alt:before { content: '\f5a0'; } /* '' */
.fa-blog:before { content: '\f781'; } /* '' */
