.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--light);
  padding: var(--spacer-1);
  border-bottom: 1px solid var(--primary-lighter);
  box-shadow: var(--box-shadow-sm);
  z-index: 900;

  @media (min-width: 576px) {
    border-width: 2px;
    padding: var(--spacer-2) var(--spacer-3);
  }

  &__container {
    max-width: 80rem;

    @media (min-width: 768px) {
      margin-top: var(--spacer-1);
      margin-bottom: var(--spacer-1);
    }
  }

  &__row {
    align-items: center;
    min-height: 45px;

    @media (min-width: 768px) {
      min-height: 60px;
    }
  }

  &__toggler {
    color: var(--text-muted);
    min-width: 32px;
    opacity: .85;
    padding: var(--spacer-2) var(--spacer-1);
    height: 100%;
    font-weight: var(--font-headings);
    text-transform: uppercase;
    transition: opacity .15s;
    margin-top: -.15rem;

    &:hover {
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }

    &-icon {
      color: var(--secondary);
      font-size: 1.3rem;
      margin-right: var(--spacer-1);
      margin-bottom: -.13rem;
    }
  }

  &__logo {
    max-width: 125px;
    max-height: calc(var(--font-size-lg) * var(--line-height-lg) + 2 * var(--spacer-2));
    width: auto;
    height: auto;

    @media (min-width: 576px) {
      max-width: 300px;
      max-height: 60px;
    }
  }

  &__nav {
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);

    a {
      text-transform: uppercase;
      font-weight: var(--font-headings);
      padding: 0 var(--spacer-1);
      border-radius: var(--border-radius-sm);
      display: inline-block;
      transition: background-color .15s;

      &:hover {
        background: var(--primary-lightest);
        text-decoration: none;
      }
    }
  }

  &__buttons .btn {
    padding: var(--spacer-2);
    margin-left: var(--spacer-1);
    color: var(--secondary);
    transition: color .2s;
    box-shadow: none;
    position: relative;

    &:hover {
      color: var(--primary);
    }

    @media (min-width: 1200px) {
      font-size: var(--h4);
    }

    .badge {
      position: absolute;
      top: -3px;
      right: -3px;
      font-size: .75rem;
    }
  }

  &__search {
    position: relative;
    overflow: hidden;

    &-input {
      display: block !important;
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    &-btn {
      border: none;
      background: none;
      position: absolute;
      bottom: 50%;
      font-size: 1.3rem;
      line-height: 1;
      margin-bottom: calc(-1 * (var(--spacer-2) + .65rem));
      right: var(--spacer-1);
      padding: var(--spacer-2);
      color: var(--secondary-lighter);
      transition: color .125s;

      &:hover {
        color: var(--secondary-light);
      }

      &:focus {
        outline: none;
      }
    }

    @media (min-width: 768px) {
      &-input {
        padding: 0 var(--spacer-3);
        border-radius: var(--border-radius-lg);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        height: calc(var(--line-height-lg) * var(--font-size-lg) + 2 * var(--spacer-2));
      }

      &-btn {
        font-size: 1.6rem;
        margin-bottom: calc(-1 * (var(--spacer-2) + .85rem));
      }
    }
  }
}
