.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--light);
  padding: var(--spacer-1);
  border-bottom: 1px solid var(--primary-lighter);
  box-shadow: var(--box-shadow-sm);
  z-index: 900;

  @media (min-width: 576px) {
    border-width: 2px;
    padding: var(--spacer-2) var(--spacer-3);
  }

  &__container {
    max-width: var(--content-max-width);

    @media (min-width: 768px) {
      margin-top: var(--spacer-1);
      margin-bottom: var(--spacer-1);
    }
  }

  &__row {
    align-items: center;
    min-height: 45px;

    &--grid {
      display: grid;
      grid-template-columns: auto 1fr auto;

      &__logo {
        grid-column: 1;
        grid-row: 1;
      }

      &__search {
        grid-column: 2;
        grid-row: 1;
      }

      &__nav {
        grid-column: 1/span 4;
        grid-row: 2;
        margin-top: var(--spacer-3);
        justify-content: center;

        .header__nav {
          display: flex;
          justify-content: space-between;
        }
      }
      
      &__icons {
        grid-column: 4;
        grid-row: 1;
      }
    }

    @media (min-width: 768px) {
      min-height: 60px;
    }
  }

  &__toggler {
    color: var(--text-muted);
    min-width: 32px;
    opacity: .85;
    padding: var(--spacer-2) var(--spacer-1);
    height: 100%;
    font-weight: var(--font-headings);
    text-transform: uppercase;
    transition: opacity .15s;
    margin-top: -.15rem;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &-icon {
      color: var(--secondary);
      font-size: 1.3rem;
      margin-right: var(--spacer-1);
      margin-bottom: -.13rem;
    }
  }

  &__logo {
    max-width: 125px;
    max-height: calc(var(--font-size-lg) * var(--line-height-lg) + 2 * var(--spacer-2));
    width: auto;
    height: auto;

    @media (min-width: 576px) {
      max-width: 300px;
      max-height: 60px;
    }
  }

  &__nav {
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    text-transform: uppercase;

    a {
      font-weight: var(--font-headings);
      padding: 0 var(--spacer-1);
      border-radius: var(--border-radius-sm);
      display: inline-block;
      transition: background-color .15s;
    }

    &--full a {
      margin-top: var(--spacer-1);
      padding: 0 var(--spacer-2);
    }
  }

  &__category:hover {
    text-decoration: none;
    background: var(--primary-lightest);
  }

  &__submenu {
    display: none;
    position: absolute;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    margin-top: var(--spacer-4);
    gap: var(--spacer-2);
    padding: var(--spacer-3);
    background: var(--light);
    border-top: 1px solid var(--gray);
    box-shadow: var(--box-shadow-sm);
    min-width: 300px;
    max-width: 500px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      background: var(--secondary);
      left: 0;
      top: -4px;
      width: 20%;
      height: 4px;
    }

    &-subcategory {
      color: var(--gray);
      display: block;
      width: 100%;
      text-transform: none;

      &:hover {
        background: none;
      }
    }
  }

  &__buttons .btn {
    padding: var(--spacer-2);
    margin-left: var(--spacer-1);
    color: var(--secondary);
    transition: color .2s;
    box-shadow: none;
    position: relative;

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    @media (min-width: 1200px) {
      font-size: var(--h4);
    }

    .badge {
      position: absolute;
      top: -3px;
      right: -3px;
      font-size: .75rem;
    }
  }

  &__search {
    position: relative;
    overflow: hidden;

    &-input {
      display: block !important;
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    &-btn {
      border: none;
      background: none;
      position: absolute;
      bottom: 50%;
      font-size: 1.3rem;
      line-height: 1;
      margin-bottom: calc(-1 * (var(--spacer-2) + .65rem));
      right: var(--spacer-1);
      padding: var(--spacer-2);
      color: var(--secondary-lighter);
      transition: color .125s;

      @media (hover: hover) {
        &:hover {
          color: var(--secondary-light);
        }
      }

      &:focus {
        outline: none;
      }
    }

    @media (min-width: 768px) {
      &-input {
        padding: 0 var(--spacer-3);
        border-radius: var(--border-radius-lg);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        height: calc(var(--line-height-lg) * var(--font-size-lg) + 2 * var(--spacer-2));
      }

      &-btn {
        font-size: 1.6rem;
        margin-bottom: calc(-1 * (var(--spacer-2) + .85rem));
      }
    }
  }
}
