.info-bar {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--secondary);
  color: var(--secondary-yiq);

  &:first-child {
    display: none;

    @media (min-width: 768px) {
      display: inherit;
    }

    .info-bar__nav {
      flex-wrap: nowrap;
    }
  }

  &__nav {
    align-items: center;
    overflow-x: auto;
    min-width: 100%;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    color: inherit;
    align-items: center;
    position: relative;
    max-width: 50vw;
    margin-top: var(--spacer-3);
    margin-bottom: var(--spacer-3);
    font-size: var(--font-size-sm);

    @media (min-width: 576px) {
      text-transform: uppercase;
      font-weight: var(--font-light);
    }

    &::after {
      content: " ";
      background: var(--light);
      position: absolute;
      left: 20%;
      bottom: -3px;
      height: .1rem;
      width: 0;
      transition: width .5s;
    }

    &:hover {
      text-decoration: none;
      color: inherit;

      &::after {
        width: 70%;
      }
    }
  }
}
