.menu {
  display: none;
  background: var(--body-bg);
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;

  &__list {
    padding-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: var(--primary);
    padding: var(--spacer-3);
    border-bottom: var(--border-width) solid var(--primary-lightest);
    transition: background-color .15s;

    &:hover {
      text-decoration: none;
      background: var(--primary-lightest);
    }

    &:last-child {
      border-bottom: none;
    }

    &-icon {
      width: 1.75rem;
      margin-right: .75rem;
      text-align: center;
      display: inline-block;
      height: calc(var(--line-height) * var(--font-size));
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__link {
    text-align: center;
    display: block;
    border-top: var(--border-width) dashed var(--primary-lightest-yiq);
    margin: var(--spacer-3);
    padding: var(--spacer-3) var(--spacer-2);
    line-height: 1;
    color: var(--primary);
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: var(--primary-lightest-yiq);

    &:focus {
      box-shadow: none;
    }

    &--close {
      left: auto;
      right: 0;
    }
  }

  &__footer {
    margin: var(--spacer-3) var(--spacer-2);
    text-align: center;
    font-weight: var(--font-light);

    a {
      color: var(--gray);
      text-decoration: none;
    }
  }

  &__social a {
    font-size: var(--font-size-lg);
    display: inline-block;
    margin: var(--spacer-1);
  }
}
