.multiple-collection-shelf {
  .products-carousel-tabs {
    &__list {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      overflow-x: auto;
      max-width: var(--content-max-width);
      margin: var(--spacer-4) auto;
      padding: 0 var(--spacer-2);
      li {
        min-width: 40%;
      }
      
      @media (min-width: 768px){
        padding: 0 3rem;
        li {
          min-width: unset;
        }
      }
      @media (min-width: 992px) {
        padding: 0 4rem;
        li {
          min-width: unset;
        }
      }
    }
    &__title {
      padding-bottom: 7px;
      margin-right: 1rem;
      &.is-active, &:hover {
        border-bottom: 3px solid var(--primary);
        opacity: 1 !important;
        cursor: pointer;
      }
      &:not(.is-active) {
        opacity: .5; 
      }
    }
  }
}
