@import "@ecomplus/storefront-components/src/scss/APicture";
@import "@ecomplus/storefront-components/src/scss/APrices";
@import "@ecomplus/storefront-components/src/scss/ProductCard";

.product-card {
  .spinner-border {
    position: absolute;
    bottom: var(--spacer-3);
    right: var(--spacer-3);
    opacity: 0;
    color: var(--gray);
  }

  &__seal {
    position: absolute;
    position: absolute;
    top: 0px;
    left: -5px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    img {
      width: 70px;
    }
  }

  &:has(.product-card__favorite) {
    .product-card__seal {
      top: 40px;
      right: 0;
      left: unset;
    }
  }

  @media (hover: hover) {
    &:hover {
      .spinner-border {
        opacity: .85;
      }
    }
  }
}
