@import "@ecomplus/storefront-components/src/scss/TheProduct";

.product {
  &__picture {
    text-align: center;
    display: block;

    picture {
      display: block;

      &.picture {
        position: relative;
        opacity: 1;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 992px) {
  #product-gallery > .product__picture {
    margin-left: 110px;
  }
}
