@import "@ecomplus/storefront-components/src/scss/TheProduct";

.product {
  &__picture {
    text-align: center;
    display: block;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
