@import 'variables';
@import '@ecomplus/storefront-twbs/scss/styles';

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import 'components/banner-slider';
@import 'components/brand';
@import 'components/header';
@import 'components/hero-banner';
@import 'components/html-clearfix';
@import 'components/footer';
@import 'components/menu';
@import 'components/page-title';
@import 'components/pay-icon';
@import 'components/pitbar';
@import 'components/product-card';
@import 'components/products-carousel';
@import 'components/retail-grid';
@import 'components/rounded-icon';

@import 'libs/glide';
@import 'libs/lozad';
@import 'libs/slideout';

#main {
  transform: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background: #333;
  width: 100%;
  height: 100%;

  &.show {
    opacity: .5;
    cursor: pointer;
  }
}
