<% if (options.compreConfieStoreId) { %>
  <li>
    <a
      id="seloEconfy"
      href="https://confi.com.vc/lojas-confiaveis/detalhes?id=<%- options.compreConfieStoreId %>"
      target="_blank"
      data-noop="redir(this.href);"
    ></a>
    <script
      type="text/javascript"
      id="getData"
      src="https://cdn.confi.com.vc/scripts/getData.js?sellerId=<%- options.compreConfieStoreId %>"
    ></script>
  </li>
<% } %>
