body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import "components/app";
@import "components/banner-slider";
@import "components/banner";
@import "components/header";
@import "components/hero-banner";
@import "components/html-clearfix";
@import "components/footer";
@import "components/info-bar";
@import "components/loading";
@import "components/menu";
@import "components/md-content";
@import "components/page-title";
@import "components/pay-icon";
@import "components/product-card";
@import "components/product";
@import "components/products-carousel";
@import "components/retail-grid";
@import "components/rounded-icon";
@import "components/stamps";
@import "components/top-bar";

@import "libs/glide";

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background: var(--dark);
  width: 100%;
  height: 100%;

  &.show {
    opacity: .4;
    cursor: pointer;
  }
}
