.form-control-lg {
    height: calc(0.5em + 4rem);
  }
.ec-minicart__button, #ec-user-popover, .header__toggler {
   font-size: 1.1rem;
}
#ec-user-popover {
  margin-right:  0.5rem;
}
#ec-shipping-zip{
  height: calc(2.2em + 1.5rem);
}
