#ec-user-popover {
  margin-right:  0.5rem;
}

.breadcrumb {
  padding-left: 1rem;
}

.header__toggler{
  margin: 1.5rem;
}

.ec-minicart__sidebar{
  background-color: var(--light);
}

a {
  color:  var(--primary);
}

a:hover {
  color: var(--primary-lightest)
}
