#ec-user-popover {
  margin-right: 4px;
}

.header__toggler{
  margin: 12px;
}

.ec-minicart__sidebar{
  background-color: var(--light);
}

a {
  color:  var(--primary);
}

a:hover {
  color: var(--primary-lightest)
}
