$success: #0f833c !default;
$warning: #ad1e32 !default;

$border-radius: 0.1rem !default;
$border-radius-sm: 0.1rem !default;
$border-radius-lg: 0.1rem !default;

$list-group-color: $secondary;
$list-group-bg: #fff6eb;
$list-group-border-color: $secondary;

$breadcrumb-divider-color: $secondary;
$breadcrumb-divider: quote("â€");

$icons-font: "line-awesome" !default;
