<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) %>
  <div class="banners-grid my-3 my-md-4 my-lg-5">
    <div class="container">
      <div class="row">
        <% for (let i = 0; i < opt.banners.length; i++) { %>
          <div class="col-12 col-lg-<%= colSize %> mb-3 mb-lg-0">
            <%- await include('@/sections/inc/banner', { _, opt: opt.banners[i] }) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% } %>
