<%
const search = new _.EcomSearch()
search.setBrandNames([_.state.name])
%>

<div class="brand-retail">
  <%- await include('@/sections/inc/retail-grid', {
    _, opt: {
      search,
      brand_names: [_.state.name],
      sort: opt.sort
    }
  }) %>
</div>
