<%
const search = new _.EcomSearch()
search
  .setBrandIds([_.state._id])
  .setSortOrder('sales')
%>

<div class="brand-retail">
  <%- await include('/@/sections/inc/retail-grid', {
    _, opt: { search, brand_names: [_.state.name] }
  }) %>
</div>
