<%
const search = new _.EcomSearch()
search
  .setCategoryIds([_.state._id])
  .setSortOrder('sales')
await search.fetch()
let items = await search.getItems()
const categoryNames = [_.state.name]

if (!items.length) {
  const childCategories = _.categories.filter(({ parent }) => {
    return parent && parent._id === _.state._id
  })
  if (childCategories.length) {
    search
      .setCategoryIds(childCategories.map(({ _id }) => _id))
      .setSortOrder('sales')
    await search.fetch()
    items = await search.getItems()
  }
}
%>

<div class="category-retail">
  <%- await include('/@/sections/inc/retail-grid', {
    _, opt: { items, search, categories_names: categoryNames }
  }) %>
</div>
