<%
if (_.state.products && _.state.products.length) {
  const search = new _.EcomSearch()
  search.setProductIds(_.state.products.slice(0, 70))
  %>
  <div class="collection-retail">
    <%- await include('@/sections/inc/retail-grid', {
      _, opt: {
        search,
        sort: opt.sort,
        page_size: 100
      }
    }) %>
  </div>
  <%
}
%>
