<%
const { title, link, shuffle } = opt
let items, collection
if (opt.collection_id) {
  const res = await _.ecomClient.store({
    url: `/collections/${opt.collection_id}.json`
  })
  collection = res.data
  items = []
  if (Array.isArray(collection.products) && collection.products.length) {
    const search = new _.EcomSearch()
    await search.setProductIds(collection.products).fetch()
    items = search.getItems()
  }
} else {
  items = _.items
}
%>

<div class="collection-shelf my-lg-5">
  <%- await include('/@/sections/inc/products-carousel', {
    _, opt: { items, collection, title, link, shuffle }
  }) %>
</div>
