<%
const { body } = await _.resolveRoute()
if (body.products && body.products.length) {
  const search = new _.EcomSearch()
  search.setProductIds(body.products)
  %>
  <div class="collection-retail">
    <%- await include('/@/sections/inc/retail-grid', { _, opt: { search } }) %>
  </div>
  <%
}
%>
