<% if (typeof opt.html === 'string') { %>
  <section class="custom-html my-4 my-lg-5">
    <div class="container">
      <div class="html-clearfix">
        <%- opt.html %>
      </div>
    </div>
  </section>
<% } %>
