<%
if (_.state.body_html) {
  const className = _.route.resource === 'categories' ? 'category'
    : _.route.resource.slice(0, -1)
  %>
  <section class="<%= className %>-description my-4 my-lg-5">
    <div class="container">
      <div class="html-clearfix">
        <%- _.state.body_html %>
      </div>
    </div>
  </section>
<% } %>
