<%
const title = opt.title || _.page.title || _.page.name
if (title) {
  %>
  <div class="page-title container mt-4 mb-4 mb-lg-5">
    <% if (_.page.logo && _.page.logo.url) { %>
      <img
        class="page-title__logo"
        src="<%= _.page.logo.url %>"
        alt="<%= _.page.logo.alt %>"
      >
    <% } %>
    <h1 class="my-0">
      <%= title %>
    </h1>
    <% if (_.page.short_description) { %>
      <div class="page-title__short-description lead">
        <%= _.page.short_description %>
      </div>
    <% } %>
  </div>
<% } %>
