<section id="search">
  <div class="container my-4 my-md-5">
    <div id="search-engine">
      <!--
        No prerender for search, `SearchEngine` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/SearchEngine.html
      -->
      <%- await include('@/sections/inc/loading') %>
    </div>

    <div id="search-pagination">
      <!--
        `APagination` may be rendered here when enabled:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/APagination.html
      -->
    </div>
  </div>
</section>
