<section id="search" class="container">
  <div id="search-engine">
    <!--
      No prerender for search, `SearchEngine` should be rendered here:
      https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/SearchEngine.html
    -->
    <%- await include('/@/sections/inc/loading') %>
  </div>
</section>
