<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <% opt.stamps.forEach(({ src, alt, link }) => {
      const { width, height } = _.tryImageSize(src)
      const imgHtml = `<img data-src="${src}" alt="${alt}" class="lozad fade" data-preload` +
        (width ? ` width="${width}" height="${height}">` : '>')
      %>

      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <%- imgHtml %>
          </a>
        </li>
      <% } else { %>
        <li>
          <%- imgHtml %>
        </li>
      <% } %>
    <% }) %>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>
