// Cosmo 4.6.1
// Bootswatch

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}
