.app {
  &__header {
    background: var(--light);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    max-width: 100%;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90rem;
      margin: 0 auto;
      @media (max-width: 767.98px) {
        flex-direction: column;
        & > div {
          padding: 0.5rem;
        }
      }
    }
  }

  &__footer {
    background: #f5f5f5;
    padding: 1rem;
    max-width: 100%;
    color: var(--dark);
    &-stamp {
      &--checkout {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        margin: 0;
        & > li {
          @media (max-width: 767.98px) {
            padding: 1rem 0;
          }
        }
        li > img {
          max-width: 120px;
          height: auto;
          width: 100%;
        }
        @media (max-width: 767.98px) {
          flex-wrap: wrap;
        }
      }
    }
  }

  &__logo {
    max-width: 150px;
    max-height: 80px;
  }

  &__icon-shield {
    color: var(--success);
  }

  &__contact {
    color: var(--grey);
  }

  &__credits-info {
    text-align: center;
    padding-top: 2rem;
  }
}
