.app {
  &__header,
  &__footer {
    .container-fluid {
      max-width: 90rem;
      margin: 0 auto;
    }
  }

  &__header {
    background: var(--light);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    text-align: right;

    @media (max-width: 575.98px) {
      text-align: center;
      font-size: .85rem;
    }
  }

  &__contact {
    color: var(--gray);

    span {
      &:not(:last-child) {
        margin-right: .75rem;
      }

      &:not(:first-child) {
        color: var(--secondary);
      }
    }
  }

  &__footer {
    border-top: .25rem solid var(--secondary);
    background: var(--light);
  }

  &__stamps {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem;
    margin: 0;
    max-width: 100%;

    & > li {
      @media (max-width: 767.98px) {
        padding: 1rem 0;
      }
    }

    li > img {
      max-width: 120px;
      height: auto;
      width: 100%;
    }

    @media (max-width: 767.98px) {
      padding: 1.5rem 0;
      flex-wrap: wrap;
      overflow-x: auto;
    }
  }

  &__logo {
    max-width: 300px;
    max-height: 60px;
  }

  &__safe {
    @media (max-width: 575.98px) {
      display: none;
    }

    &__icon {
      color: var(--success);
      margin-right: .25rem;
    }
  }

  &__credits {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    font-size: .9rem;
    padding: .5rem;

    > div {
      padding-top: 1rem;
    }
  }
}
