.app {
  &__header {
    background: var(--light);
    padding: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  }

  &__logo {
    max-width: 150px;
    max-height: 80px;
  }
  &__safe-icon {
    float: right;
  }
  &__safe-icon .rounded-icon {
    border: 1px solid var(--secondary)
  }
  &app__safe-icon-text {
    line-height: 12px;
    margin: 0;
    padding: 5px 35px 5px 0;
    text-transform: uppercase;
  }
}
