.header {
  background: var(--light);
  z-index: 900;
  display: block;
  width: 100%;
  transition: transform .15s ease-in-out;
  will-change: transform, opacity;

  &-float-fix {
    display: block;
    will-change: height;
  }

  &__countdown {
    display: block;
    background: var(--primary);
    color: var(--primary-yiq);
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
    padding: .5rem;
  }

  &__bar {
    color: var(--gray);
    font-weight: bold;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem .75rem .35rem;

    a {
      display: inline-block;
      margin-right: .75rem;
      color: inherit;

      &:last-child {
        margin-right: 0;
      }
    }

    &__left a {
      @media (min-width: 992px) {
        margin-right: 1rem;
      }
    }
  }

  &__container {
    max-width: 80rem;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .7rem;
    padding-bottom: 1rem;

    @media (max-width: 575.98px) {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }

  &__toggler {
    color: var(--gray);
    opacity: .85;
    padding: .5rem .2rem;
    height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity .15s;
    margin-top: -.15rem;

    &:hover {
      opacity: 1;
      color: var(--gray);
    }

    &:focus {
      box-shadow: none;
    }

    &__icon {
      color: var(--secondary);
      font-size: 1.3rem;
      margin-right: .25rem;
      margin-bottom: -.13rem;
    }
  }

  &__logo {
    max-width: 300px;
    max-height: 60px;
    width: auto;
    height: auto;

    @media (max-width: 575.98px) {
      max-width: 125px;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .25s ease 0s;
    transform: translateY(-100%);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    opacity: 0;

    .header {
      &__countdown {
        font-size: 1rem;
        padding: .25rem;
      }

      &__bar {
        display: none !important;
      }

      &__container {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
  }

  &__col {
    @media (max-width: 575.98px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__search {
    @media (max-width: 767.98px) {
      padding: .3rem 2.3rem .3rem .6rem;
      font-size: 1rem;
      height: auto;
      line-height: 1.5;
    }
  }
}
