.html-clearfix {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (min-width: 992px) {
    overflow-x: hidden;
  }

  table,
  .table {
    max-width: 100%;
  }
}
