.menu {
  display: none;
  background: var(--body-bg);

  &__list {
    padding-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    line-height: 1.3rem;
    background: var(--light);
    color: var(--light-yiq);
    padding: .75rem;
    margin: 0 .5rem .2rem;
    transition: background-color .15s, color .1s;

    &:hover {
      text-decoration: none;
      background: var(--primary);
      color: var(--primary-yiq);
    }

    &:last-child {
      border-bottom: none;
    }

    &__icon {
      width: 1.75rem;
      margin-right: .7rem;
      text-align: center;
      display: inline-block;
      height: 1.3rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__link {
    display: block;
    border-top: 1px dashed var(--primary-lightest-yiq);
    margin: 1rem .7rem;
    padding: .75rem .5rem;
    line-height: 1;
    color: var(--primary);
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: var(--primary-lightest-yiq);

    &:focus {
      box-shadow: none;
    }

    &--close {
      left: auto;
      right: 0;
    }
  }
}
