.product {
  &__block {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__picture {
    width: 100%;
    min-height: 10rem;
    text-align: center;
  }

  &__name {
    margin-bottom: 1.5rem;
  }

  &__buy {
    .spinner-border {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
      margin-bottom: .15rem;
    }

    @media (max-width: 575.98px) {
      display: block;
      width: 100%;
    }
  }

  &__description,
  &__specs {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    .html-clearfix {
      margin-top: 1.5rem;
    }
  }
}
