.rounded-icon {
  font-size: 1.5rem;
  width: 3.25rem;
  flex: 0 0 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  border: 1px solid var(--light);
  display: inline-block;
  line-height: 1;
  padding-top: .875rem;
  text-align: center;
}
