<div class="ec-shipping-line">
  <div v-if="isDeliveryPending">
    <div
      v-if="!shippingLine.status"
      class="ec-shipping-line__deadline"
    >
      {{ i19willReceiveMsg }}
      {{ shippingTime }}
      {{ (isShippingTimeWorkingDays ? i19workingDays : i19days) }}
      <span
        v-if="shippingLine.posting_deadline && shippingLine.posting_deadline.after_approval"
      >
        {{ i19afterApproval }}
      </span>
    </div>

    <div v-else class="ec-shipping-line__info">
      <div v-if="shippingLine.posting_deadline">
        {{ i19postingDeadline }}:
        {{ shippingLine.posting_deadline.days }}
        <template v-if="shippingLine.posting_deadline.working_days">
          {{ i19workingDays }}
        </template>
        <template v-else>
          {{ i19days }}
        </template>
        <span
          v-if="financialStatus !== 'paid' && shippingLine.posting_deadline.after_approval"
        >
          {{ i19afterApproval }}
        </span>
      </div>

      <div v-if="shippingLine.delivery_time">
        {{ i19postingDeadline }}:
        {{ shippingLine.delivery_time.days }}
        <template v-if="shippingLine.delivery_time.working_days">
          {{ i19workingDays }}
        </template>
        <template v-else>
          {{ i19days }}
        </template>
      </div>
    </div>

    <div class="ec-shipping-line__method">
      {{ i19shippingMethod }}:
      {{ shippingLine.app.label || shippingLine.shipping_method_label }}
      <div
        v-if="shippingLine.tracking_codes"
        class="ec-shipping-line__tracking"
      >
        {{ i19trackingCodes }}:
        <div v-for="tracking in shippingLine.tracking_codes">
          <strong v-if="!tracking.link">
            {{ tracking.code }}
          </strong>
          <a v-else :href="tracking.link" target="_blank">
            {{ tracking.code }}
          </a>
        </div>
      </div>
    </div>

    <div class="ec-shipping-line__address">
      <h5>
        <i class="fas fa-map-marker-alt mr-1"></i>
        {{ i19shippingAddress }}
      </h5>
      <p v-if="shippingLine.to.name">
        {{ i19recipient }}:
        {{ shippingLine.to.name }}
      </p>
      {{ shippingLine.to.street + ', ' +
      (shippingLine.to.number || i19noNumber) +
      (shippingLine.to.complement ? ' - ' + shippingLine.to.complement : '') +
      (shippingLine.to.borough ? ', ' + shippingLine.to.borough : '') }}
      <div v-if="shippingLine.to.city">
        {{ shippingLine.to.city }} /
        {{ (shippingLine.to.province_code || shippingLine.to.province) }}
      </div>
      <div>{{ shippingLine.to.zip }}</div>
    </div>
  </div>
</div>
