<form
  class="credit-card needs-validation"
  @submit.prevent="submit"
  novalidate
>
  <div class="form-group credit-card__bin">
    <label for="credit-card-bin">
      {{ i19cardNumber }}
    </label>
    <div class="input-group">
      <cleave-input
        type="tel"
        class="form-control"
        :class="!isNumberPotentiallyValid && alert.bin ? 'is-invalid': null"
        id="credit-card-bin"
        v-model="formattedCardBin"
        :raw="false"
        @blur="alert.bin = card.bin && !isNumberPotentiallyValid"
        :options="{ creditCard: true }"
        required
      />

      <div
        class="input-group-append"
        v-if="activeBrand && brands.indexOf(activeBrand) > -1"
      >
        <span class="input-group-text">
          <i
            class="pay-icon"
            :class="`pay-icon--${activeBrand}`"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group credit-card__name">
    <label for="credit-card-name">
      {{ i19holderName }}
    </label>
    <div class="input-group">
      <input
        type="text"
        pattern="[^\d\s]{3,}.*"
        class="form-control"
        id="credit-card-name"
        :placeholder="i19nameOnCard"
        v-model="card.name"
        @change="checkName"
        required
      />
    </div>
  </div>

  <transition
    enter-active-class="animated fadeInDown"
    leave-active-class="animated fadeOutUp position-absolute"
  >
    <div v-if="!canHideHolderFields">
      <div class="form-group">
        <label for="credit-card-birth">
          {{ i19birthdate }}
        </label>
        <input-date
          id="credit-card-birth"
          v-model="card.birth"
        />
      </div>

      <div class="form-group">
        <label for="credit-card-doc">
          {{ i19docNumber }}
        </label>
        <input-doc-number
          id="credit-card-doc"
          :is-company="isCompany"
          v-model="card.doc"
        />
      </div>
    </div>
  </transition>

  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="credit-card-validate">
        {{ i19validThru }}
      </label>
      <cleave-input
        type="tel"
        class="form-control"
        :class="alert.date ? 'is-invalid': null"
        id="credit-card-validate"
        pattern="[\d]{2}\/[\d]{2}"
        :placeholder="`mm/${(lang === 'pt_br' ? 'aa' : 'yy')}`"
        @blur="() => { alert.date = card.date && !validateDate() }"
        v-model="card.date"
        :options="{
          date: true,
          datePattern: ['m', 'y']
        }"
        required
      />
    </div>

    <div class="form-group col-lg-6">
      <label for="credit-card-cvv">
        CVV
        <span
          class="text-muted"
          :title="i19securityCode"
          data-container="body"
          data-toggle="popover"
          data-trigger="hover"
          data-placement="top"
          :data-content="i19aboutCvvMsg"
          v-once
        >
          <i class="fas fa-question-circle"></i>
        </span>
      </label>

      <input
        type="number"
        class="form-control"
        :class="alert.cvv ? 'is-invalid': null"
        id="credit-card-cvv"
        min="100"
        max="9999"
        placeholder="123"
        v-model="card.cvv"
        @blur="() => { alert.cvv = card.cvv && !validateCvv() }"
        required
      />
    </div>
  </div>

  <div
    v-if="installmentList.length || isLoadingInstallments"
    class="form-group"
  >
    <label for="credit-card-installment">
      {{ i19parcelIn }}
    </label>

    <transition-group
      enter-active-class="animated fadeInDown"
      leave-active-class="d-none"
    >
      <select
        key="installments"
        v-if="!isLoadingInstallments"
        class="custom-select"
        id="credit-card-installment"
        v-model="card.installment"
      >
        <option :value="1">
          {{ formatMoney(amount.total) }}
          {{ i19atSight }}
        </option>
        <option
          v-for="({ number, value, tax }) in installmentList"
          v-if="number > 1"
          :value="number"
        >
          {{ `${number}x ${i19of} ${formatMoney(value)}` }}
          <template v-if="!tax">
            {{ i19interestFree }}
          </template>
        </option>
      </select>

      <div
        key="loading"
        v-else
        class="spinner-grow"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </transition-group>
  </div>

  <button class="btn btn-lg btn-block btn-success" type="submit">
    <i class="fas fa-lock mr-1"></i>
    {{ i19confirmPurchase }}
  </button>
</form>
