<div class="ec-addresses">
  <transition-group enter-active-class="animated fadeIn">
    <ec-address-form
      key="form"
      v-if="showForm"
      :address.sync="localAddress"
    />

    <div key="list" v-else-if="addresses.length">
      <div
        class="ec-addresses__card card"
        v-for="(address, i) in addresses"
        :key="address._id"
      >
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input
              type="radio"
              :id="`ec-address-${i}`"
              name="ec-address-selected"
              class="custom-control-input"
              :checked="address.default"
              @change="selectAddress(address)"
            >

            <label class="custom-control-label" :for="`ec-address-${i}`">
              <address class="ec-addresses__address">
                <span class="ec-addresses__line">
                  {{ getLineAddress(address) }}
                </span>
                <span v-if="address.city" class="ec-addresses__city">
                  {{ `${address.city} / ${address.province_code || address.province}` }}
                </span>
                <span class="ec-addresses__zip">
                  {{ address.zip }}
                </span>
              </address>
            </label>
          </div>

          <div class="ec-addresses__actions">
            <button
              class="btn btn-sm btn-light"
              type="button"
              :aria-label="i18n('Edit')"
              @click="editedAddressIndex = i"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>

            <button
              class="btn btn-sm btn-danger"
              type="button"
              :aria-label="i18n('Remove')"
              @click="() => removeAddress(i)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>

        <div class="ec-addresses__recipient card-footer">
          {{ address.name }}
        </div>
      </div>

      <button
        class="btn btn-sm btn-outline-secondary"
        @click="newAddress = true"
        type="button"
      >
        <i class="fas fa-plus mr-1"></i>
        {{ i18n('NewAddress') }}
      </button>
    </div>
  </transition-group>
</div>
