<div class="cart">
  <transition-group enter-active-class="animated fadeInDown">
    <div class="row" v-if="cart.items.length" key="list">
      <div class="col-md-7 col-lg-8">
        <div class="cart__list">
          <slot name="list" v-bind="{ items: cart.items }">
            <transition-group
              enter-active-class="animated fadeInDown"
              leave-active-class="animated fadeOutUp faster position-absolute"
            >
              <cart-item
                v-for="item in cart.items"
                :key="item._id"
                :item="item"
                :name-max-length="80"
              />
            </transition-group>
          </slot>
        </div>

        <discount-applier
          class="cart__discount"
          :amount="amount"
          :coupon-code.sync="localDiscountCoupon"
          :is-coupon-applied="Boolean(discountCoupon && amount.discount)"
          @set-discount-rule="discountRule => $emit('setDiscountRule', discountRule)"
          :modules-payload="modulesPayload"
        />

        <slot name="back-shopping">
          <div class="cart__back d-none d-md-block my-4">
            <a
              class="cart__btn-back btn btn-sm btn-light"
              role="button"
              href="/"
            >
              <i class="fas fa-arrow-left mr-1"></i>
              {{ i19continueShopping }}
            </a>
          </div>
        </slot>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="cart__info">
          <slot name="info">
            <div class="cart__summary-row">
              <span>Subtotal</span>
              <div>{{ formatMoney(cart.subtotal) }}</div>
            </div>

            <transition enter-active-class="animated fadeInDown">
              <div class="cart__summary-row mt-1" v-if="amount.discount">
                <span>
                  <i class="fas fa-tag mr-1"></i>
                  {{ i19discount }}
                </span>
                <div>{{ formatMoney(amount.discount) }}</div>
              </div>
            </transition>

            <shipping-calculator
              class="cart__shipping"
              :can-select-services="true"
              :shipped-items="cart.items"
              @select-service="val => $emit('shippingService', val)"
              @update:zip-code="val => $emit('update:zipCode', val)"
            />

            <div class="cart__summary-row cart__total">
              <span>Total</span>
              <a-prices
                :product="{ price: amount.total || cart.subtotal }"
                :discount-option="{ value: amount.discount }"
                :is-literal="true"
              />
            </div>

            <slot name="checkout">
              <a
                class="cart__btn-checkout btn btn-lg btn-block btn-success"
                role="button"
                :href="checkoutUrl"
              >
                <span class="mr-1">
                  <i class="fas fa-shopping-bag"></i>
                </span>
                {{ i19checkout }}
              </a>
            </slot>
          </slot>
        </div>
      </div>
    </div>

    <div
      v-else
      class="cart__empty"
      key="empty"
    >
      <slot name="empty">
        <p class="lead text-muted">
          {{ i19emptyCart }} ...
        </p>
        <a class="btn btn-primary" href="/">
          <span class="mr-1">
            <i class="fas fa-arrow-left"></i>
          </span>
          {{ i19continueShopping }}
        </a>
      </slot>
    </div>
  </transition-group>
</div>
