<div class="checkout">
  <transition-group
    enter-active-class="animated fadeIn"
    leave-active-class="d-none"
  >
    <div class="checkout__app" key="app" v-if="shownCheckoutStep">
      <div class="row">
        <div class="col-lg-8">
          <nav class="checkout__steps">
            <a
              href="#"
              class="checkout__step"
              v-for="(label, i) in [null, 'Delivery', 'Payment']"
              v-if="label"
              :class="'checkout__step--' + (
                shownCheckoutStep === i ? 'current'
                  : enabledCheckoutStep < i ? 'disabled'
                    : shownCheckoutStep > i ? 'past' : 'next'
              )"
              @click.prevent="toCheckoutStep = i"
            >
              <small>{{ i }}</small>
              {{ i18n(label) }}
            </a>
          </nav>

          <div class="row">
            <div
              class="checkout__col col-md-6"
              :class="enabledCheckoutStep === 1 ? 'offset-lg-3' : null"
            >
              <div :class="shownCheckoutStep !== 1 ? 'd-none d-md-block' : null">
                <div v-if="shippingAddress" class="checkout__shipping">
                  <transition-group enter-active-class="animated fadeInDown">
                    <div
                      v-if="shippingService && !editShippingService"
                      key="shipping"
                    >
                      <div class="checkout__shipping-method">
                        <small>{{ shippingService.label }}</small>
                        <shipping-line :shipping-line="shippingService.shipping_line"/>
                      </div>

                      <a
                        href="#"
                        class="btn btn-sm btn-secondary"
                        @click.prevent="editShippingService = true"
                      >
                        <i class="fas fa-edit mr-1"></i>
                        {{ i18n('ChangeShippingMethod') }}
                      </a>
                    </div>

                    <shipping-calculator
                      v-else
                      :key="`shipTo${localZipCode}`"
                      :can-select-services="true"
                      :shipped-items="cart.items"
                      :zip-code="localZipCode"
                      :can-input-zip="false"
                      @select-service="service => $emit('update:shippingService', service)"
                    />
                  </transition-group>
                </div>

                <ec-addresses
                  :customer.sync="localCustomer"
                  :zipCode="shippingZipCode"
                  @addressSelected="selectAddress"
                />

                <div
                  class="checkout__overlay fade"
                  :class="shownCheckoutStep !== 1 ? 'show' : null"
                  @click="toCheckoutStep = 1"
                >
                </div>
              </div>
            </div>

            <div class="checkout__col col-md-6">
              <transition
                enter-active-class="animated fadeInRight slow"
                leave-active-class="animated fadeOutRight fast position-absolute"
              >
                <div
                  v-if="enabledCheckoutStep >= 2"
                  :class="shownCheckoutStep !== 2 ? 'd-none d-md-block' : null"
                >
                  <payment-methods
                    :key="paymentsListKey"
                    :amount="amount"
                    :customer="localCustomer"
                    @select-gateway="gateway => $emit('update:paymentGateway', gateway)"
                    @checkout="transaction => $emit('checkout', transaction)"
                  />

                  <div
                    class="checkout__overlay fade"
                    :class="shownCheckoutStep !== 2 ? 'show' : null"
                    @click="toCheckoutStep = 2"
                  >
                  </div>
                </div>
              </transition>
            </div>
          </div>
        </div>

        <div class="col-lg-4 checkout__info">
          <div class="checkout__summary">
            <ec-summary
              :amount="amount"
              :items="cart.items"
              :buyer="customer"
              :shippingAddress="shippingAddress"
              :can-show-price-options="!(paymentGateway && paymentGateway.app_id)"
              @click:account="editAccount = true"
            >
              <discount-applier
                class="checkout__discount"
                :amount="amount"
                :coupon-code.sync="localDiscountCoupon"
                @set-discount-rule="discountRule => $emit('setDiscountRule', discountRule)"
                :modules-payload="modulesPayload"
                is-attention-wanted
              />
            </ec-summary>

            <div class="checkout__back">
              <a :href="cartUrl" class="btn btn-sm btn-light">
                <i class="fas fa-chevron-left mr-1"></i>
                {{ i18n('BackToCart') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div key="login" v-else-if="!isUserIdentified">
      <slot name="login">
        <login-block
          @login="login"
          @update="isUserIdentified = true"
          :customer-email.sync="customerEmail"
        />
      </slot>
    </div>

    <div key="account" class="checkout__account" v-else>
      <slot name="account">
        <p class="lead">
          {{ i18n('RegisterToBuy') }}:
        </p>

        <ec-account-form
          :customer.sync="localCustomer"
          :short="true"
        />
      </slot>
    </div>
  </transition-group>
</div>
