<form
  class="ec-credit-card needs-validation"
  @submit.prevent="submit"
  novalidate
>
  <div class="form-group ec-credit-card__bin">
    <label for="ec-credit-card-bin">
      {{ i18n('CardNumber') }}
    </label>
    <div class="input-group">
      <cleave-input
        type="tel"
        class="form-control"
        :class="!numberPotentiallyValid && alert.bin ? 'is-invalid': null"
        id="ec-credit-card-bin"
        v-model="formattedCardBin"
        :raw="false"
        @blur="alert.bin = card.bin && !numberPotentiallyValid"
        :options="{ creditCard: true }"
        required
      />

      <div
        class="input-group-append"
        v-if="activeBrand && brands.indexOf(activeBrand) > -1"
      >
        <span class="input-group-text">
          <i
            class="pay-icon"
            :class="`pay-icon--${activeBrand}`"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group ec-credit-card__name">
    <label for="ec-credit-card-name">
      {{ i18n('HolderName') }}
    </label>
    <div class="input-group">
      <input
        type="text"
        pattern="[^\d\s]{3,}.*"
        class="form-control"
        id="ec-credit-card-name"
        :placeholder="i18n('NameOnCard')"
        v-model="card.name"
        @change="checkName"
        required
      />
    </div>
  </div>

  <slide-y-up-transition>
    <div v-if="!hideHolderFields">
      <div class="form-group">
        <label for="ec-credit-card-birth">
          {{ i18n('Birthdate') }}
        </label>
        <input-date
          id="ec-credit-card-birth"
          v-model="card.birth"
        />
      </div>

      <div class="form-group">
        <label for="ec-credit-card-doc">
          {{ i18n('DocNumber') }}
        </label>
        <input-doc-number
          id="ec-credit-card-doc"
          :isCompany="isCompany"
          v-model="card.doc"
        />
      </div>
    </div>
  </slide-y-up-transition>

  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="ec-credit-card-validate">
        {{ i18n('ValidThru') }}
      </label>
      <cleave-input
        type="tel"
        class="form-control"
        :class="alert.date ? 'is-invalid': null"
        id="ec-credit-card-validate"
        pattern="[\d]{2}\/[\d]{2}"
        :placeholder="`mm/${(lang === 'pt_br' ? 'aa' : 'yy')}`"
        @blur="() => { alert.date = card.date && !validateDate() }"
        v-model="card.date"
        :options="{
          date: true,
          datePattern: ['m', 'y']
        }"
        required
      />
    </div>

    <div class="form-group col-lg-6">
      <label for="ec-credit-card-cvv">
        CVV
        <span
          class="text-muted"
          v-b-popover.hover.top="i18n('AboutCvv')"
          :title="i18n('SecurityCode')"
        >
          <i class="fas fa-question-circle"></i>
        </span>
      </label>

      <input
        type="number"
        class="form-control"
        :class="alert.cvv ? 'is-invalid': null"
        id="ec-credit-card-cvv"
        min="100"
        max="9999"
        placeholder="123"
        v-model="card.cvv"
        @blur="() => { alert.cvv = card.cvv && !validateCvv() }"
        required
      />
    </div>
  </div>

  <div
    v-if="installmentOptions && installmentOptions.length"
    class="form-group"
  >
    <label for="ec-credit-card-installment">
      {{ i18n('ParcelIn') }}
    </label>

    <select
      v-if="isLoadingInstallments"
      class="custom-select"
      id="ec-credit-card-installment"
      v-model="card.installment"
    >
      <option :value="1">
        {{ formatMoney(amount.total) }}
        {{ i18n('AtSight').toLowerCase() }}
      </option>
      <option
        v-for="({ number, value, tax }) in installmentList"
        :value="number"
      >
        {{ `${number}x ${i18n('Of').toLowerCase()} ${formatMoney(value)}` }}
        <template v-if="!tax">
          {{ i18n('InterestFree').toLowerCase() }}
        </template>
      </option>
    </select>

    <div
      v-else
      class="spinner-grow"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <button class="btn btn-lg btn-block btn-success" type="submit">
    <i class="fas fa-lock mr-1"></i>
    {{ i18n('ConfirmPurchase') }}
  </button>
</form>
