<div class="orders-list">
  <div
    class="list-group list-group-flush"
    v-if="orders.length"
    v-for="order in orders"
  >
    <a
      href="#"
      class="orders-list__item list-group-item list-group-item-action"
      @click.prevent="() => $emit('click:order', order)"
    >
      <div>
        <samp
          class="orders-list__number"
          :class="`orders-list__number--${order.status}`"
          v-text="`#${order.number}`"
        >
        </samp>

        <strong v-if="order.amount" class="orders-list__amount">
          {{ formatMoney(order.amount.total) }}
        </strong>
      </div>

      <span>{{ formatDate(order.created_at) }}</span>

      <span
        v-if="order.status === 'cancelled'"
        class="orders-list__status"
        :class="`orders-list__status--${order.status}`"
      >
        {{ i19OrderStatus(order.status) }}
      </span>

      <span
        v-else-if="order.financial_status && order.status !== 'cancelled'"
        class="orders-list__financial-status"
        :class="`orders-list__financial-status--${order.financial_status.current}`"
      >
        {{ i19FinancialStatus(order.financial_status.current) }}
      </span>
    </a>
  </div>
</div>
