$success: #0f833c !default;
$warning: #ad1e32 !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #383d44 !default;

$border-radius: 0.1rem !default;
$border-radius-sm: 0.1rem !default;
$border-radius-lg: 0.1rem !default;

$list-group-color: $secondary;
$list-group-bg: #fff6eb;
$list-group-border-color: $secondary;

$breadcrumb-divider-color: $secondary;
$breadcrumb-divider: quote("â€");
