.breadcrumb {
  padding-left: 1rem;
}

a {
  color: var(--primary);

  @media (hover: hover) {
    &:hover {
      color: var(--primary-lightest);
    }
  }
}

#ec-user-popover {
  margin-right: 0.2rem;
}
