<%= partial('html') %>
<head>
  <%= partial('head', { title: 'Homepage' }) %>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <h1 class="st-text-primary"><%= settings.name %></h1>
  <%= md.render('### With markdown parser') %>
  <script>
    // Netlify Identity for CMS login
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
