<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="ecom-store-id" content="<%= store_id %>">
    <meta name="ecom-store-object-id" content="<%= store_object_id %>">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/@ecomplus/storefront-app/lib/app.min.css" rel="stylesheet">
  </head>
  <body style="opacity: 0">
    <div id="app"></div>
    <div id="credits">
      Powered by
      <a href="https://e-com.plus" target="_blank">E-Com Plus</a>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ecomplus/storefront-app/lib/manifest.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ecomplus/storefront-app/lib/vendor.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ecomplus/storefront-app/lib/app.min.js"></script>
  </body>
</html>
