.form-control-lg {
    height: calc(0.5em + 4rem);
  }

#cart-button, #ec-user-popover, .header__toggler {
   font-size: 1.1rem;
}

#ec-user-popover {
  margin-right: 4px;
}

#ec-shipping-zip{
  height: calc(2.2em + 1.5rem);
}
