.badge {
  padding: .4rem;
}
#ec-user-popover {
  margin-right: 0.5rem;
}
.menu__btn--close {
  color: var(--primary);
}
.menu__item {
  border-radius: 1.078em;
}
.form-control {
  border-radius: 1.078em;
}
.header__search {
  border-radius: 1.078em;
}
.custom-select {
  border-radius: 1.078em;
}
.ec-identify-email {
  border-radius: 1.078em;
}
  
