$list-group-active-color:           var(--primary-lightest-yiq) !default;
$list-group-active-bg:              var(--primary-lightest) !default;

$breadcrumb-padding-y:              .5rem;
$breadcrumb-padding-x:              0;
$breadcrumb-bg:                     none !default;
$breadcrumb-divider-color:          #ced4da !default;
$breadcrumb-active-color:           #6c757d !default;
$breadcrumb-divider:                quote("/") !default;
