$success: #3bbea7 !default;
$warning: #e0234e !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$light: $gray-700;

$border-radius: 0.1rem !default;
$border-radius-sm: 0.1rem !default;
$border-radius-lg: 0.1rem !default;

$secondary: $white;

$list-group-color: $secondary;
$list-group-bg: $gray-900;
$list-group-border-color: $gray-700;

$breadcrumb-divider-color: $gray-500;
$breadcrumb-active-color: $secondary;
$breadcrumb-divider: quote(".");

$body-bg: $black;
$body-color: $gray-100;

$input-bg: $black;
$input-color: $white;

$custom-select-bg: $black;
$custom-select-disabled-bg: $gray-600 !default;

$component-active-bg: $white !default;

$breadcrumb-bg: $black;
