@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "header";
@import "product-card";
@import "product";
@import "footer";

body {
  padding-bottom: 40px!important;
}

main {
  .top-bar {
    background-color: $body-bg;

    &__nav {
      color: $body-color-secondary;
    }
  }

  .h1, .h2, .h5 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    color: $secondary;
  }
  .h1 {
    font-size: 40px;
    line-height: 42px;
  }

  .h2 {
    font-size: 32px;
    line-height: 36px;
  }

  .product__name, .h4, .h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    color: $secondary;
  }

  .h4 {
    font-size: 24px;
    line-height: 29px;
  }

  .h5 {
    font-size: 18px;
    line-height: 22px;
  }

  .h6 {
    font-size: 16px;
    line-height: 19px;
  }

  .breadcrumb-item {
    font-size: 12px;

    .i-home {
      font-size: 16px;
    }

    & + .breadcrumb-item::before {
      content: '\226B';
      color: $secondary;
      padding-right: 11px;
      padding-left: 11px;
    }
    a {
      color: $secondary;
    }
  
    &.active {
      color: $primary;
    }
  }

  .banner-slider {
    .glide {
  
      &__bullet,
      &__bullet--active {
        background-color: $body-bg;
        border-color: #505050;
        border-radius: 6px;
      }

      @media (max-width: 575.98px) {
        &__bullet {
          width: 32px;
          height: 13px;
        }
      }
    }
    
    .glide__arrow {
      display: none;
    }
  }

  .info-bar {
    background-color: $body-bg;
    box-shadow: 0px 1px 0px rgba($black, .1);
  
    &__item {
      color: $secondary;
  
      &:hover {
        color: $secondary-text;
      }

      div {
        margin-left: 0;
        font-family: 'Playfair Display';
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        text-transform: capitalize;
      }
    }

    @media (max-width: 575.98px) {
      &__nav {
        .col-auto {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }

  .products-carousel {
    &__title {
      color: $secondary;
      font-family: 'Playfair Display';
      font-size: 28px;
      
      &::before {
        display: none;
      }    
    }

    .glide__arrow {
      color: $primary;
    }
  }

  .search-engine__count {
    color: $secondary;
  }
}
