@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

$icons-font: "line-awesome" !default;

/* Colors: */
$primary:                  #E83E8C !default;
$secondary:                #37003C !default;
$secondary-text:           #5F506B !default;
$price-old:                #C0B9DD !default;
$body-color:               #9A9A9A !default;
$body-color-secondary:     #A8A8A8 !default;
$body-bg:                  #FFFFFF !default;
$border-color:             #D9D9D9 !default;
$product-border-color:     #E8E8E8 !default;
$variations-option-border: #E40000 !default;
$lines:                    #E3D0D8 !default;
$cement:                   #8D735F !default;
$nav-item-hover:           #D88C88 !default;
$black:                    #000000 !default;
