<div class="buy-together">
  <transition enter-active-class="animated fadeInDown">
    <div v-if="hasLoadedIds && (productIds.length > 1 || recommendedItems.length)">
      <div class="buy-together__title">
        <div
          class="buy-together__discount lead mb-1"
        >
          {{ i19buyTogether }}
          <span
            v-if="discount"
            class="badge badge-success"
          >
            {{ formatMoney(discount) }} <span>OFF</span>
          </span>
        </div>
      </div>

      <div class="buy-together__row row">
        <div
          class="col-12"
          :class="productIds.length > 1 ? 'col-md' : 'col-md-6 col-lg-4'"
        >
          <div :class="rowClassName">
            <div
              v-if="productIds.length"
              :key="baseProduct._id"
              :class="colClassName"
            >
              <product-card
                :product="baseProduct"
                :productId="baseProduct._id"
                :is-loaded="true"
                v-bind="productCardProps"
              />
            </div>
            <div
              v-if="productIds.length"
              v-for="productId in productIds"
              :key="productId"
              :class="colClassName"
            >
              <product-card
                :productId="productId"
                :is-loaded="false"
                @update:product="product => recommendedItems.push(product)"
                v-bind="productCardProps"
              />
            </div>
          </div>
        </div>
        <div
          v-if="productIds.length"
          class="buy-together__cta col-auto"
        >
          <a-prices
            :product="{ price: subtotal - discount, base_price: subtotal }"
            :is-literal="true"
            :is-big="true"
          />
          <button
            v-if="canAddToCart"
            class="btn btn-lg btn-primary mt-3"
            @click="buy"
          >
            <i class="i-shopping-basket mr-1"></i>
            {{ i19buyTogether }}
          </button>
        </div>
      </div>
    </div>
  </transition>

  <transition leave-active-class="animated fadeOut">
    <slot v-if="!productIds.length > 1"/>
  </transition>
</div>
