<div class="st-picture">
  <img
    v-if="typeof src === 'string'"
    :alt="alt"
    :data-src="src"
    :class="imgClasses"
    ref="lazyImg"
  >

  <picture
    v-else-if="src && imgObj"
    :class="imgClasses"
    :data-iesrc="src.zoom ? src.zoom.url : imgObj.url"
    :data-alt="imgObj.alt"
    ref="lazyImg"
  >
    <source
      v-if="src.small"
      :srcset="src.small.url"
      :media="`(max-width: ${pictureBreakpoint - 0.02}px)`"
    >
    <source
      :srcset="imgObj.url"
      :media="`(min-width: ${pictureBreakpoint}px)`"
    >
  </picture>

  <img v-else :src="placeholder" alt="No image">
</div>
