<div class="product-kit-variation">
  <div
    class="glide"
    ref="glide"
  >
      <div
        class="glide__track"
        data-glide-el="track"
      >
        <ul class="glide__slides product-kit-variation__list">
          <li
            v-for="(item, i) in localItems"
            class="glide__slide"
            :key="'slide-kit' + i"
          >
            <button v-if="selectedVariationId" @click="removeItemFromKit(activeIndex)" type="button" aria-label="Fechar" class="close"><i class="i-times-circle"></i></button>
            <div class="product-kit-variation__item">
              <div class="product-kit-variation__item-head">
                <div class="product-kit-variation__picture">
                  <a-picture
                    class="gallery__big-image"
                    :src="getImg(item, null, 'normal')"
                  />
                </div>
                <div class="product-kit-variation__info">
                  <h2>{{ getName(item) }}</h2>
                  <b>{{ i19quantity }}: 1 </b>
                </div>
              </div>

              <slot
                name="variations"
              >
                <product-variations
                  disabled="variationKit.length === max"
                  :product="item"
                  :selected-id.sync="selectedVariationId"
                  :max-options-btns="maxOptionsBtns"
                />
                
                <slot name="variations-info"/>
              </slot>
            </div>
          </li>
        </ul>
      </div>

      <a-alert
        :can-show="variationKit.length === max"
        :variant="alertVariant"
      >
        {{ i19maxQuantity }}:
        <strong>{{ max }}</strong>
      </a-alert>
      <div class="glide__pagination">
        <span class="glide__pagination--current">{{ activeIndex + 1 }}</span>
        <span class="glide__pagination--total">/ {{ localItems.length }}</span>
      </div>
  </div>
  <div class="product-kit-variation__actions">
    <button @click="activeIndex++" class="btn btn-block btn-primary"><span>{{ i19next }} {{ i19item }}</span></button>
    <button @click="activeIndex--" class="btn btn-block btn-outline-secondary">
      <span>{{ i19item }} {{ i19previous }}</span>
    </button>
  </div>
  <div
    class="product-kit-variation__buy"
  >
    <slot
      name="buy"
      v-bind="{ variationKit }"
    >
      <button
        type="button"
        class="btn btn-lg btn-primary my-3"
        @click="buy"
        :disabled="variationKit.length !== min"
      >
        <slot name="buy-button-content">
          <i class="i-shopping-bag mr-1"></i>
        </slot>
      </button>
    </slot>
  </div>
</div>
