<div class="col col-md-4">
  <div 
    class="py-2" 
    v-if="title"
  >
    <span>
      {{ title }}
    </span>
  </div>

  <div 
    class="quantity-selector" 
    v-for="item in itemsSelected"
  >
    <input
      type="number"
      class="form-control"
      v-on:change="change"
      v-model.number="item.quantity_selected"
      :min="item.min_quantity"
      :max="item.quantity_selected + quantityRemaining"
      :id="item.productId"
      :disabled="item.quantity <= 0"
      :placeholder="item.min_quantity"
    >

    <span>
      {{ item.name }}
    </span>
  </div>

  <a-alert :can-show="isMax">
    {{ i19MaximumQuantity }}
  </a-alert>
</div>
