<section class="product">
  <a-alert
    :can-show="hasLoadError"
    variant="danger"
  >
    {{ i19loadProductErrorMsg }}
    <a
      href="#"
      class="alert-link"
      @click.prevent="fetchProduct"
    >
      {{ i19retry }}
    </a>
  </a-alert>

  <transition enter-active-class="animated fadeIn slower">
    <div
      v-if="body._id"
      class="row"
    >
      <slot name="gallery-col">
        <div class="col-12 col-md-6">
          <product-gallery
            :product="body"
            :current.sync="currentGalleyImg"
          >
            <slot name="first-picture"/>
          </product-gallery>
          <slot name="gallery-footer"/>
        </div>
      </slot>

      <div class="col">
        <slot name="heading">
          <component
            :is="headingTag"
            class="product__name"
          >
            {{ name }}
          </component>
          <p class="product__sku">
            COD: {{ body.sku }}
          </p>
        </slot>

        <slot name="rating">
          <div
            v-once
            class="product__rating"
            :data-sku="body.sku"
          ></div>
        </slot>

        <slot
          name="unavailable"
          v-if="!body.available"
        >
          <p class="product__unavailable">
            {{ i19unavailable }}
          </p>
        </slot>

        <slot
          name="out-of-stock"
          v-else-if="!isInStock"
        >
          <p class="product__out-of-stock">
            {{ i19outOfStock }}
          </p>
        </slot>

        <template v-else>
          <slot name="prices">
            <p class="product__prices">
              <a-prices
                :product="{ ...body, ...selectedVariation }"
                :is-literal="true"
                :is-big="true"
                @fix-price="price => fixedPrice = price"
              />

              <slot
                name="discount-tag"
                v-bind="{ discount }"
              >
                <span
                  v-if="discount > 0"
                  class="product__discount"
                >
                  {{ i19discountOf }}
                  <strong>{{ discount }}%</strong>
                </span>
              </slot>
            </p>
          </slot>

          <slot
            name="variations"
            v-if="hasVariations"
          >
            <product-variations
              :product="body"
              :selectedId.sync="selectedVariationId"
            />
            <a-alert :can-show="hasClickedBuy && !selectedVariationId">
              {{ i19selectVariation }}
            </a-alert>

            <slot name="variations-info"/>
          </slot>

          <div
            class="product__buy"
            @click="buy"
          >
            <slot name="buy">
              <button
                type="button"
                class="btn btn-lg btn-primary"
                :disabled="hasClickedBuy"
              >
                <slot name="buy-button-content">
                  <i class="fas fa-shopping-bag mr-1"></i>
                  {{ strBuy }}
                </slot>
              </button>
            </slot>
          </div>

          <p
            class="product__short-stock"
            v-if="isLowQuantity"
          >
            <i class="fas fa-exclamation-triangle mr-1"></i>
            {{ i19only }}
            <strong>{{ productQuantity }}</strong>
            {{ i19inStock }}
          </p>

          <slot name="shipping">
            <shipping-calculator
              :shippedItems="[{
                ...body,
                product_id: body._id,
                quantity: body.min_quantity || 1
              }]"
            />
          </slot>
        </template>

        <slot
          name="short-description"
          v-if="body.short_description"
        >
          <p class="product__info lead">
            {{ body.short_description }}
          </p>
        </slot>

        <transition enter-active-class="animated fadeInDown">
          <slot
            name="payment-gateways"
            v-bind="{ paymentGateways }"
            v-if="paymentGateways.length"
          >
            <article :key="`payment-${fixedPrice}`">
              <div
                v-once
                class="product__payment card mt-3"
              >
                <div
                  id="product-payment-header"
                  class="card-header"
                >
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#product-payment"
                    aria-expanded="true"
                    aria-controls="product-payment"
                  >
                    <i class="fas fa-chevron-down mr-1"></i> {{ i19paymentOptions }}
                  </button>
                </div>

                <div
                  id="product-payment"
                  class="collapse show"
                  aria-labelledby="product-payment-header"
                >
                  <div class="card-body">
                    <payment-option
                      v-for="(gateway, i) in paymentGateways"
                      :key="i"
                      :payment-gateway="gateway"
                      :price="fixedPrice"
                    />
                  </div>
                </div>
              </div>
            </article>
          </slot>
        </transition>
      </div>
    </div>
  </transition>

  <template v-if="!body._id">
    <slot/>
  </template>
</section>
