@tailwind preflight;

@tailwind components;

/**
 * Start storefront components styles
 * -------->
 */

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue text-white;
}
.btn-blue:hover {
  @apply bg-blue-dark;
}

/**
 * <--------
 * End storefront componets
 */

/* @tailwind utilities; */
