<div data-slot="rating">
  <% if (options.tagJs && options.tagJs.includes('skeepers.io')) { %>
    <div class="skeepers_product__stars" data-product-id="<%= opt.item && opt.item.sku %>"></div>
  <% } else { %>
    <div class="NETREVIEWS_PRODUCT_STARS" data-product-id="<%= opt.item && opt.item.sku %>"></div>
  <% } %>
</div>
