#ec-user-popover {
  margin-right:  0.5rem;
}
.breadcrumb {
  padding-left: 1rem;
}
.header__toggler{
  padding: 0.15rem;
}
.menu__btn--close{
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
}
.menu__btn{
  color: var(--light);
}
