#ec-user-popover {
  margin-right: 4px;
}

.header__toggler{
  padding: 12px;
}
.menu__btn--close{
    padding-left: 8px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
}
.menu__btn{
  color: var(--light);
}
.breadcrumb {
  padding-left: 8px;
}
