<div class="ec-account">
  <div v-if="localCustomer._id" class="ec-account__logged">
    <h2 class="ec-account__greetings">
      <i class="fas fa-user-circle"></i>
      {{ i18n('Hello') + ' ' + nickname }}
    </h2>

    <div class="ec-account__logout">
      {{ i18n('IsNotYou') + '?'}}
      <a href="#" @click.prevent="logout">
        <i class="fas fa-sign-out-alt"></i>
        {{ i18n('Logout') }}
      </a>
    </div>

    <b-tabs
      class="ec-account__tabs"
      content-class="ec-account__content"
    >
      <b-tab :title="i18n('Registration')" active>
        <ec-account-form :customer.sync="localCustomer"/>
      </b-tab>
      <b-tab :title="i18n('Addresses')">
        <ec-addresses :customer.sync="localCustomer"/>
      </b-tab>
      <b-tab :title="i18n('Orders')">
        <ec-orders-list :ecomPassport="ecomPassport"/>
      </b-tab>
    </b-tabs>
  </div>

  <ec-identify
    v-else
    class="ec-account__login"
    @login="login"
    :acceptGuest="false"
  />
</div>
