<div class="ec-account">
  <div v-if="localCustomer._id" class="ec-account__logged">
    <h2 class="ec-account__greetings">
      <i class="fas fa-user-circle"></i>
      {{ i18n('Hello') + ' ' + nickname }}
    </h2>

    <div class="ec-account__logout">
      {{ i18n('IsNotYou') + '?'}}
      <a href="#" @click.prevent="logout">
        <i class="fas fa-sign-out-alt"></i>
        {{ i18n('Logout') }}
      </a>
    </div>

    <b-tabs
      class="ec-account__nav"
      content-class="ec-account__content"
    >
      <b-tab
        class="ec-account__registration"
        :title="i18n('Registration')"
        active
      >
        <div class="row">
          <div class="col-lg-8 col-md-7">
            <ec-account-form :customer.sync="localCustomer"/>
          </div>

          <div class="col-lg-4 col-md-5 mt-3 mt-md-0">
            <h4>{{ i18n('Addresses') }}</h4>
            <ec-addresses :customer.sync="localCustomer"/>
          </div>
        </div>
      </b-tab>

      <b-tab class="ec-account__orders" :title="i18n('Orders')">
        <ec-orders-list :ecomPassport="ecomPassport"/>
      </b-tab>
    </b-tabs>
  </div>

  <ec-identify
    v-else
    class="ec-account__login"
    @login="login"
    :acceptGuest="false"
  />
</div>
