<section class="ec-cart-item">
  <div class="ec-cart-item__name">
    <a v-if="item.slug" :href="`/${item.slug}`">
      {{ item.name }}
    </a>
    <template v-else>
      {{ item.name }}
    </template>
  </div>

  <div class="ec-cart-item__row">
    <component
      v-if="item.picture && Object.keys(item.picture).length"
      :is="item.slug ? 'a' : 'span'"
      :href="`/${item.slug}`"
    >
      <img
        :src="img.url"
        :alt="img.alt || item.name"
        class="ec-cart-item__picture"
      >
    </component>

    <div class="ec-cart-item__edit">
      <select
        v-if="!skipSelect && inputType === 'select'"
        class="custom-select"
        v-model.number="quantity"
      >
        <option
          v-for="qnt in (item.max_quantity || 10)"
          :value="qnt"
          :selected="qnt === quantity"
        >
          {{ qnt }}
        </option>
        <option :value="11" @click="skipSelect = true">
          11+
        </option>
      </select>
      <input
        v-else
        :type="inputType && inputType !== 'select' ? inputType : 'number'"
        class="ec-cart-item__quantity form-control"
        v-model.number="quantity"
      >
      <a
        class="ec-cart-item__remove"
        @click.prevent="$emit('remove')"
        href="#"
      >
        {{ dictionary('remove') }}
      </a>
    </div>

    <div class="ec-cart-item__prices">
      <div class="ec-cart-item__price-un" v-if="item.quantity > 1">
        {{ formatMoney(price) }}
        <small>/un</small>
      </div>
      {{ formatMoney(price * item.quantity) }}
    </div>
  </div>
</section>
