<div class="ec-checkout">
  <fade-transition :duration="{ enter: 600, leave: 0 }" group>
    <div class="ec-checkout__app" key="app" v-if="shownCheckoutStep">
      <nav class="ec-checkout__steps">
        <a
          href="#"
          class="ec-checkout__step"
          v-for="(label, i) in [null, 'Delivery', 'Payment', 'Summary']"
          v-if="label"
          :class="'ec-checkout__step--' + (
            shownCheckoutStep === i ? 'current'
              : enabledCheckoutStep < i ? 'disabled'
                : shownCheckoutStep > i ? 'past' : 'next'
          )"
          @click.prevent="toCheckoutStep = i"
        >
          <small v-if="i < 3">
            {{ i }}
          </small>
          {{ i18n(label) }}
        </a>
      </nav>

      <div class="row">
        <div
          class="ec-checkout__col col-lg-4"
          :class="enabledCheckoutStep === 1 ? 'offset-lg-4' : null"
        >
          <slide-y-up-transition :duration="{ enter: 300, leave: 0 }">
            <ec-shipping
              class="ec-checkout__shipping"
              v-if="shippingAddress"
              :key="`shipTo${localZipCode}`"
              :selectServices="true"
              :shippedItems="cart.items"
              :zipCode="localZipCode"
              @serviceSelected="selectShippingService"
            />
          </slide-y-up-transition>

          <ec-addresses
            :customer.sync="localCustomer"
            :zipCode="shippingZipCode"
            @addressSelected="selectAddress"
          />

          <div
            class="ec-checkout__overlay fade"
            :class="shownCheckoutStep !== 1 ? 'show' : null"
            @click="toCheckoutStep = 1"
          >
          </div>
        </div>

        <slide-x-right-transition
          tag="div"
          class="ec-checkout__col col-lg-4"
        >
          <div v-if="enabledCheckoutStep >= 2">
            <ec-payment
              :customer="localCustomer"
              :amount="amount"
              @checkout="data => $emit('checkout', data)"
            />

            <div
              class="ec-checkout__overlay fade"
              :class="shownCheckoutStep !== 2 ? 'show' : null"
              @click="toCheckoutStep = 2"
            >
            </div>
          </div>
        </slide-x-right-transition>

        <div class="ec-checkout__col col-lg-4">
          <div class="ec-checkout__summary card">
            <div class="card-body">
              <slot name="list" v-bind="{ items: cart.items }">
                <div
                  class="ec-checkout__item"
                  v-for="item in cart.items"
                  v-b-tooltip.right.hover
                  :title="name(item)"
                >
                  <img
                    v-if="img(item)"
                    :src="img(item).url"
                    :alt="img(item).alt"
                  />

                  <div>
                    <span class="badge badge-secondary">
                      {{ item.quantity }}
                    </span>
                    {{ formatMoney(price(item)) }}
                    <br>
                    <small>{{ name(item) }}</small>
                  </div>
                </div>
              </slot>
            </div>

            <div class="card-footer">
              <div class="ec-checkout__amount-row">
                <span>Subtotal</span>
                <div>{{ formatMoney(cart.subtotal) }}</div>
              </div>

              <div class="ec-checkout__amount-row">
                <span>{{ i18n('Freight') }}</span>
                <div>{{ formatMoney(amount.freight) }}</div>
              </div>

              <div class="ec-checkout__amount-row" v-if="amount.discount">
                <span>{{ i18n('Discount') }}</span>
                <div>{{ formatMoney(amount.discount) }}</div>
              </div>

              <div class="ec-checkout__amount-row ec-checkout__amount-row--total">
                <span>Total</span>
                <div>{{ formatMoney(amount.total) }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div key="login" v-else-if="!isUserIdentified">
      <slot name="login">
        <ec-identify
          @login="login"
          @update="isUserIdentified = true"
          :customerEmail.sync="customerEmail"
        />
      </slot>
    </div>

    <div key="account" v-else>
      <slot name="account">
        <p class="lead text-center">
          {{ i18n('RegisterToBuy') }}:
        </p>

        <ec-account-form
          :customer.sync="localCustomer"
          :short="true"
        />
      </slot>
    </div>
  </fade-transition>

  <div class="ec-checkout__back">
    <a :href="cartUrl" class="btn btn-sm btn-secondary">
      <i class="fas fa-chevron-left mr-1"></i>
      {{ i18n('BackToCart') }}
    </a>
  </div>
</div>
