<div class="ec-checkout">
  <fade-transition :duration="{ enter: 600, leave: 0 }" group>
    <div class="ec-checkout__app" key="app" v-if="shownCheckoutStep">
      <div class="row">
        <div class="col-lg-8">
          <nav class="ec-checkout__steps">
            <a
              href="#"
              class="ec-checkout__step"
              v-for="(label, i) in [null, 'Delivery', 'Payment']"
              v-if="label"
              :class="'ec-checkout__step--' + (
                shownCheckoutStep === i ? 'current'
                  : enabledCheckoutStep < i ? 'disabled'
                    : shownCheckoutStep > i ? 'past' : 'next'
              )"
              @click.prevent="toCheckoutStep = i"
            >
              <small>{{ i }}</small>
              {{ i18n(label) }}
            </a>
          </nav>

          <div class="row">
            <div
              class="ec-checkout__col col-md-6"
              :class="enabledCheckoutStep === 1 ? 'offset-lg-3' : null"
            >
              <div :class="shownCheckoutStep !== 1 ? 'd-none d-md-block' : null">
                <div v-if="shippingAddress" class="ec-checkout__shipping">
                  <slide-y-up-transition :duration="{ enter: 300, leave: 0 }" group>
                    <div
                      v-if="shippingService && !editShippingService"
                      key="service"
                    >
                      <div class="ec-checkout__shipping-method">
                        <small>{{ shippingService.label }}</small>
                        <ec-shipping-line :shippingLine="shippingService.shipping_line"/>
                      </div>

                      <a
                        href="#"
                        class="btn btn-sm btn-light"
                        @click.prevent="editShippingService = true"
                      >
                        <i class="fas fa-edit mr-1"></i>
                        {{ i18n('ChangeShippingMethod') }}
                      </a>
                    </div>

                    <ec-shipping
                      v-else
                      key="services"
                      :key="`shipTo${localZipCode}`"
                      :selectServices="true"
                      :shippedItems="cart.items"
                      :zipCode="localZipCode"
                      :zipInput="false"
                      @serviceSelected="service => $emit('update:shippingService', service)"
                    />
                  </slide-y-up-transition>
                </div>

                <ec-addresses
                  :customer.sync="localCustomer"
                  :zipCode="shippingZipCode"
                  @addressSelected="selectAddress"
                />

                <div
                  class="ec-checkout__overlay fade"
                  :class="shownCheckoutStep !== 1 ? 'show' : null"
                  @click="toCheckoutStep = 1"
                >
                </div>
              </div>
            </div>

            <slide-x-right-transition
              tag="div"
              class="ec-checkout__col col-md-6"
            >
              <div
                v-if="enabledCheckoutStep >= 2"
                :class="shownCheckoutStep !== 2 ? 'd-none d-md-block' : null"
              >
                <ec-payment
                  :customer="localCustomer"
                  :amount="amount"
                  @gatewaySelected="gateway => $emit('update:paymentGateway', gateway)"
                  @checkout="data => $emit('checkout', data)"
                />

                <div
                  class="ec-checkout__overlay fade"
                  :class="shownCheckoutStep !== 2 ? 'show' : null"
                  @click="toCheckoutStep = 2"
                >
                </div>
              </div>
            </slide-x-right-transition>
          </div>
        </div>

        <div class="col-lg-4 ec-checkout__info">
          <div class="ec-checkout__summary">
            <div>
              <h5>{{ i18n('Summary') }}</h5>

              <slot name="list" v-bind="{ items: cart.items }">
                <div
                  class="ec-checkout__item"
                  v-for="item in cart.items"
                >
                  <img
                    v-if="img(item)"
                    :src="img(item).url"
                    :alt="img(item).alt"
                  />

                  <div>
                    <span class="badge badge-secondary">
                      {{ item.quantity }}
                    </span>
                    {{ formatMoney(price(item)) }}
                    <br>
                    <small>{{ name(item) }}</small>
                  </div>
                </div>
              </slot>

              <div class="ec-checkout__amount">
                <div class="ec-checkout__amount__row">
                  <span>Subtotal</span>
                  <div>{{ formatMoney(cart.subtotal) }}</div>
                </div>

                <div class="ec-checkout__amount__row">
                  <span>
                    {{ i18n('Freight') }}
                    <small v-if="shippingAddress">
                      {{ shippingAddress.street }}
                      <template v-if="shippingAddress.number">
                        {{ shippingAddress.number }}
                      </template>
                    </small>
                  </span>
                  <div>{{ formatMoney(amount.freight) }}</div>
                </div>

                <div class="ec-checkout__amount__row" v-if="amount.discount">
                  <span>{{ i18n('Discount') }}</span>
                  <div>{{ formatMoney(amount.discount) }}</div>
                </div>

                <div class="ec-checkout__amount__row ec-checkout__amount__row--total">
                  <span>Total</span>
                  <div>{{ formatMoney(amount.total) }}</div>
                </div>
              </div>

              <div class="ec-checkout__user">
                <h5>{{ i18n('Buyer') }}</h5>
                <p>
                  {{ customerName }}
                  <br>
                  <small>{{ i18n('DocNumber') }}:</small>
                  {{ customer.doc_number }}
                  <br>
                  <small>{{ i18n('ContactPhone') }}:</small>
                  {{ customerPhone }}
                </p>

                <button
                  class="btn btn-sm btn-outline-secondary"
                  type="button"
                  @click="editAccount = true"
                >
                  <i class="fas fa-pencil-alt mr-1"></i>
                  {{ i18n('MyAccount') }}
                </button>
              </div>
            </div>

            <div class="ec-checkout__back">
              <a :href="cartUrl" class="btn btn-sm btn-light">
                <i class="fas fa-chevron-left mr-1"></i>
                {{ i18n('BackToCart') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div key="login" v-else-if="!isUserIdentified">
      <slot name="login">
        <ec-identify
          @login="login"
          @update="isUserIdentified = true"
          :customerEmail.sync="customerEmail"
        />
      </slot>
    </div>

    <div key="account" v-else>
      <slot name="account">
        <p class="lead text-center">
          {{ i18n('RegisterToBuy') }}:
        </p>

        <ec-account-form
          :customer.sync="localCustomer"
          :short="true"
        />
      </slot>
    </div>
  </fade-transition>
</div>
