<div class="ec-minicart">
  <slot name="button">
    <button
      type="button"
      class="btn btn-lg btn-light"
      :title="dictionary('shopping_cart')"
      @click="$emit('update:showCart', true)"
      v-b-tooltip.hover.left
    >
      <i class="fas fa-shopping-bag"></i>
    </button>
  </slot>

  <slide-x-right-transition ref="sidebar">
    <aside
      v-show="showCart"
      class="ec-minicart__sidebar card shadow"
    >
      <slot name="header">
        <header class="card-header">
          {{ dictionary('my_cart') }}
          <button
            type="button"
            class="close"
            :aria-label="dictionary('close')"
            @click="$emit('update:showCart', false)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </header>
      </slot>

      <article class="card-body">
        <slide-y-up-transition group>
          <div
            class="ec-minicart__list"
            v-if="cart.items.length"
            key="list"
          >
            <slot name="list">
            </slot>
          </div>

          <div
            v-else
            class="ec-minicart__empty"
            key="empty"
          >
            <slot name="empty">
              <p class="lead text-muted">
                {{ dictionary('empty_cart') }} ...
              </p>
              <a
                class="btn btn-block btn-primary"
                href="#"
                @click.prevent="$emit('update:showCart', false)"
              >
                <span class="mr-1">
                  <i class="fas fa-arrow-left"></i>
                </span>
                {{ dictionary('continue_shopping') }}
              </a>
            </slot>
          </div>
        </slide-y-up-transition>
      </article>

      <slot name="footer">
        <footer class="card-footer" v-if="cart.subtotal || cart.items.length">
          <div class="ec-minicart__summary">
            <span>Subtotal</span>
            <strong class="ec-minicart__subtotal">
              {{ formatMoney(cart.subtotal) }}
            </strong>
          </div>

          <a
            class="ec-minicart__btn-checkout btn btn-block btn-primary"
            role="button"
            :href="checkoutUrl"
          >
            <span class="mr-1">
              <i class="fas fa-check"></i>
            </span>
            {{ dictionary('checkout') }}
          </a>
          <a
            class="ec-minicart__btn-cart btn btn-block btn-outline-secondary"
            role="button"
            :href="cartUrl"
          >
            {{ dictionary('see_cart') }}
          </a>
        </footer>
      </slot>
    </aside>
  </slide-x-right-transition>
</div>
