<div class="ec-orders-list">
  <ul v-if="ordersList.length" v-for="(order, index) in ordersList">
    <li>
      <span>{{formatDate(order.created_at)}}</span>
      <router-link
        :to="`/account/orders/${order.number}`"
        >
        <button class="btn btn-sm btn-light"><i class="fas fa-chevron-right mr-1"></i>Ver pedido #{{order.number}}</button>
      </router-link>
    </li>
    <li>
      <span>{{formatMoney(order.amount.total)}}</span>
      <span :class="'ec-orders-list-status-' + order.status">Cancelado</span>
    </li>
  </ul>
</div>
