<div class="ec-payment">
  <slide-y-up-transition group>
    <div
      v-if="waiting"
      key="waiting"
      class="spinner-border spinner-border-sm"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <div v-else key="gateways" class="list-group">
      <a
        href="#"
        class="ec-payment__gateway list-group-item list-group-item-action"
        v-for="(gateway, i) in paymentGateways"
        v-show="selectedGateway === -1 || selectedGateway === i"
        :key="gateway.app_id + gateway.payment_method.code + i"
        @click.prevent="selectedGateway = selectedGateway === i ? -1 : i"
        :data-intermediator="gateway.intermediator && gateway.intermediator.code"
      >
        <span class="ec-payment__head">
          <span class="ec-payment__title">
            <span
              class="ec-payment__back"
              v-if="selectedGateway === i"
              :aria-label="i18n('ChangePaymentMethod')"
            >
              <i class="fas fa-chevron-left"></i>
            </span>
            {{ gateway.label }}
          </span>

          <span>
            <span class="ec-payment__badges">
              <span
                class="badge badge-success ec-payment__discount"
                v-if="gateway.discount && gateway.discount.value > 0"
              >
                <template v-if="gateway.discount.type === 'percentage'">
                  {{ gateway.discount.value }}%
                </template>
                <template v-else>
                  {{ formatMoney(gateway.discount.value) }}
                </template>
                {{ i18n('OfDiscount') }}
                <template v-if="gateway.discount.apply_at === 'freight'">
                  {{ i18n('OnFreight') }}
                </template>
              </span>

              <span
                class="badge badge-info ec-payment__installment"
                v-else-if="gateway.installment_option"
              >
                {{ i18n('UpTo') }}
                {{ gateway.installment_option.number }}x
                <template v-if="!gateway.installment_option.tax">
                  {{ i18n('InterestFree') }}
                </template>
              </span>
            </span>

            <span class="ec-payment__icon">
              <i class="fas" :class="`fa-${gatewayIcon(gateway)}`"></i>
            </span>
          </span>
        </span>

        <img
          class="ec-payment__stamp"
          v-if="gateway.icon"
          :src="gateway.icon"
        />

        <small
          v-else-if="gateway.intermediator && gateway.intermediator.name"
          class="ec-payment__intermediator"
        >
          {{ gateway.intermediator.name }}
        </small>
      </a>

      <fade-transition>
        <div
          class="ec-payment__method list-group-item"
          v-if="selectedGateway > -1"
        >
          <p
            class="ec-payment__text"
            v-if="paymentGateway.text"
            v-html="paymentGateway.text"
          ></p>

          <ec-credit-card
            v-if="paymentGateway.payment_method.code === 'credit_card'"
            :amount="amount"
            :checkHolder="customerName"
            :isCompany="isCompany"
            :installmentOptions="paymentGateway.installment_options"
            :jsClient="paymentGateway.js_client"
            @submitCard="checkout"
          />

          <div v-else>
            <p class="ec-payment__total">
              {{ i18n('Total') }}:
              <strong>{{ formatMoney(amount.total) }}</strong>
            </p>

            <button
              class="btn btn-success btn-lg btn-block ec-payment__pay"
              @click="() => { checkout() }"
            >
              <i class="fas fa-check mr-1"></i>
              {{ i18n(
                paymentGateway.payment_method.code === 'banking_billet'
                  ? 'GenerateBillet' : 'Checkout'
              ) }}
            </button>
          </div>

          <hr>
          <button
            class="btn btn-sm btn-light"
            type="button"
            @click="selectedGateway = -1"
          >
            <i class="fa fa-pencil-alt mr-1"></i>
            {{ i18n('ChangePaymentMethod') }}
          </button>
        </div>
      </fade-transition>
    </div>
  </slide-y-up-transition>
</div>
