<div class="ec-product">
  <fade-transition :duration="700">
    <div class="row" v-if="body._id">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <ec-gallery
          :sliderOptions="{ rewind: true }"
          :images="body.pictures"
        />
      </div>

      <div class="col">
        <h1 class="ec-product__name">
          {{ body.name }}
        </h1>
        <p class="ec-product__sku">
          COD: {{ body.sku }}
        </p>

        <p v-if="!body.available" class="ec-product__unavailable">
          Indisponível
        </p>
        <p v-else-if="!inStock(body)" class="ec-product__out-of-stock">
          Sem estoque
        </p>
        <p v-else class="ec-product__prices">
          <span v-if="onPromotion(body)">
            {{ dictionary('from') }}
            {{ formatMoney(body.base_price) }}
            {{ dictionary('to') }}
          </span>
          <strong class="ec-product__price">
            {{ formatMoney(body.price) }}
          </strong>
          ou 10x de
          <strong>
            {{ formatMoney(body.price / 10) }}
          </strong>
        </p>

        <slot name="buy">
          <button
            type="button"
            class="ec-product__buy btn btn-lg btn-primary"
            @click="$emit('buy')"
          >
            <i class="fas fa-shopping-bag mr-1"></i>
            Buy
          </button>
        </slot>

        <p v-if="body.short_description" class="ec-product__info lead">
          <%= body.short_description %>
        </p>
      </div>
    </div>
  </fade-transition>

  <template v-if="!body._id">
    <slot />
  </template>
</div>
