<div class="ec-product-card">
  <fade-transition :duration="700">
    <section v-if="body._id">
      <div v-if="onPromotion(body)" class="ec-product-card__offer-stamp">
        -<b>{{ Math.round(((body.base_price - price(body)) * 100) / body.base_price) }}</b>%
      </div>
      <a
        class="ec-product-card__link"
        :href="`/${body.slug}`"
        :title="name(body)"
      >
        <div class="ec-product-card__pictures">
          <template v-if="body.pictures && body.pictures.length">
            <ec-image
              class="ec-product-card__picture"
              v-for="(picture, index) in body.pictures.slice(0, 2)"
              :key="index"
              :src="picture"
              :pictureBreakpoint="300"
            />
          </template>
          <ec-image v-else class="ec-product-card__picture"/>
        </div>

        <h3 class="ec-product-card__name">
          {{ name(body) }}
        </h3>
      </a>

      <p v-if="!body.available || !body.visible" class="badge badge-warning">
        {{ dictionary('unavailable') }}
      </p>
      <p v-else-if="!inStock(body)" class="badge badge-dark">
        {{ dictionary('out_of_stock') }}
      </p>

      <template v-else>
        <ec-prices
          class="ec-product-card__prices"
          :lang="lang"
          :product="body"
        />

        <div
          @click="$emit('buy', { product: body })"
          class="ec-product-card__buy fade"
        >
          <slot name="buy">
            <button type="button" class="btn btn-block btn-primary">
              <i class="fas fa-shopping-bag mr-1"></i>
              {{ strBuy }}
            </button>
          </slot>
        </div>
      </template>
    </section>
  </fade-transition>

  <template v-if="!body._id">
    <slot />
    <div class="alert alert-warning small" role="alert" v-if="error">
      {{ error }}
    </div>
  </template>
</div>
