<div
  class="ec-prices"
  :class="{ 'ec-prices--literal': literal, 'ec-prices--big': big }"
>
  <span v-if="onPromotion(product)" class="ec-prices__compare">
    <template v-if="literal">
      {{ dictionary('from') }}
      <s>{{ formatMoney(product.base_price) }}</s>
      {{ dictionary('to') }}
    </template>
    <s v-else>{{ formatMoney(product.base_price) }}</s>
  </span>

  <strong class="ec-prices__value">
    {{ formatMoney(price) }}
  </strong>

  <slide-y-up-transition group>
    <div
      key="installments"
      v-if="interestFreeInstallments > 1"
      class="ec-prices__installments"
    >
      <small v-if="literal">
        {{ dictionary('or') }}
      </small>
      {{ interestFreeInstallments }}x
      <strong>
        {{ formatMoney(price / interestFreeInstallments) }}
      </strong>
      <small v-if="literal">
        {{ dictionary('interest_free') }}
      </small>
    </div>

    <div
      key="discount"
      v-if="typeof priceWithDiscount === 'number' && priceWithDiscount < price"
      class="ec-prices__discount"
    >
      <small v-if="literal">
        {{ dictionary('or') }}
      </small>
      <strong>
        {{ formatMoney(priceWithDiscount) }}
      </strong>
      <small v-if="typeof discountLabel === 'string'">
        {{ discountLabel }}
      </small>
    </div>
  </slide-y-up-transition>
</div>
