<div class="ec-search">
  <slot name="input">
    <input type="search" class="form-control">
  </slot>

  <template v-if="elInput">
    <b-popover
      triggers="focus"
      :custom-class="'ec-search__popover'"
      :target="elInput.id"
      :show.sync="showPopover"
      :placement="popoverPlacement"
      :fallback-placement="[popoverPlacement]"
    >
      <div
        v-if="searching"
        class="spinner-border spinner-border-sm my-2"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>

      <slide-y-up-transition :duration="{ enter: 300, leave: 50 }">
        <div v-if="!searching && searchedTerm" class="ec-search__info">
          <template v-if="suggestedTerm">
            {{ dictionary('did_you_mean') }}
            <a
              class="ec-search__suggestion"
              href="#"
              @click.prevent="setSearchTerm(suggestedTerm)"
              v-text="suggestedTerm"
            />
            ?
          </template>

          <span v-if="!totalSearchResults" class="ec-search__no-results">
            {{ dictionary('no_results_for') }}
            <em>{{ searchedTerm }}</em>
          </span>
          <span v-else class="ec-search__count-results">
            <strong>{{ totalSearchResults }}</strong>
            {{ dictionary('total_results_for') }}
            <em>{{ searchedTerm }}</em>
            <a
              href="#"
              @click.prevent="setSearchTerm(searchedTerm)"
              v-if="totalSearchResults > maxItems"
              v-text="`+${dictionary('see_all')}`"
            />
          </span>
        </div>
      </slide-y-up-transition>

      <slide-y-up-transition>
        <div v-if="history.length" class="ec-search__history">
          <i class="fas fa-history"></i>
          <a
            class="ec-search__history__link"
            v-for="term in history"
            href="#"
            @click.prevent="setSearchTerm(term)"
            v-text="term"
          />
        </div>
      </slide-y-up-transition>

      <slide-y-up-transition :duration="{ enter: 600, leave: 0 }">
        <div
          v-if="!searching && suggestedItems.length"
          class="ec-search__items"
        >
          <ec-product-card
            class="ec-search__item"
            v-for="product in suggestedItems"
            :key="product._id"
            :lang="lang"
            :storeId="storeId"
            :product="product"
          />
        </div>
      </slide-y-up-transition>
    </b-popover>
  </template>
</div>
