<div class="ec-variations" v-if="product.variations">
  <div
    v-for="(options, grid, index) in variationsGrids"
    :class="`ec-variations__grid ec-variations__grid--${grid}`"
  >
    <h5>{{ getGridTitle(grid) }}</h5>

    <button
      v-for="optionText in options"
      class="ec-variations__option btn btn-light"
      :class="selectedOptions[grid] === optionText ? 'ec-variations__option--selected' : null"
      :style="grid === 'colors' ? `background:${getSpecValue(optionText, grid)}` : null"
      @click="() => selectOption(optionText, grid, index)"
      :disabled="!filteredGrids[grid].includes(optionText)"
    >
      {{ optionText }}
    </button>
  </div>
</div>
