.ecom-search {
  transition: box-shadow 0.15s linear;

  &__input-group {
    position: relative;

    &--focus {
      z-index: 9999;

      input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__input {
    z-index: 1;
    padding-right: 3.3rem;

    @media (max-width: 767.98px) {
      padding: .3rem 2.3rem .3rem .6rem;
      font-size: 1rem;
      height: auto;
      line-height: 1.5;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
    padding: 0 .75rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.15s ease-out;

    > span {
      padding-top: .15rem;
      display: inline-block;
    }

    .fa-search,
    .fa-times {
      width: 1.8rem;
      height: 1.8rem;
    }

    @media (max-width: 767.98px) {
      padding: 0 .55rem;

      > span {
        padding-top: .1rem;
      }

      .fa-search,
      .fa-times {
        width: 1.35rem;
        height: 1.35rem;
      }
    }
  }

  &__suggestions {
    position: relative;
    z-index: 9998;

    &-overlay {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      opacity: .45;
    }

    &-box {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &-container:empty {
      display: none;
    }
  }

  &__info {
    &-icon:only-child {
      display: none;
    }
  }

  &__info,
  &__history {
    @media (max-width: 767.98px) {
      font-size: 85%;
    }
  }

  &__term-link {
    display: inline-block;
  }

  &__item {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    a {
      display: inline-block;
    }

    &-name {
      font-size: 85%;
      display: block;
      overflow: hidden;
    }

    &-price {
      display: inline-block;

      &--compare {
        font-size: 85%;
        margin-right: .5rem;
        text-decoration: line-through;
        opacity: .8;
      }
    }

    &-info {
      @media (min-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        flex-grow: 1;
      }
    }

    &-picture {
      @media (min-width: 576px) and (max-width: 767.98px) {
        max-height: 9rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    @media (max-width: 575.98px) {
      text-align: right;

      &-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      &-info {
        flex: 0 0 70%;
      }

      &-name {
        font-size: 80%;
      }
    }
  }

  &-fade {
    &-enter-active,
    &-leave-active {
      transition: opacity .15s linear;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }
}
