a {
  color: var(--primary);

  @media (hover: hover) {
    &:hover {
      color: var(--primary-lightest);
    }
  }
}

#ec-user-popover {
  margin-right: 0.5rem;
}

.menu__btn--close {
  color: var(--primary);
}
