& {
  --text-muted: #{$text-muted};

  --font-light: #{$font-weight-light};
  --font-normal: #{$font-weight-normal};
  --font-bold: #{$font-weight-bold};

  --line-height: #{$line-height-base};
  --line-height-lg: #{$line-height-lg};
  --line-height-sm: #{$line-height-sm};

  --font-size: #{$font-size-base};
  --font-size-lg: #{$font-size-lg};
  --font-size-sm: #{$font-size-sm};

  --h1: #{$h1-font-size};
  --h2: #{$h2-font-size};
  --h3: #{$h3-font-size};
  --h4: #{$h4-font-size};
  --h5: #{$h5-font-size};
  --h6: #{$h6-font-size};

  // Use `inspect` for lists so that quoted items keep the quotes
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};
}
