<% if (options.gmcMerchantId) {
  let lang = _.ecomUtils.$ecomConfig.get('lang')
  if (lang.indexOf('_') > -1) {
    const [idiom, country] = lang.split('_')
    lang = `${idiom}_${country.toUpperCase()}`
  }
  %>

  <div id="gmc-ratings-badge"><div></div></div>
  <script>
    window.renderGmcBadge = function () {
      var $ratingBadge = document.getElementById('gmc-ratings-badge').firstChild;
      window.gapi.load('ratingbadge', function () {
        window.gapi.ratingbadge.render(
          $ratingBadge, {
            merchant_id: <%- options.gmcMerchantId %>,
            position: "<%- (options.badgePosition || 'BOTTOM_LEFT') %>"
          });
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderGmcBadge" async defer></script>
  <script>
    window.___gcfg = {
      lang: "<%- lang %>"
    };
  </script>
<% } %>
