// Brand colors
$primary:   #e83e8c !default;
$secondary: #333333 !default;

// Enable RFS by default
$enable-responsive-font-sizes: true !default;

// Additional defaults
$line-height-sm: 1.2 !default;
