.demo {
  @import "../../@ecomplus/storefront-twbs/scss/presets/defaults";
  @import "../../@ecomplus/storefront-twbs/scss/presets/colors";

  @import "../../@ecomplus/storefront-twbs/scss/presets/vars/colors";

  @import "../../@ecomplus/storefront-twbs/scss/functions";
  @import "../../@ecomplus/storefront-twbs/scss/variables";
  @import "../../@ecomplus/storefront-twbs/scss/mixins";

  @import "../../@ecomplus/storefront-twbs/scss/vars";

  @import "../../@ecomplus/storefront-twbs/scss/styles";

  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;

  &::before {
    content: "DEMO";
    display: block;
    font-size: .7rem;
    color: #999;
    font-weight: 700;
    margin: 0 .5rem .5rem;
  }
}
