<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('../@/head', { _ }) %>
</head>

<body>
  <%- await include('../@/views/cms', { _ }) %>
</body>

</html>
