// Theming Bootstrap:
// https://getbootstrap.com/docs/4.5/getting-started/theming/

// Preset custom SCSS variables and functions
@import "presets/defaults";
@import "presets/colors";

// Colors and derivatives CSS vars
:root {
  @import "presets/vars/colors";
}

// Set brand colors to CSS native vars
$primary:      var(--primary);
$secondary:    var(--secondary);
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary":    $primary,
    "secondary":  $secondary
  )
);

// Required Bootstrap SASS
@import "functions";
@import "variables";
@import "mixins";

// Custom root with additional CSS vars
:root {
  @import "vars";
}

// Bootstrap layout and content styles
// @import "bootstrap/scss/root";
@import "reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";

// Bootstrap components
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "components/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "components/badge";
// @import "bootstrap/scss/jumbotron";
@import "components/alert";
@import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
// @import "bootstrap/scss/print";

// Additional Bootstrap utilities
// @import "bootstrap/scss/utilities/align";
// @import "bootstrap/scss/utilities/background";
// @import "bootstrap/scss/utilities/borders";
@import "bootstrap/scss/utilities/clearfix";
@import "bootstrap/scss/utilities/display";
@import "bootstrap/scss/utilities/embed";
// @import "bootstrap/scss/utilities/flex";
// @import "bootstrap/scss/utilities/float";
// @import "bootstrap/scss/utilities/overflow";
@import "bootstrap/scss/utilities/position";
@import "bootstrap/scss/utilities/screenreaders";
// @import "bootstrap/scss/utilities/shadows";
// @import "bootstrap/scss/utilities/sizing";
@import "bootstrap/scss/utilities/stretched-link";
// @import "bootstrap/scss/utilities/spacing";
// @import "bootstrap/scss/utilities/text";
// @import "bootstrap/scss/utilities/visibility";

// Customized utilities
@import "utilities/spacing";
@import "utilities/text";

// Animate.css base styles and selected animations
@import "animate";

// Some Font Awesome icons web fonts
@import "icons";

// Additional override styles
@import "custom";
